/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**

 These are global styles loaded before Foundation

 * GLOBAL...............global custom classes
 */





* {
	@include box-sizing(border-box);
	*behavior: url(../js/ie/boxsizing.htc);
}

html, body {
	min-height: 100%;
}

/*Font-Awesome global icon padding*/
i {
	padding-right: 10px;
}

/*custom css for Typekit asynchronous loading*/
.wf-loading {
	visibility: hidden;
}
.wf-active {
	visibility: visible;
}

::-moz-selection {
		color: white;
		background: $blueGray;
}
::selection {
		color: white;
		background: $blueGray;
}

ul.pagination li.current a {
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
			border-radius: 3px;
}

ul.pagination li:hover a, ul.pagination li a:focus {
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
			border-radius: 3px;
}
