/*------------------------------------*\
	$CONTENTS
\*------------------------------------*/
/**
 * CUSTOM DROPDOWNS...............custom form overrides
 */




/*------------------------------------*\
	$CUSTOM DROPDOWNS
\*------------------------------------*/

.search-bar form.custom .custom.dropdown {
	@media #{$medium} {
		margin-bottom: 0;
	}
}

.list-view-filter form.custom .custom.dropdown {
	@media #{$small} {
		margin-bottom: 0;
	}
}

form.custom .custom.dropdown ul li:hover {
	background-color: $blueGray;
	color: $white;
}

form.custom .custom.dropdown ul li.selected:hover {
	background: $body-bg;
	cursor: "none";
	color: $body-font-color;
}

form.custom .custom.checkbox.checked:before {
	margin-top: 5px;
	font-size: 20px;
}
