/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * GLOBAL...............global styles
 * ACTIVE STYLES...............style on .active class
 */



 /*------------------------------------*\
     $GLOBAL
 \*------------------------------------*/

[role="complementary"], [role="main"] {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

[role="main"] {
  width: 100%;
  margin-left: 0;
  float: left;
  clear: both;
  margin-left: 0px;
  overflow: hidden;
  @extend .box-shadow;
}

[role="complementary"] {
  width: 300px;
  margin-right: -200%;
  float: left;
}





/*------------------------------------*\
    $ACTIVE
\*------------------------------------*/

.active [role="main"] {
  margin-left: -310px;
  @media #{$medium-up} {
    margin-left: -300px;
  }
}
.active [role="complementary"] {
  margin-left: 0;
  width: 300px;
}
