/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * GENERAL OVERRIDES............general restyles
 * BUTTON OVERRIDES...............restyling foundation buttons
 * DROPDOWN BUTTON OVERRIDES...............restyling foundation's dropdown buttons
 */





/*------------------------------------*\
		$GENERAL OVERRIDES
\*------------------------------------*/

.body-wrapper {
	@include grid-column(12);
	margin-top: 20px;
}

ul, ol {
	margin-left: 0;
}



/*------------------------------------*\
		$BUTTON OVERRIDES
\*------------------------------------*/

a.button {
letter-spacing: .1em;
}

.button.bluegray {
	background-color: $accent-color;
	color: $white;
}

.button.bluegray:hover {
	background-color: darken($accent-color, 10);
}




/*------------------------------------*\
   $DROPDOWN OVERRIDES
\*------------------------------------*/

.f-dropdown li a {
	color: $body-font-color;
}


/*------------------------------------*\
	$SELECT2 OVERRIDES
\*------------------------------------*/

.select2-container-multi .select2-choices .select2-search-field input {
	margin: 0;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	font-size: 14px;
}
