/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * GENERAL OVERRIDES............general restyles
 * BUTTON OVERRIDES...............restyling foundation buttons
 */





/*------------------------------------*\
    $GENERAL OVERRIDES
\*------------------------------------*/

.body-wrapper {
  @include grid-column(12);
  margin-top: 20px;
}

/*------------------------------------*\
    $BUTTON OVERRIDES
\*------------------------------------*/

a.button {
letter-spacing: .1em;
}

button.secondary, .button.secondary {
  @include transition (background-color 0ms ease-in-out);
}

button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  background-color: $blueGray;
  color: $white;
  @include transition (background-color 0ms ease-in-out);
}
