/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**

 Extends _post-details.scss & _post-overlay.scss

 * GLOBAL...............global styles
 * POST HEADER...............post header, title, categories and actions
 * POST BODY..................post images, excerpt and meta
 */


/*------------------------------------*\
		$GLOBAL
\*------------------------------------*/
.post {
	@include grid-column(12, $collapse: true);
	h5, h6 {
		line-height: 1em;
	}
}




/*------------------------------------*\
		$POST HEADER
\*------------------------------------*/


.post-header {
	@include grid-column(12);
	background-color: $blueGray;
	padding: 1em;
	@extend .box-shadow;
	z-index: 1;
	h5, h6 {
		color: $white;
		margin: 5px 0;
	}
			@media #{$medium} {
				padding: 1em;
			}
	.post-actions .button {
		border: 0px;
	}
}

.post-category-marker {
	@include grid-column(2, $collapse: true);
	@media #{$small} {
		@include grid-column(1, $collapse: true);
	}
}

.post-title {
	@include grid-column(10, $collapse: true);
	margin-bottom: 20px;
	@media #{$small} {
		@include grid-column(11);
		margin-bottom: 0px;
	}
	@media #{$medium} {
		@include grid-column(7);
	}
}

.post-actions-wrapper {
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		margin-top: 20px;
	}
	@media #{$medium} {
		@include grid-column(4, $collapse: true);
		margin-top: 0;
	}
}

.post-actions {
	float: right;
	margin: 0;
	li {
		display: inline;
	}
}





/*------------------------------------*\
		$POST BODY
\*------------------------------------*/


.post-body {
	@include grid-column(12);
	background-color: $white;
	padding: 1em;
	margin-bottom: 20px;
	@extend .box-shadow;
}

.post-image {
	@include grid-column(12, $collapse: true);
	margin-bottom: 20px;
	@media #{$small} {
		@include grid-column(4, $collapse: true);
		margin-bottom: 0;
	}
	img {
		@include thumb;
		margin-bottom: 20px;
	}
}

.post-details {
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		@include grid-column(8);
	}
}

.post-author {
	@include grid-column(12);
	padding: 0;
	@media #{$small} {
		padding-right: 0;
	}
}

.post-excerpt {
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		padding-right: 0;
	}
}

.post-meta {
	@include grid-column(12, $collapse: true);
	p {
		font-size: $small-font-size;
		color: $subheader-font-color;
		margin-bottom: .7em;
	}
}

.post-location-meta {
	@include grid-column(12, $collapse: true);
	clear: both;
}

.post-location {
	font-weight: bold;
}

.post-time-meta {
	@include grid-column(12, $collapse: true);
}

.post-privacy-status {
	@include grid-column(12, $collapse: true);
	margin-bottom: 20px;
}

.post-categories {
	@include grid-column(6, $collapse: true);
	ul {
		margin: 0;
		a {
			color: $subheader-font-color
		}
		li {
			font-size: $small-font-size;
			padding-right: 5px;
			margin-bottom: .7em;
		}
	}
	@media #{$small} {
		@include grid-column(12, $collapse: true);
	}
}

.post-details-button {
	@include grid-column(5, $collapse: true);
	margin-top: 10px;
	float: right;
	.button {
		float: right;
	}
	@media #{$small} {
		@include grid-column(4, $collapse: true);
		margin-top: 7px;
		.button {
			float: right;
		}
	}
}
