/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * SEARCH BAR...............search bar body
 * SEARCH FORM FIELDS...............search bar input and dropdown fields
 */





/*------------------------------------*\
		$SEARCH BAR
\*------------------------------------*/
.search-bar {
	@include grid-column(12);
	@include box-shadow(0px 1px 2px rgba(lighten($darkGray, 30), 0.5));;
	background: lighten( saturate( adjust-hue( $accent-color, -10deg ), 48 ), 14 );
	width: 100%;
	border-top: 3px solid darken($primary-color, 5%);
	padding-top: 2em;
}

.search-form-wrapper {
	@include grid-row;
}




/*------------------------------------*\
		$SEARCH FORM FIELDS
\*------------------------------------*/

%search-field-wrapper,
.search-field-wrapper {
	@include grid-column(12, $collapse: true);
}

.search-field-wrapper--home {
	@extend %search-field-wrapper;
	@media #{$small} {
		@include grid-column(6, $float: right, $center: true);
		border-top: none;
	}
	@media #{$medium-up} {
		@include grid-column(4, $float: right, $center: true);
	}
}

.search-field {
	@include grid-column(10, $collapse: true);
/*	@media #{$mobile-up} {
		@include grid-column(6);
	}*/
	@media #{$small} {
		@include grid-column(9, $collapse: true);
	}
	@media #{$medium} {
		@include grid-column(9, $collapse: true);
	}
}

.search-field input[type="search"] {
	@include border-radius($global-radius 0 0 $global-radius);
	// @media #{$small} {
	// 		@include border-radius($global-radius 0 0 $global-radius);
	// 	}
	}

.search-bar-button {
	@include grid-column(2, $collapse: true);
/*	@media #{$small} {
		@include grid-column(12)
	}*/
	@media #{$small} {
		@include grid-column(3, $collapse: true)
	}
	@media #{$medium} {
		@include grid-column(3, $collapse: true);
	}
	button {
		@include button($bg: $success-color, $full-width: true);
		@include prefix-postfix-base;
		@include postfix($bg: $success-color, $is-button: true);
		height: 2.9em;
		font-size: 0.875em;
		border-width: 0;
		@include radius (0 $global-radius $global-radius 0);
		// @media #{$small} {
		// 	@include radius (0 $global-radius $global-radius 0);
		// }
		i {
			font-size: 1.2em;
			padding: 0;
		}
	}
}

.location-field {
	@include grid-column(12);
	@media #{$mobile-up} {
		@include grid-column(6);
	}
	@media #{$small} {
		@include grid-column(6)
	}
	@media #{$medium} {
		@include grid-column(2, $collapse: true);
	}
}

.categories-select {
	@include grid-column(12);
	@media #{$mobile-up} {
		@include grid-column(4);
	}
		select {
			@include border-radius($global-radius);
		}
	@media #{$small} {
		@include grid-column(4);
	}
	@media #{$medium} {
		@include grid-column(2, $collapse: true);
		select {
			@include border-radius(0px);
		}
	}
}

.sets-select {
	@include grid-column(12);
	@media #{$mobile-up} {
		@include grid-column(4);
	}
		select {
			@include border-radius($global-radius);
		}
	@media #{$small} {
		@include grid-column(4);
	}
	@media #{$medium} {
		@include grid-column(2, $collapse: true);
		select {
			@include border-radius(0px);
		}
	}
}

.time-select {
	@include grid-column(12);
	@media #{$mobile-up} {
		@include grid-column(4);
	}
		select {
			@include border-radius($global-radius);
		}
	@media #{$small} {
		@include grid-column(4);
	}
	@media #{$medium} {
		@include grid-column(2, $collapse: true);
		select {
			@include border-radius(0px);
		}
	}
}
