/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * SEARCH BAR...............search bar body
 * SEARCH FORM FIELDS...............search bar input and dropdown fields
 */





/*------------------------------------*\
		$SEARCH BAR
\*------------------------------------*/
.search-bar {
	@include grid-column(12);
	box-shadow: 0px 1px 2px rgba(lighten($darkGray, 30), 0.5);
	background: lighten( saturate( adjust-hue( $accent-color, -10deg ), 48 ), 14 );
	width: 100%;
	padding-top: 2em;
}

.search-form-wrapper {
	@include grid-row;
}




/*------------------------------------*\
		$SEARCH FORM FIELDS
\*------------------------------------*/

.location-field {
	@include grid-column(12);
	@media #{$mobile-up} {
		@include grid-column(4);
	}
	@media #{$small} {
		@include grid-column(3);
		input[type="text"] {
			@include border-radius($global-radius);
			height: 40px;
		}
	}
}

.tags-select {
	@include grid-column(12);
	margin: 0 0 1rem 0;
	@media #{$mobile-up} {
		@include grid-column(4);
	}
		select {
			@include border-radius($global-radius);
		}
		.select2-container {
			width: 100%;
			.select2-choices {
				@include border-radius($global-radius);
				padding: 4px 4px;
				min-height: 40px;
				[class*='fa-'] {
					font-size: 15px;
					padding: 0 0 0 5px;
				}
			}
		}
	@media #{$small} {
		@include grid-column(3);
	}
}

.sets-select {
	display: none; /* TODO: remove once sets are active */
	@include grid-column(12);
	@media #{$mobile-up} {
		@include grid-column(6);
		clear: both;
	}
		select {
			@include border-radius($global-radius);
		}
	@media #{$small} {
		@include grid-column(3, $collapse: true);
		clear: none;
	}
}

.time-select {
	@include grid-column(12);
	@media #{$mobile-up} {
		@include grid-column(4);
	}
	@media #{$small} {
		@include grid-column(3, $collapse: true);
	}
		input[type="text"] {
			@include border-radius($global-radius);
			height: 40px;
			width: 50%;
			&.time-from {
				@include grid-column(12);
				@include border-radius($global-radius 0 0 $global-radius);
				@media #{$mobile-up} {
					@include grid-column(6);
				}
			}
			&.time-to {
				border-left: 0;
				@include grid-column(12);
				@include border-radius(0 $global-radius $global-radius 0);
				@media #{$mobile-up} {
					@include grid-column(6);
				}
			}
		}
}

%search-field-wrapper,
.search-field-wrapper {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(3);
		border-top: none;
	}
}

.search-field {
	@include grid-column(10, $collapse: true);
	@media #{$small} {
		@include grid-column(9, $collapse: true);
	}
	@media #{$medium} {
		@include grid-column(9, $collapse: true);
	}
}

.search-field input[type="search"] {
	@include border-radius($global-radius 0 0 $global-radius);
	height: 40px;
	}

.search-bar-button {
	@include grid-column(2, $collapse: true);
	@media #{$small} {
		@include grid-column(3, $collapse: true)
	}
	@media #{$medium} {
		@include grid-column(3, $collapse: true);
	}
	button {
		@include button($bg: $success-color, $full-width: true);
		@include prefix-postfix-base;
		@include postfix($bg: $success-color, $is-button: true);
		height: 40px;
		font-size: 0.875em;
		border-width: 0;
		@include radius (0 $global-radius $global-radius 0);
		i {
			font-size: 1.2em;
			padding: 0;
		}
	}
}
