<phpunit colors="true" bootstrap="../../modules/unittest/bootstrap.php">
    <testsuites>
        <testsuite name="Ushahidi Tests">
            <directory>./</directory>
            <!-- Exclude Import Task tests since they rely on external resources -->
            <exclude>./classes/tasks/TaskImport2xTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
