	<ul class="pagination  js-pagination">
		{{#paginate pagination type="previous"}}
			<li class="arrow {{#if disabled}}unavailable{{/if}} js-page-first"><a>&laquo;</a></li>
			<li class="arrow {{#if disabled}}unavailable{{/if}} js-page-prev"><a>&lsaquo;</a></li>
		{{/paginate}}
		{{#paginate pagination type="middle" limit="7"}}
			<li class="{{#if active}}current{{/if}} js-page-change" data-page="{{n}}"><a>{{n}}</a></li>
		{{/paginate}}
		{{#paginate pagination type="next"}}
			<li class="arrow {{#if disabled}}unavailable{{/if}} js-page-next"><a>&rsaquo;</a></li>
			<li class="arrow {{#if disabled}}unavailable{{/if}} js-page-last"><a>&raquo;</a></li>
		{{/paginate}}
	</ul>