.actions-bar-header--form-editor {
	@extend %actions-bar-header;
	@include grid-column(8, $collapse: true);
}

%attribute-list {
	li {
		padding: 0.4em;
		margin-bottom: 0.4em;
		background: $lightGray;
	}
	background-color: $white;
}

%cover-element {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	vertical-align: middle;
}

.attribute-sidebar {
	@media #{$medium-up} {
		@include grid-column(3, $collapse: true);
		padding-right: 20px;
	}
}

.available-attributes {
	@extend %attribute-list;
	i.fa {
		width: 24px;
		text-align: center;
	}
}

.form-attributes {
	@extend %attribute-list;
	@media #{$medium-up} {
		@include grid-column(9, $collapse: true);
		padding-right: 20px;
	}
	i.required {
		color: $alert-color;
		padding-right: 0;
	}
	section {
		position: relative;
	}
	.actions {
		position: absolute;
		right: 0;
		z-index: 101;
	}
	.cover {
		@extend %cover-element;
		opacity: 0;
		z-index: 100;
		background: $lightGray;
		span {
			@extend %cover-element;
			margin: auto;
			height: 2em;
		}
	}
	.cover:hover {
		opacity: 0.5;
	}
}
