.*swp
*~
*.DS_Store
.htaccess
composer.phar
vendor/*
bin/*
!bin/tests
.vagrant/*
.floo
.flooignore
.sublime-project
build/*
puppet/modules
Puppetfile.lock
.tmp/*
.env
phpunit.xml
phpspec.yml
phinx.yml

# Kohana deployment specifics
application/logs/*
application/cache/*
application/config/environments/development/*.php

# Kohana tests
behat.yml
application/tests/behat.yml

# Kohana app uploads
application/media/uploads/*

# Kohana modules installed composer
system
modules/cache
modules/image
modules/unittest
modules/minion
modules/orm

# Docker Deployment Specifics
*.aes
deployment.env
vault.txt
