[submodule "modules/imagefly"]
	path = modules/imagefly
	url = git://github.com/ushahidi/kohana-imagefly.git
[submodule "plugins/twilio/vendor/twilio"]
	path = plugins/twilio/vendor/twilio
	url = https://github.com/twilio/twilio-php
