[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/minion"]
	path = modules/minion
	url = git://github.com/kohana/minion.git
[submodule "modules/migrations"]
	path = modules/migrations
	url = git://github.com/kohana-minion/tasks-migrations.git
[submodule "modules/oauth2/classes/oauth2-server-php"]
	path = modules/oauth2/classes/oauth2-server-php
	url = git://github.com/bshaffer/oauth2-server-php.git
