.*swp
*~
*.DS_Store
composer.lock
application/logs/*
application/cache/*
application/config/*.php
application/config/environments/development/*.php
application/media/uploads/*
.htaccess
application/tests/behat.yml
composer.phar
vendor/*
bin/*
node_modules*
.vagrant/*
.sass-cache*
.floo
.flooignore
.sublime-project
build/*
