## Example behat.yml file for running Ushahidi tests
## Replace base_url values with the url of your dev site
##
default:
    formatters:
        progress: true
    suites:
        default:
            paths:
                - %paths.base%/tests/Integration
            contexts:
                - Ushahidi\Tests\Integration\Bootstrap\FeatureContext
                - Ushahidi\Tests\Integration\Bootstrap\RestContext:
                    baseUrl: http://localhost:8080
                    # proxyUrl: localhost:8888
                - Ushahidi\Tests\Integration\Bootstrap\PHPUnitFixtureContext
            extensions:
                Behat\MinkExtension:
                    default_session: laravel
                    base_url:  http://localhost:8080
                    laravel: ~
                    sessions:
                        default:
                            goutte: ~
                    goutte:
                        guzzle_parameters:
                            curl.options:
                                3 : 8080 #CURLOPT_PORT=3
                                # 10004: localhost:8888 #CURLOPT_PROXY=10004
ci:
    suites:
        default:
            filters: ~
