## Example behat.yml file for running Ushahidi tests
## Replace base_url values with the url of your dev site
##
default:
    formatters:
        progress: true
    suites:
        default:
            paths:
                - %paths.base%/tests/integration
            contexts:
                - Tests\Integration\Bootstrap\KohanaContext
                - Tests\Integration\Bootstrap\FeatureContext
                - Tests\Integration\Bootstrap\RestContext:
                    baseUrl: http://localhost:8000
                    # proxyUrl: localhost:8888
                - Tests\Integration\Bootstrap\PHPUnitFixtureContext
                - Tests\Integration\Bootstrap\MinkExtendedContext
            filters:
                tags: ~@dataproviders
            extensions:
                Behat\MinkExtension:
                    base_url:  http://localhost:8000
                    sessions:
                        default:
                            goutte: ~
                    goutte:
                        guzzle_parameters:
                            curl.options:
                                3 : 8000 #CURLOPT_PORT=3
                                # 10004: localhost:8888 #CURLOPT_PROXY=10004
ci:
    suites:
        default:
            filters: ~