## Example behat.yml file for running Ushahidi tests
## Replace base_url values with the url of your dev site
##
default:
    formatters:
        progress: true
    suites:
        default:
            paths:
                - '%paths.base%/tests/Integration'
            contexts:
                - Ushahidi\Tests\Integration\Bootstrap\FeatureContext
                - Ushahidi\Tests\Integration\Bootstrap\RestContext:
                    baseUrl: http://localhost:8000
                    # proxyUrl: localhost:8888
                - Ushahidi\Tests\Integration\Bootstrap\PHPUnitFixtureContext
ci:
    suites:
        default:
            filters: ~
