<phpunit
    colors="true"
    bootstrap="./application/tests/bootstrap.php" >
        <testsuites>
            <testsuite name="Ushahidi Tests">
                <directory>./application/tests/</directory>
            </testsuite>
        </testsuites>
        <logging>
            <log type="coverage-clover" target="coverage/phpunit.xml"/>
        </logging>
</phpunit>
