<li>
		<div class="set-wrapper">

			<div class="set-is-selected"><i class="fa  fa-thumbs-up"></i>Selected</div>

			<div class="set-image">
				<img src="{{imageurl "mini-coop.jpg"}}" alt="">
			</div> <!-- end .set-image -->

				<!-- FIXME: set-post-number icon - need a responsive & dynamic solution here. What happens with 3 and 4 digit numbers? -->
			<div class="set-post-number">36</div> <!-- end .set-post-number -->

			<div class="set-body">
				<div class="set-title">
					<h3><a>London Automobiles</a></h3>
				</div> <!-- end .set-title -->

				<div class="set-excerpt">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, quis consectetur ...</p>
				</div> <!-- end .set-excerpt -->

				<div class="set-tags">
					<small>
						<a>automobiles</a>, <a>mozilla</a>, <a>barbican</a>, <a>leicester square</a>, <a>hand & shears</a>
					</small>
				</div> <!-- end .set-tags -->
			</div> <!-- end .set-body -->

		</div> <!-- end .set-wrapper -->
</li>
