/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * workspace PROFILE...............user avatar and account settings/edits
 * workspace STATS WRAPPER..................post, user and post views stats
 * workspace ACCORDION MENU..................posts, tasks and tools
 				*Labels..................dynamic labels
 */






/*------------------------------------*\
		$WORKSPACE PROFILE
\*------------------------------------*/

.workspace-panel {
	margin-bottom: -9999px;
	padding-bottom: 9999px;
	background-color: $workspace-body-bg;
	border-left: 3px solid $accent-color;
}

.workspace-profile {
	@include grid-row;
	border-top: 1px solid black;
}

.workspace-avatar {
	background: image-url("avatar.png") no-repeat;
	background-size: 100%;
	height: 58px;
	width: 58px;
	margin: 15px 7px 15px 15px;
	float: left;
}

.workspace-admin {
	float: left;
	margin: 21px 0 0 7px;
	.username {
		font-weight: 600;
		margin: 0;
		line-height: 1;
	}
	.workspace-role {
		font-size: 13px;
		margin: 0 0 10px 0;
		line-height: 1;
	}
	ul {
		margin-bottom: 0.0625em;
	}
	.edit-profile, .logout {
		font-size: 13px;
	}
}






/*------------------------------------*\
		$WORKSPACE STATS WRAPPER
\*------------------------------------*/
.post-stats {
	@include panel($adjust: false);
}

.user-stats {
	@include panel($adjust: false);
}
.views-stats {
	@include panel($adjust: false);
}

.workspace-stats-wrapper {
	@include grid-row;
}

.workspace-stats {
	@include block-grid(3);
	margin: 0;
}

.workspace-stats li {
	padding: 12px 0 12px 12px;
	margin: 0;
}

.workspace-stats h5 {
	margin: 0;
	i {
		position: relative;
		top: -2px;
		font-size: $base-font-size;
		padding-right: 3px;
	}
	span {
		font-size: 14px;
		font-weight: normal;
		margin-left: 25px;
	}
}





/*------------------------------------*\
	 $WORKSPACE ACCORDIAN MENU
\*------------------------------------*/
.workspace-menu {
	@include grid-row;
	@include section-container($section-type:accordion);
	& > section { @include section($section-type:accordion, $title-color:$white, $title-font-size:17px, $content-bg:$white);
	}
	i {
		padding-left: 10px;
	}
  .title {
    line-height: .8em;
    margin: 0;
    .fa-chevron-down {
	    float: right;
	    position: relative;
	    top: 9px;
	    font-size: emCalc(12);
		}
  }
}

.workspace-menu>section.active>.title a {
	color: $white;
}

.workspace-menu>section>.content {
  margin: 0;
  padding: 0;
    li {
      padding: 10px 0;
      &.active {
        background: $section-content-bg-active;
      }
    	a {
    		color: $body-font-color;
    		p {
    			margin: 0 20px 0 10px;
    			i {
    				color: $body-font-color;
    			}
    			span {
    				float: right;
    			}
    		}
    	}
    }
    > *:first-child, > *:last-child:not(.flex-video) {
    padding: 10px 0;
    }
}

.workspace-menu>section>.js-title {
	border: 0;
}


/*$LABELS*/
.all-posts-label {
	@include label($padding: $label-padding, $bg: $secondary-color, $radius: true);
}

.awaiting-review-label {
	@include label($padding: $label-padding, $bg: $secondary-color, $radius: true);
}

.published-label {
	@include label($padding: $label-padding, $bg: $success-color, $radius: true);
}

.unpublished-label {
	@include label($padding: $label-padding, $bg: $alert-color, $radius: true);
}

.my-tasks-label {
	@include label($padding: $label-padding, $bg: $secondary-color, $radius: true);
}

.todo-label {
	@include label($padding: $label-padding, $radius: true);
}

.completed-label {
	@include label($padding: $label-padding, $bg: $success-color, $radius: true);
}
