/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
	* LIST VIEW FILTER BAR..................list view filter bar styles
*/




/*------------------------------------*\
		$LIST VIEW FILTER BAR
\*------------------------------------*/


// FILTER
%list-view-filter,
.list-view-filter {
	@include grid-column(12);
	background: $accent-color;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 20px 0;
}

// FILTER INFO
%list-view-filter-info,
.list-view-filter-info {
	@include grid-column(12);
	padding-bottom: 10px;
	margin-bottom: 20px;
	h5 {
		font-size: emCalc(16px);
		letter-spacing: .1em;
		color: $white;
		padding: 0;
		margin: 0 0 8px 0;
		@media #{$small} {
			padding: 8px 0 0 0;
		}
	}
	@media #{$small} {
		@include grid-column(6);
		padding-bottom: 0;
		margin-bottom: 0;
	}
	@media #{$large} {
		@include grid-column(8);
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

// FILTER COUNT
%list-view-filter-count,
.list-view-filter-count {
	@include grid-column(12);
	@media #{$mobile-up} {
		@include grid-column(6);
	}
	@media #{$medium} {
		@include grid-column(3);
	}
	@media #{$large} {
		@include grid-column(2);
	}
	.filter-count {
		@media #{$mobile-up} {
			margin-bottom: 0;
		}
	}
}

// FILTER SOURCE
%list-view-filter-source,
.list-view-filter-source {
	@include grid-column(12);
	@media #{$mobile-up} {
		@include grid-column(6);
	}
	@media #{$medium} {
		@include grid-column(3);
	}
	@media #{$large} {
		@include grid-column(2);
	}
	.filter-source {
		@media #{$mobile-up} {
			margin-bottom: 0;
		}
	}
}

// SORT
%list-view-filter-sort,
.list-view-filter-sort {
	@include grid-column(12);
	@media #{$mobile-up} {
		@include grid-column(6);
	}
	@media #{$medium} {
		@include grid-column(3);
	}
	@media #{$large} {
		@include grid-column(2);
	}
	.filter-sort {
		margin-bottom: 0;
	}
}
