<form role="form" action="">
<div class="list-view-bulk-actions  js-list-view-bulk-actions  visually-hidden">
	<div class="row">
		<ul class="list-view-bulk-actions-list">
			<li>
				<label class="select-all" for="select-all">
					<input class="show-for-medium-down js-select-all-input" type="checkbox" id="select-all" value="on">
					<span class="hide-for-medium-down underline select-text">Select All</span>
					<span class="hide-for-medium-down underline unselect-text visually-hidden">Unselect All</span>
				</label>
			</li>
			<li><a class="js-post-bulk-publish"> <i class="fa  fa-file"></i> <span class="hide-for-medium-down">Publish</span></a></li>
			<li><a class="js-post-bulk-unpublish"> <i class="fa  fa-file-o"></i> <span class="hide-for-medium-down">Unpublish</span></a></li>
			<li><a class="js-post-bulk-delete"> <i class="fa  fa-trash-o"></i> <span class="hide-for-medium-down">Delete</span></a></li>
		</ul> <!-- end .list-view-bulk-actions-list .hide-for-medium-down-->
	</div> <!-- end .row -->
</div> <!-- end .list-view-bulk-actions -->

<div class="row">
	<div class="list-view-filter">
		<div class="row">

			<div class="list-view-filter-info">
				{{>listinfo}}
			</div> <!-- end .list-view-filter-info -->

			<div class="list-view-filter-count">
				<div class="filter-count-select">
					<label class="visually-hidden" for="filter-count">Number of posts shown</label>
					<select id="filter-count" class="filter-count  js-filter-count">
						<option selected>3</option>
						<option>5</option>
						<option>10</option>
						<option>20</option>
					</select>
				</div>

			</div> <!-- end .list-view-filter-count -->

			<div class="list-view-filter-sort">
				<div class="filter-sort-select">
					<label class="visually-hidden" for="filter-sort">Sort posts by</label>
					<select id="filter-sort" class="filter-sort  js-filter-sort">
					{{#each sortKeys}}
						<option value="{{@key}}">{{this}}</option>
					{{/each}}
					</select>
				</div>

			</div> <!-- end .list-view-filter-sort -->

		</div> <!-- end .row -->
	</div> <!-- end .list-view-filter -->

	<div class="list-view-wrapper">
		{{# feature 'post_export'}}
				<span class="right">
					<a href="#" class="js-post-bulk-export"><p><i class="fa fa-cloud-download"></i> Export</p></a>
				</span>
			{{/feature}}
		<ul class="list-view-post-list">
		</ul>

	</div> <!-- end .list-view-wrapper -->
</div> <!-- end .row -->

<div class="pagination-wrapper">
	{{>pagination}}
</div> <!-- end .pagination-wrapper -->
</form>
