/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * GLOBAL...............global styles
 * ACTIVE STYLES...............style on .active-workspace class
 */



 /*------------------------------------*\
		 $GLOBAL
 \*------------------------------------*/

[role="complementary"], [role="main"] {
	width: 100%;
	display: block;
	position: relative;
	z-index: 1;
}

[role="main"] {
	margin-bottom: 74px;
	margin-left: 0;
	width: 100%;
	height: 100%;
	float: left;
	clear: both;
}

[role="complementary"] {
	position: fixed;
	top: 45px;
	right: -300px;
	width: 300px;
	@include transition (transform .3s ease-in-out);
}


/*------------------------------------*\
		$ACTIVE
\*------------------------------------*/

.active-workspace [role="complementary"] {
	@include transform (translateX(-300px));
}
