<div class="row">
	<div class="actions-bar">
		<div class="actions-bar-header">
			<h3>Users</h3>
		</div>
		<div class="actions-bar-admin">
			<ul class="actions-bar-admin-list  hide-for-small">
				<li>
					<a class="js-select-all">
						<span class="select-text">Select All</span>
						<span class="unselect-text visually-hidden">Unselect All</span>
					</a>
				</li>
				<li class="js-bulk-action disabled">
					<a data-dropdown="drop-bulk-roles"><i class="fa  fa-cogs"></i>Change Role</a>
					<ul id="drop-bulk-roles" class="dropdown-list" data-dropdown-content>
						{{#each roles}}
							<li><a class="js-user-bulk-change-role" data-role-name="{{name}}">{{display_name}}</a></li>
						{{/each}}
					</ul>
				</li>
				<li><a class="js-user-create"><i class="fa  fa-user"></i>Add User</li>
				<li class="js-bulk-action disabled"><a class="js-user-bulk-delete"><i class="fa  fa-trash-o"></i>Delete</a></li>
			</ul>

			<a data-dropdown="drop-bulk-actions" class="dropdown-button  show-for-small">actions</a><br>
			<ul id="drop-bulk-actions" data-dropdown-content class="dropdown-menu  dropdown-list  show-for-small">
			<li>Select All</li>
			<li class="js-bulk-action disabled">
				<a data-dropdown="drop-bulk-roles-small"><i class="fa  fa-cogs"></i>Change Role</a>
				<ul id="drop-bulk-roles-small" class="dropdown-list" data-dropdown-content>
					{{#each roles}}
						<li><a class="js-user-bulk-change-role" data-role-name="{{name}}">{{display_name}}</a></li>
					{{/each}}
				</ul>
			</li>
			<li class="disabled"><a href=""><i class="fa  fa-user"></i>Add User</li>
			<li class="js-bulk-action disabled"><a href=""><i class="fa  fa-trash-o"></i>Delete</a></li>
			</ul>
		</div>
	</div> <!-- end .actions-bar -->
	<form role="search" class="js-user-search-form" action="">
		<div class="list-view-filter--alt">
			<div class="row">

				<div class="list-view-filter-info--alt">
					<!-- TODO: need a user-list-post -->
					{{>listinfo}}

				</div> <!-- end .list-view-filter-info -->

				<div class="list-view-filter-select-wrapper--alt">
					<div class="list-view-filter-count--alt">
						<div class="filter-count-select">
							<label class="visually-hidden" for="filter-count">Number of users shown</label>
							<select id="filter-count" class="filter-count  js-filter-count">
								<option selected>3</option>
								<option>5</option>
								<option>10</option>
								<option>20</option>
							</select>
						</div>

					</div> <!-- end .list-view-filter-count -->

					<div class="list-view-filter-sort--alt">
						<div class="filter-sort-select">
							<label class="visually-hidden" for="filter-sort">Sort users by</label>
							<select id="filter-sort" class="filter-sort  js-filter-sort">
								{{#each sortKeys}}
									<option value="{{@key}}">{{this}}</option>
								{{/each}}
							</select>
						</div>

					</div> <!-- end .list-view-filter-sort -->
				</div><!-- end .list-view-filter-select-wrapper-alt -->
			</div> <!-- end .row -->
		</div> <!-- end .list-view-filter -->

		<div class="filter">
			<div class="row">
				<div class="filter-tags">
					<ul class="filter-tags-list  js-filter-tags-list  hide-for-small">
						<li class="active  js-user-filter-role" data-role-name="">
							<a href="">
								<span class="role-title">All<span class="all-count-number  hide-for-small"><span class="count-number">{{pagination.totalRecords}}</span></span>
								</span>
							</a>
						</li>
						{{#each roles}}
						<li class="js-user-filter-role" data-role-name="{{name}}">
							<a href="">
								<span class="role-title">{{display_name}}
									<span class="{{name}}-count-number  hide-for-small  visually-hidden"><span class="count-number"><!-- TODO: {{total}} -->0</span></span>
								</span>
							</a>
						</li>
						{{/each}}
					</ul>

					<!-- Filter by role mobile UI -->
					<a href="#/" data-dropdown="drop-roles" class="dropdown-button  show-for-small">filter by roles</a><br>
					<ul id="drop-roles" data-dropdown-content class="dropdown-menu js-filter-tags-list  filter-tags-list--dropdown  f-dropdown  show-for-small">
						<li class="js-user-filter-role  active" data-role-name="">
							<a href="">All</a>
						</li>
							{{#each roles}}
						<li class="js-user-filter-role" data-role-name="{{name}}">
							<a href="">
								<span class="role-title">{{display_name}}
									<span class="{{name}}-count-number  hide-for-small  visually-hidden"><span class="count-number">{{../pagination.totalRecords}}</span></span>
								</span>
							</a>
						</li>
						{{/each}}
					</ul>
					<!-- Filter by role mobile UI ends -->
				</div>
				<div class="search-field-wrapper--filter--role">
					<div class="search-field">
						<label id="search-label" class="visually-hidden" for="search-field">Search</label>
						<input tabindex="1" id="autocomplete" aria-labelledby="search-label" type="search" id="q" class="search-field  js-user-search-input" placeholder="Keyword" value="" autocomplete="off">
					</div> <!-- end .search-field -->

					<div class="search-bar-button">
						<button type="submit" ><i class="fa  fa-search"></i></button>
					</div> <!-- end .search-bar-button -->

				</div> <!-- end .search-field-wrapper -->
			</div> <!-- end .row -->

		</div> <!-- end .filter -->
	</form>

	<div class="list-view-wrapper">
		<p class="loading-message  visually-hidden  js-loading">Please wait. Loading...</p>
		<ul class="list-view-user-profile-list">
		</ul>
	</div> <!-- end .list-view-wrapper -->
</div> <!-- end .row -->

<div class="pagination-wrapper">
	{{>pagination}}
</div> <!-- end .pagination-wrapper -->
