/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 * DEFAULT COLOR SCHEME............default color scheme
 */




/*------------------------------------*\
    $DEFAULT COLOR SCHEME
\*------------------------------------*/

$primary-color: #14B4D1; // the blue link-color
$secondary-color: #EFF0F3; // the light gray color
$accent-color: #323A45; // the dark blue
$alert-color: #C50813; // the red color
$success-color: #3CB81C; // the green color
