/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 * PIPI............description
 */




/*------------------------------------*\
    $PIPI
\*------------------------------------*/

$primary-color: #320531; // the blue link-color
$secondary-color: #F5EFC0; // the light gray color
$accent-color: #6E434C; // the dark gray
$alert-color: #B8464D; // the red color
$success-color: #F5EFC0; // the yellow color

/*Overrides*/
body, .workspace-panel {
	background-color: #F8F5D6 !important;
}
