<div class="row">

	<div class="actions-bar">
		<div class="actions-bar-header--message-config">
			<h3>Messages Configuration</h3>
		</div>
		<div class="actions-bar-admin">
		</div> <!-- end .actions-bar-admin data-provider-list -->
	</div> <!-- end .actions-bar data-provider-list -->

	<div class="tab-nav">
		<div class="row">
			<div class="tab-nav--message-config">
				{{!--
				<ul class="tab-nav-list  tab-nav-list--message-config  js-tab-nav-list">
					<li class="active  tab-nav-list__list-item  js-message-config-tab" data-role-name="">
						<a href="#settings/data-providers">
							<span class="data-provider-type">All</span>
						</a>
					</li>

					{{#each items}}
					<li class="tab-nav-list__list-item  js-message-config-tab" data-role-name="">
						<a href="#settings/data-providers/{{id}}">
							<span class="data-provider-type">{{#if icon}}<i class="fa  fa-{{icon}}"></i> {{/if}}<span class="hide-for-medium-down">{{name}}</span></span>
						</a>
					</li>
					{{/each}}

					<li class="tab-nav-list__list-item  js-message-config-tab" data-role-name="">
						<a href="#" data-dropdown="more-providers">+4</a>
						<ul id="more-providers" class="f-dropdown" data-dropdown-content>
							<li><a href="#">Source Name</a></li>
							<li><a href="#">Another Source Name</a></li>
							<li><a href="#">Last Source Name</a></li>
						</ul>
					</li>
				</ul>
				--}}
			</div> <!-- end .tab-nav-message-config -->
		</div> <!-- end .row -->
	</div> <!-- end .tab-nav -->

	<div class="list-view-wrapper js-data-provider-main">
	</div> <!-- end .list-view-wrapper -->

</div> <!-- end .row -->
