<div class="row">
	<div class="actions-bar">
		<div class="actions-bar-header--form-editor">
			<h3><a href="#settings/forms">Forms</a> &raquo; {{name}} <small>{{id}}: {{type}}</small></h3>
		</div>
		<div class="actions-bar-admin">
		</div> <!-- end .actions-bar-admin data-provider-list -->
	</div> <!-- end .actions-bar data-provider-list -->

	<div class="list-view-filter--alt">
		<div class="row">

			<form role="form" action="">
				<div class="list-view-filter-info--alt">
				</div> <!-- end .list-view-filter-info data-providers -->
			</form>

		</div> <!-- end .row -->
	</div> <!-- end .list-view-filter data-providers -->

	<div class="list-view-wrapper">
		<div class="available-attributes"></div>
		<div class="form-attributes"></div>
	</div>

</div> <!-- end .row -->
