/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * GENERAL...............modular styles for map settings page
 * NOUISLIDER OVERRIDES..overrides for nouiSlider plugin
 */


/*------------------------------------*\
    GENERAL
\*------------------------------------*/

.error {
	@include alert($alert-color);
}

.map-settings-box {
	margin-top: 50px;
	@media #{$small} {
		@include grid-column(12, $center: true);
	}
}

.map-settings-left-column {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(4);
	}
}

.map-settings-right-column {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(8);
		border-left: 1px solid $secondary-color;
	}
}

.map-settings-block-wrapper {
	border-bottom: 1px solid $secondary-color;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.map-settings-switch {
	margin-top: 20px;
}

.map-settings-form-helper-text {
	color: $subheader-font-color;
}

.map-settings-preview-map {
	@media #{$small} {
		height: 350px;
	}
	.map {
		height: 350px;
	}
}

.default-zoom-slider {
	background: $slider-color;
	margin-top: 5px;
	margin-bottom: 30px;
}

.default-zoom-slider-tooltip {
	@extend .tooltip;
	display: block;
	max-width: none;
	width: 60px;
	text-align: center;
	left: -17px;
	border-radius: 6px;
	top: 36px;
	background: rgba(0,0,0,0.8);
	font-weight: normal;
	z-index: 3;
}

.default-zoom-slider-tooltip > .nub {
	left: 25px;
}

.map-settings-block-wrapper--no-border {
	@extend .map-settings-block-wrapper;
	border-bottom: 0;
}

.color-preview-wrapper {
	@media #{$small} {
		padding: 0;
	}
}

.map-settings-color-preview {
	height: 41px;
	background-color: $primary-color;
}

.icon-wrapper {
	width: 41px;
	height: 41px;
	border: 1px solid $lightGray;
}

.upload-button {
	@include button($bg: $lightGray, $radius: true);
	font-weight: normal;
}

.toggle-button {
	@include button($bg: $success-color, $radius: true);
}


/*------------------------------------*\
    NOUISLIDER OVERRIDES
\*------------------------------------*/

.noUi-horizontal .noUi-handle {
	width: 28px;
	border-radius: 18px;
	cursor: pointer;
}

.noUi-handle:before {
	left: 11px;
}

.noUi-handle:after {
	left: 14px;
}

.noUi-target, .noUi-origin {
	border-radius: 12px;
}

.noUi-target.noUi-connect {
	box-shadow: inset 0 0 3px rgba(51,51,51,0.2), 0 3px 6px -5px #BBB;
}