/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**

Extends _post-details.scss & _post-overlay.scss

* GLOBAL...............global styles
* POST HEADER...............post header, title, tags and actions
* POST BODY..................post images, excerpt and meta
*/


/*------------------------------------*\
		$GLOBAL
\*------------------------------------*/
.post {
	@include grid-column(12, $collapse: true);
	h5, h6 {
		line-height: 1em;
	}
}




/*------------------------------------*\
		$POST HEADER
\*------------------------------------*/


.post-header {
	@include grid-column(12);
	clear: both;
	background-color: $accent-color;
	padding: 1em;
	box-shadow: 0px 1px 2px rgba(lighten($darkGray, 30), 0.5);
	z-index: 1;
	h5, h6 {
		color: $white;
		margin: 5px 0;
		line-height: 1.3em;
	}
			@media #{$medium} {
				padding: 1em;
			}
}

/**
* 	Hidden for now, and probably not best handled with columns
*/
.post-tag-marker {
	@include grid-column(2, $collapse: true);
	background: image-url("tag-icon.png") no-repeat;
	@include image-2x("tag-icon@2x.png", 34px, 34px);

	@media #{$small} {
		@include grid-column(1, $collapse: true);
	}
}

// TODO Reduce column's when tag marker re-added
.post-title {
	@include grid-column(12, $collapse: true);
	margin-bottom: 20px;
}

// TODO Reduce column's when tag marker re-added

.post-actions-admin {
	@extend %list-view-admin;
	margin: 10px 0 5px 0;
}

.post-actions-wrapper {
	@include grid-column(12, $collapse:true);
	margin: 0;
}

.post-actions {
	margin: 0;
	float: left;
	> li {
		float: left;
		padding: 0 5px;
		&:nth-child(1) {
			padding-left: 0;
		}
		a {
			margin-bottom: 0;
		}
	}
	[class^="fa"], [class*=" fa"] {
		padding: 0;
		position: relative;
		top: -1px;
	}
	@media #{$small} {
		li {
			padding-bottom: 0;
		}
		[class^="fa"], [class*=" fa"] {
			padding-right: 3px;
			position: relative;
			top: -1px;
		}
	}
}

.post-actions-button {
	@include button($padding: $button-tny, $bg: $secondary-color, $radius: true);
	.post-actions-button-text {
		display: none;
		@media #{$medium} {
			display: inline;
		}
	}
}

.post-nav {
	@include button-group-container();
	float: right;
	.post-nav-button {
		@include button($padding: $button-tny, $bg: $secondary-color, $radius: true);
		margin: 0;
		[class*='fa'] {
			position: relative;
			top: -2px;
		}
		.fa-arrow-right,
		.fa-arrow-left {
			padding: 0;
		}
		@media #{$medium} {
			.fa-arrow-left {
				padding-right: 5px;
			}
			.fa-arrow-right {
				padding-left: 5px;
			}
		}
	}
	& > li {
		@include button-group-style();
		padding-left: 10px;
	}
	.post-nav-button-text {
		display: none;
		@media #{$medium} {
			display: inline;
		}
	}
}





/*------------------------------------*\
		$POST BODY
\*------------------------------------*/


.post-body {
	@include grid-column(12);
	background-color: $white;
	padding: 1em;
	margin-bottom: 20px;
	box-shadow: 0px 1px 2px rgba(lighten($darkGray, 30), 0.5);
}

.post-image {
	@include grid-column(4, $collapse:true);
	padding-right: 10px;
	@media #{$small} {
		@include grid-column(4);
		margin-bottom: 20px;
	}
}

.post-detail-content {
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		@include grid-column(8);
		float: right;
	}
}

.post-excerpt {
	@include grid-column(12, $collapse: true);
	@extend .border-bottom;
	@media #{$small} {
		padding-right: 0;
	}
}

//custom-form
.post-values {
	@include grid-column(12, $collapse:true);
	margin: 20px 0;
}

.post-attr {
	margin-bottom: 10px;

	.post-attr-heading {
		display: inline;
	}
	.post-value {
		display: inline;
		margin-bottom: 10px;
	}
}



.post-meta {
	@include grid-column(8);
	@media #{$small} {
		@include grid-column(4);
		clear: left;
	}
	.post-meta-details {
		@include grid-column(6, $collapse:true);
		@media #{$small} {
			@include grid-column(12, $collapse:true);
		}
	}

	.post-categories {
		@include grid-column(6, $collapse:true);
		@media #{$small} {
			@include grid-column(12, $collapse:true);
		}
	}

	p {
		font-size: $small-font-size;
		color: $subheader-font-color;
		margin-bottom: .7em;
	}
}

.post-meta-details {
	margin-bottom: 20px;
	@include clearfix;
}

.post-author {
	@include grid-column(12, $collapse: true);
}

.post-location-meta {
	@include grid-column(12, $collapse: true);
	.fa-map-marker {
		padding-left: 2px;
	}
}

.post-time-meta {
	@include grid-column(12, $collapse: true);
}

.post-privacy-status {
	@include grid-column(12, $collapse: true);
}

.post-tags {
	@include grid-column(6, $collapse: true);
	ul {
		margin: 0;
		a {
			color: $subheader-font-color
		}
		li {
			font-size: $small-font-size;
			padding-right: 5px;
			margin-bottom: .7em;
		}
	}
	@media #{$small} {
		@include grid-column(12, $collapse: true);
	}
}

.post-details-button {
	@include grid-column(5, $collapse: true);
	margin-top: 10px;
	float: right;
	.button {
		float: right;
	}
	@media #{$small} {
		@include grid-column(4, $collapse: true);
		margin-top: 7px;
		.button {
			float: right;
		}
	}
}
