/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**

 Extends _post-details.scss & _post-overlay.scss

 * GLOBAL...............global styles
 * POST HEADER...............post header, title, categories and actions
 * POST BODY..................post images, excerpt and meta
 */


/*------------------------------------*\
		$GLOBAL
\*------------------------------------*/
.post {
	@include grid-column(12, $collapse: true);
	h5, h6 {
		line-height: 1em;
	}
}




/*------------------------------------*\
		$POST HEADER
\*------------------------------------*/


.post-header {
	@include grid-column(12);
	background-color: $accent-color;
	padding: 1em;
	@include box-shadow(0px 1px 2px rgba(lighten($darkGray, 30), 0.5));;
	z-index: 1;
	h5, h6 {
		color: $white;
		margin: 5px 0;
	}
			@media #{$medium} {
				padding: 1em;
			}
	.post-actions-button {
		@include button($padding: $button-sml, $bg: $secondary-color, $radius: true);
		border: 0px;
	}
}

/**
 * 	Hidden for now, and probably not best handled with columns
 */
.post-category-marker {
	@include grid-column(2, $collapse: true);
	background: image-url("category-icon.png") no-repeat;
	@include image-2x("category-icon@2x.png", 34px, 34px);

	@media #{$small} {
		@include grid-column(1, $collapse: true);
	}
}

// @todo Reduce column's when category marker re-added
.post-title {
	@include grid-column(12, $collapse: true);
	margin-bottom: 20px;
	@media #{$small} {
		margin-bottom: 0px;
	}
}

// @todo Reduce column's when category marker re-added
.post-actions-wrapper {
	@extend .list-view-post-edit-wrapper;
	margin-top: 0;
	@media #{$small} {
		width: 100%;
		float: left;
	}
}

.post-actions {
	@extend .list-view-post-edit;
	margin: 0;
	@media #{$small} {
		float: left;
		margin: 20px 0 0 0;
		li {
			padding: 0 emCalc(16px) 0 0;
		}
	}
}





/*------------------------------------*\
		$POST BODY
\*------------------------------------*/


.post-body {
	@include grid-column(12);
	background-color: $white;
	padding: 1em;
	margin-bottom: 20px;
	@include box-shadow(0px 1px 2px rgba(lighten($darkGray, 30), 0.5));;
}

.post-image {
	@include grid-column(12, $collapse: true);
	margin-bottom: 20px;
	@media #{$small} {
		@include grid-column(4, $collapse: true);
		margin-bottom: 0;
	}
	img {
		@include thumb;
		margin-bottom: 20px;
	}
}

.post-details {
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		@include grid-column(8);
	}
}

.post-excerpt {
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		padding-right: 0;
	}
}

.post-meta {
	@include grid-column(12, $collapse: true);
	p {
		font-size: $small-font-size;
		color: $subheader-font-color;
		margin-bottom: .7em;
	}
}

.post-meta-details {
	margin-bottom: 20px;
	@include clearfix;
}

.post-author {
	@include grid-column(12, $collapse: true);
}

.post-location-meta {
	@include grid-column(12, $collapse: true);
}

.post-location {
	font-weight: bold;
}

.post-time-meta {
	@include grid-column(12, $collapse: true);
}

.post-privacy-status {
	@include grid-column(12, $collapse: true);
}

.post-categories {
	@include grid-column(6, $collapse: true);
	ul {
		margin: 0;
		a {
			color: $subheader-font-color
		}
		li {
			font-size: $small-font-size;
			padding-right: 5px;
			margin-bottom: .7em;
		}
	}
	@media #{$small} {
		@include grid-column(12, $collapse: true);
	}
}

.post-details-button {
	@include grid-column(5, $collapse: true);
	margin-top: 10px;
	float: right;
	.button {
		float: right;
	}
	@media #{$small} {
		@include grid-column(4, $collapse: true);
		margin-top: 7px;
		.button {
			float: right;
		}
	}
}
