/*------------------------------------*\
   CONTENTS
\*------------------------------------*/
 /**
 * DROPDOWN BUTTON MENU...............dropdown button menu styles
 * DROP.JS DROPDOWNS..................dropdown styling for drop.js
 * MESSAGES PAGE DROPDOWNS............dropdown styling for /messages
 */




/*------------------------------------*\
   $DROPDOWN BUTTON MENU
\*------------------------------------*/

.dropdown-list {
  a {
    color: $body-font-color;
  }
	.dropdown-list__item {
		padding: 19px;
		width: 100%;
		text-align: center;
		&.active {
			background-color: darken($secondary-color, 2);
			font-weight: bold;
		}
		&:hover:not(.active) {
			background-color: darken($secondary-color, 2);
		}
		&:active:not(.active) {
			background-color: darken($secondary-color, 6);
		}
	}
}

/*------------------------------------*\
   $DROP.JS DROPDOWNS
\*------------------------------------*/

.drop.drop-element {
    z-index: 100;

    .drop-content {
        background-color: $secondary-color;

        &:before {
            background-color: $secondary-color;
        }

        > ul {
            margin: 0;
        }
    }
}

/*------------------------------------*\
   $MESSAGES PAGE DROPDOWNS
\*------------------------------------*/

.drop-element.drop-message-create-post-forms {
    .drop-content {
        padding: 0;
        margin-top: -10px;

        &:before {
            margin-top: -12px;
        }
    }

    .js-message-create-post-forms-drop {
        h6 {
            margin: 0;
            padding: 0.5em 1em;
            border-bottom: 1px solid $midGray;
        }

        ul {
            max-height: 250px;
            overflow-y: scroll;
            padding: 0.5em 1em;
        }
    }
}
