/*------------------------------------*\
   CONTENTS
\*------------------------------------*/
 /**
 * CARD WRAPPER...............
 * CARD DETAILS...............card details/main content
 * CARD ACTIONS...............card actions
 */




/*------------------------------------*\
   $CARD WRAPPER
\*------------------------------------*/

.card-wrapper {
	@include grid-column(12, $collapse: true);
	margin-bottom: 20px;
	@media #{$medium} {
		@include grid-column(6);
	}
}

.card-wrapper--selected {
  @include grid-column(12, $collapse: true);
  opacity: .7;
  box-shadow: 0 0 10px rgba($black, .6);
  background-color: darken($secondary-color, 10);
}

/*------------------------------------*\
   $CARD DETAILS
\*------------------------------------*/

.card {
	@include grid-column(12, $collapse: true);
	padding: 15px;
	background-color: $secondary-color;
	border: 2px solid darken($secondary-color, 10);
	border-radius: $global-radius $global-radius 0 0;
  cursor: pointer;
    &.js-selected {
      background-color: darken($secondary-color, 10);
  }
}


.card__details {
	@include grid-column(12);
}

.card__icon {
	position: absolute;
	font-size: 27px;
	line-height: 0;
	color: $accent-color;
	[class^="fa"], [class*=" fa"] {
		padding: 0;
	}
}

.card__header {
	@include grid-column(12);
	margin-top: 0;
	padding-left: 25px;
	@media #{$small} {
		@include grid-column(5);
		padding-left: 25px;
	 }
	a {
		color: $accent-color;
	}
}

.card__meta {
	@include grid-column(12);
	padding-left: 25px;
	line-height: 0;
	@media #{$small} {
		@include grid-column(7, $collapse: true);
		text-align: right;
	}
	p {
		font-size: $small-font-size;
		display: inline-block;
		padding-left: 20px;
		&:nth-child(1){
			padding: 0;
		}
	}
}

.card__excerpt {
	@include grid-column(12, $collapse: true);
  min-height: 48px;
  color: $body-font-color;
	p {
		padding-left: 25px;
		margin-bottom: 0;
		font-size: emCalc(14px);
	}
  .full-message {
    display: none;
  }
	.show-full-message {
    position: relative;
    bottom: -8px;
		font-size: 14px;
		float: right;
		a {
			color: inherit;
		}
	}
  &.show {
    height: auto;
  }
}

/*------------------------------------*\
   $CARD ACTIONS
\*------------------------------------*/

.card-actions-wrapper {
	@include grid-column(12, $collapse: true);
	background-color: $white;
	border-right: 2px solid darken($secondary-color, 10);
	border-bottom: 2px solid darken($secondary-color, 10);
	border-left: 2px solid darken($secondary-color, 10);
	border-radius: 0 0 $global-radius $global-radius;
	.dropdown-button {
		@include button($padding: $button-med, $bg: $white, $radius: false, $full-width:true);
		@include dropdown-button($padding: tiny);
    border-style: none;
		float: right;
		margin: 0;
		&:before {
			border-color: $black transparent transparent transparent;
		}
	}
  &.js-selected {
    background-color: darken($secondary-color, 10);
    .dropdown-button {
      @include button($disabled: true, $padding: $button-med, $bg: $secondary-color, $radius: false, $full-width:true);
      margin: 0;
    }
  }
}

.card-actions-list {
	@include block-grid($per-row: 4);
	.card-actions-list__item {
		font-size: emCalc(13px);
		text-align: center;
		padding: emCalc(15px);
		a {
			color: $black;
      &:hover {
        color: $primary-color;
      }
      &.active {
        @extend %underline;
        color: $primary-color;
      }
		}
	}
}
