/*------------------------------------*\
   CONTENTS
\*------------------------------------*/
 /**
 * MESSAGE CARD WRAPPER...............
 * MESSAGE CARD DETAILS...............message card details/main content
 * MESSAGE CARD ACTIONS...............message card actions
 */




/*------------------------------------*\
   $MESSAGE CARD WRAPPER
\*------------------------------------*/

.message-card-wrapper {
	@include grid-column(12, $collapse: true);
	margin-bottom: 20px;
	@media #{$medium} {
		@include grid-column(6);
	}
}

.message-card-wrapper--selected {
  @include grid-column(12, $collapse: true);
  opacity: .7;
  box-shadow: 0 0 10px rgba($black, .6);
  background-color: darken($secondary-color, 10);
}

/*------------------------------------*\
   $MESSAGE CARD DETAILS
\*------------------------------------*/

.message-card {
	@include grid-column(12, $collapse: true);
	padding: 15px;
	background-color: $secondary-color;
	border: 2px solid darken($secondary-color, 10);
	border-radius: $global-radius $global-radius 0 0;
	&.js-selected {
	  background-color: darken($secondary-color, 10);
  }
}


.card__details {
	@include grid-column(12);
}

.card__icon {
	position: absolute;
	font-size: 27px;
	line-height: 0;
	color: $accent-color;
	[class^="fa"], [class*=" fa"] {
		padding: 0;
	}
}

.card__header {
	@include grid-column(12);
	margin-top: 0;
	padding-left: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	@media #{$small} {
		@include grid-column(5);
		padding-left: 25px;
	}
	a {
		color: $accent-color;
		.js-selected & {
			cursor: default;
		}
	}
}

.card__meta {
	@include grid-column(12);
	padding-left: 25px;
	line-height: 0;
	@media #{$small} {
		@include grid-column(7, $collapse: true);
		text-align: right;
	}
	p {
		font-size: $small-font-size;
		display: inline-block;
		padding-left: 20px;
		&:nth-child(1){
			padding: 0;
		}
	}
  a {
	.js-selected &{
	  color: $sub-body-font-color;
	  cursor: default;
	}
  }
}

.card__excerpt-wrapper {
  cursor: pointer;
  .js-selected & {
	cursor: default;
  }
}

.card__excerpt-wrapper {
  .expand {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	&:before {
	  content: "\f103";
	}
  }
  &.show {
	.expand:before {
	  content: "\f102";
	 }
  }
}

.card__excerpt {
	@include grid-column(12, $collapse: true);
  min-height: 48px;
  color: $body-font-color;
  .rest-of-message {
	display: none;
  }
	.show-rest-of-message {
	position: relative;
	bottom: -8px;
		font-size: 14px;
		float: right;
	}
  &.show {
	height: auto;
  }
}




/*------------------------------------*\
   $MESSAGE CARD ACTIONS
\*------------------------------------*/

.message-card-actions-wrapper {
	@include grid-column(12, $collapse: true);
	background-color: $white;
	border-right: 2px solid darken($secondary-color, 10);
	border-bottom: 2px solid darken($secondary-color, 10);
	border-left: 2px solid darken($secondary-color, 10);
	border-radius: 0 0 $global-radius $global-radius;
	.dropdown-button {
		@include button($padding: $button-med, $bg: $white, $radius: false, $full-width:true);
		@include dropdown-button($padding: tiny);
	border-style: none;
		float: right;
		margin: 0;
		&:before {
			border-color: $black transparent transparent transparent;
		}
	}
  &.js-selected {
	background-color: darken($secondary-color, 10);
	.dropdown-button {
	  @include button($disabled: true, $padding: $button-med, $bg: darken($secondary-color, 10), $radius: false, $full-width:true);
	  margin: 0;
	}
  }
}

.message-card-actions-list {
	@include block-grid($per-row: 4);
	.message-card-actions-list__item {
		font-size: emCalc(13px);
		text-align: center;
		padding: emCalc(15px);
		a {
			color: $body-font-color;
	  &:hover {
		color: $primary-color;
	  }
	  &.active {
		@extend %underline;
		color: $primary-color;
	  }
	  .js-selected & {
		&:hover {
		  color: $body-font-color;
		  cursor: default;
		}
		&.active {
		  border: none;
		  color: $body-font-color;
		}
	  }
		}
	}
}
