<article class="body-wrapper">
	<div class="row">
		<section class="api-explorer-box">
			<div class="post-header">
					<h5>API Explorer</h5>
			</div> <!-- end .post-header -->

			<div class="post-body">
					<div class="api-explorer-sidebar">
						<ul class="side-nav">
							<li><label class="api-explorer-sidebar__label">Posts</label>
								<ul>
									<li><a href="#" class="js-api-endpoint" data-endpoint="posts" data-method="get">GET /posts</a></li>
									<li><a href="#" class="js-api-endpoint" data-endpoint="posts/1" data-method="get">GET /posts/{post_id}</a></li>
									<li><a href="#" class="js-api-endpoint" data-endpoint="posts" data-method="post">POST /posts</a></li>
									<li><a href="#" class="js-api-endpoint" data-endpoint="posts/1" data-method="put">UPDATE /posts/{post_id}</a></li>
									<li><a href="#" class="js-api-endpoint" data-endpoint="posts/1" data-method="delete">DELETE /posts/{post_id}</a></li>
								</ul>
							</li>
							<li><label class="api-explorer-sidebar__label">Messages</label>
								<ul>
									<li>
										<a href="#" class="js-api-endpoint" data-endpoint="messages">GET /messages</a>
									</li>
								</ul>
							</li>
							<li><label class="api-explorer-sidebar__label">Tags</label>
								<ul>
									<li data-page="tags">
										<a href="#" class="js-api-endpoint" data-endpoint="tags" data-method="get">GET /tags</a>
									</li>
								</ul>
							</li>
							<li><label class="api-explorer-sidebar__label">Users</label>
								<ul>
									<li data-page="users">
										<a href="#" class="js-api-endpoint" data-endpoint="users" data-method="get" >GET /users</a>
									</li>
								</ul>
							</li>
							<li><label class="api-explorer-sidebar__label">Forms</label>
								<ul>
									<li data-page="forms">
										<a href="#" class="js-api-endpoint" data-endpoint="forms" data-method="get">GET /forms</a>
									</li>
								</ul>
							</li>
							<li><label class="api-explorer-sidebar__label">Data Providers</label>
								<ul>
									<li data-page="forms">
										<a href="#" class="js-api-endpoint" data-endpoint="dataproviders" data-method="get">GET /dataproviders</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="api-explorer-body">
						<h4>POST /posts</h4>
						<p>Create a post.</p>
						<p class="api-explorer-request-authenticated"><span>AUTHENTICATED</span>: No</p>

						<div class="api-explorer-query-header">
							<div class="row">
								<div class="small-6 columns">
									<span>Make a Request:</span>
								</div>
								<div class="small-6 columns api-explorer-add-data-wrapper">
									<a href="#" class="js-stub"><i class="fa fa-plus-circle"></i>Add sample data</a>
								</div>
							</div>
						</div>
						<div class="api-explorer-query-wrapper">
							<form role="search" class="js-api-explorer-form" action="">
								<h5>Query</h5>
									<input type="text" class="js-api-url" value="{{apiBaseUrl}}" />
									<div class="row">
									<div class="small-6 columns">
									<button type="submit" class="api-explorer-reset-button">Reset</button>
									</div>
									<div class="small-6 columns api-explorer-submit-wrapper">
									<button type="submit" class="api-explorer-submit-button">Execute</button>
									</div>
									</div>
							</form>
							<div class="response">
								<i class="fa fa-spinner fa-spin visually-hidden js-loading"></i>
								<pre class="js-response-code visually-hidden js-show-response"></pre>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- end .post-body -->
		</div> <!-- end .api-explorer-box -->
	</div> <!-- end .row -->
</article>