/*------------------------------------*\
   CONTENTS
\*------------------------------------*/
 /**
 * CARD PANEL MAP...............map panel styles
 */




/*------------------------------------*\
   $CARD PANEL MAP
\*------------------------------------*/

.card-panel-wrapper--map {
  padding: 0;
  border-top: 1px solid darken($secondary-color, 10);
  border-bottom: 0;
  border-right: 1px solid darken($secondary-color, 10);
  border-left: 1px solid darken($secondary-color, 10);
  border-radius: $global-radius $global-radius 0 0;
}

.card-panel--map {
  padding: 0;
  border: 0;
}
