/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 * BARIDI............description
 */




/*------------------------------------*\
    $BARIDI
\*------------------------------------*/

$primary-color: #6991AC; // the blue link-color
$secondary-color: #F5F5F5; // the light gray color
$accent-color: #67727A; // the dark gray
$alert-color: #B8464D; // the red color
$success-color: #A3D39C; // the green color
