/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 * CHIRIKU............description
 */




/*------------------------------------*\
    $CHIRIKU
\*------------------------------------*/

$primary-color: #00B1E1; // the blue link-color
$secondary-color: #CDCECF; // the light gray color
$accent-color: #3A3F42; // the dark gray
$alert-color: #B8464D; // the red color
$success-color: #FEF47B; // the yellow color
