/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 * MSIMU............description
 */




/*------------------------------------*\
    $MSIMU
\*------------------------------------*/

$primary-color: #89CAB7; // the blue link-color
$secondary-color: #FDEEC4; // the light gray color
$accent-color: #72533D; // the dark gray
$alert-color: #B8464D; // the red color
$success-color: #F5EFC0; // the yellow color
