/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * ADD-TO-SET...............add-to-set specific styles
 */




 /*-----------------------------------------------------------*\
 		$ADD-TO-SET
 \*-----------------------------------------------------------*/

.sets-grid li {
	cursor: pointer;
	
	// Show hide 'Selected' message based on 'selected' class on li
	.set-is-selected {
		@extend .hidden;
	}
	&.selected {
		.set-is-selected {
			@extend .visible;
		}
	}
}

.add-to-set-tag-button {
	@include button($bg: $secondary-color, $radius: true, $full-width: true);
}

.more {
	@include grid-row();
	text-align: center;
	margin-bottom: 20px;
	a {
		border-bottom: 1px dotted;
	}
}

.current-sets-wrapper {
	margin-bottom: 20px;
}

.current-sets {
	margin: 0;
	li {
		display: inline;
		margin-right: 10px;
		a:hover {
			color: $white;
		}
		i {
			color: $body-font-color;
			font-size: 18px;
			padding: 0 0 0 5px;
		}
	}
	.label {
		padding: 10px;
	}
}

.set-is-selected {
	position: absolute;
	background-color: $success-color;
	color: $white;
	width: 100%;
	height: 40px;
	padding: 6px 0 0 0;
	font-size: 1.2em;
}
