/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * SOCIAL BUTTONS...............custom social buttons
 */



/*------------------------------------*\
    $SOCIAL BUTTONS
\*------------------------------------*/

button.facebook, .button.facebook {
	background-color: $facebook-color;
}

.button.facebook:hover {
	background-color: darken($facebook-color, 10);
}

button.twitter, .button.twitter {
	background-color: $twitter-color;
}

.button.twitter:hover {
	background-color: darken($twitter-color, 10);
}

button.google, .button.google {
	background-color: $google-color;
}

.button.google:hover {
	background-color: darken($google-color, 10);
}
