/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
* CUSTOM FORM EDIT...............custom form fields
*/




/*------------------------------------*\
	$CUSTOM FORM EDIT
\*------------------------------------*/

.ui-sortable {
	@include grid-column(12, $collapse: true);
	li {
		@include grid-column(12, $collapse: true);
	}
}

.form-edit-cancel {
	@include grid-column(6);
	padding-left: 0;
	@media #{$small} {
		@include grid-column(3);
		padding-left: 0;
	}
	.cancel-edit-button {
		@include button($padding: $button-med, $bg: $alert-color, $radius: true, $full-width: true);
	}
}
.form-edit-save {
	@include grid-column(6);
	padding-right: 0;
	@media #{$small} {
		@include grid-column(3);
		padding-right: 0;
	}
	.save-edit-button {
		@include button($padding: $button-med, $bg: $success-color, $radius: true, $full-width: true);
	}
}
