<div id="createPost" class="reveal-modal">
    <div class="create-post-header">
      <h4>Create a Post</h4>
      <a class="close-reveal-modal">&#215;</a>
    </div> <!-- end create-post-header -->

  <div class="create-post-wrapper">
    <section class="create-post-options">
      <form role="search" id="search-form" class="custom" action="">

        <h6>Title</h6>
        <input type="text" placeholder="Enter a title">

        <h6>Description</h6>
        <textarea name="post-description" id="post-description" placeholder="Enter a short description" cols="30" rows="30"></textarea>

        <h6>Location</h6>
        <select id="customDropdown" >
          <option selected DISABLED>Choose a location</option>
          <option>United States</option>
          <option>Kenya</option>
          <option>South Africa</option>
          <option>New Zealand</option>
        </select>
        <div class="create-post-location-map"></div>

        <h6>Categories</h6>
        <select id="customDropdown" >
          <option selected DISABLED>Choose a category</option>
          <option>Voting Issues</option>
          <option>Security</option>
          <option>Urgent</option>
        </select>

      </form> <!-- end form -->
    </section> <!-- end create-post-options -->

    <section class="media-bar-wrap">
      <div class="media-bar">
        <div class="media-bar-row">

            <div class="media-bar-uploads-wrap">
              <ul class="media-bar-uploads">
                <li id="upload-location" class="select-icon upload-location"><a href="#"><i class="icon-map-marker"></i></a></li>
                <li id="upload-image" class="select-icon upload-image"><a href="#"><i class="icon-picture"></i></a></li>
                <li id="upload-video" class="select-icon upload-video"><a href="#"><i class="icon-facetime-video"></i></a></li>
                <li id="upload-link" class="select-icon upload-link"><a href="#"><i class="icon-link"></i></a></li>
                <li id="upload-audio" class="select-icon upload-audio"><a href="#"><i class="icon-microphone"></i></a></li>
              </ul>
            </div>

            <div class="create-post-submit">
              <button type="submit" class="button  success  expand" form="search-form">Submit</button>
            </div>

        </div> <!-- end media-bar-row -->
      </div> <!-- end media bar -->
    </section> <!-- end media-bar-wrap -->

  </div> <!-- end create-post-wrapper -->
</div> <!-- end reveal-modal -->
