	{{#paginate pagination type="info"}}
		<h5>Showing {{#if startRecord}}{{startRecord}} to{{/if}} {{endRecord}} from {{totalRecords}} posts</h5>
	{{/paginate}}

<!-- NOTE:
Css code is becoming more modular and I am jumping in the core. This is to try something different and facilitate conversation. I am commiting separately so I can simple reverse this commit.

could we have an array of use cases here? Posts, Users, etc...
<h5>Showing {{#if startRecord}}{{startRecord}} to{{/if}} {{endRecord}} from {{totalRecords}} posts</h5>

Then rename this file to filter-list-info or something more generic to cover our bases.
-->
