/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * LIST VIEW POST...............individual posts within the LIST VIEW
 */




/*-------------------------------------------------------------------*\
		$LIST VIEW POST
\*-------------------------------------------------------------------*/

%list-view {
	@include grid-column(12, $collapse: true);
	border-bottom: 1px solid $lightGray;
	margin-bottom: 20px;
	&:last-child {
		border-bottom: 0;
	}
}

%list-view-image,
.list-view-image {
	@include grid-column(4);
	@media #{$small} {
		@include grid-column(2);
	}
	@media #{$medium-up} {
		@include grid-column(1);
		width: 12.33333%;

	}
	img {
		margin: 10px 0 10px 0;
	}
}

%list-view-details,
.list-view-details {
	@include grid-column(8);
	margin-top: 5px;
	// padding-left: 0;
	@media #{$small} {
		@include grid-column(10);
	}
	@media #{$medium-up} {
		@include grid-column(11);
		width: 87.66667%;
	}
}

.list-view-header {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(8);
		padding-left: 0.4em;
	}
}

.list-view-time {
	@include grid-column(12);
	font-size: 15px;
	p {
		float: left;
	}
	@media #{$small} {
		@include grid-column(4);
		p {
			float: right;
		}
	}
}

.list-view-body {
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		@include grid-column(10, $offset: 2, $collapse: true);
	}
}

.list-view-excerpt {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(10, $offset: 2);
		margin-left: 0;
	}
	@media #{$large} {
			@include grid-column(10);
	}
}

.list-view-admin {
	@include grid-column(12);
	margin: 10px 0 20px 0;
}

.list-view-categories-wrapper {
	@include grid-column(12, $collapse: true);
	h6 {
		margin: 0;
	}
	button {
		margin-bottom: 0;
		i {
			padding-right: 5px;
		}
	}
	@media #{$small} {
		@include grid-column(6, $collapse: true);
	}
}

.list-view-categories {
	margin: 0;
	a {
		color: $subheader-font-color
	}
	li {
		display: inline;
		font-size: $small-font-size;
		padding-right: 5px;
	}
	.fa-circle {
		color: $alert-color;
		padding-right: 5px;
	}
}

.list-view-description {
	@include grid-column(12, $collapse: true);
	font-size: emCalc(14);
}

.list-view-edit-wrapper {
	@include grid-column(12, $collapse: true);
	margin-top: 20px;
	@media #{$small} {
		@include grid-column(6, $collapse: true);
		float: right;
		margin-top: 0;
	}
}

.list-view-edit {
	margin-left: 0;
	> li {
		display: inline;
		float: left;
		padding: 0 20px 0 0;
		a {
			margin-bottom: 0;
		}
	}
	button.expand, .button.expand {
		padding-right: 1.125em;
		padding-left: 1.125em;
	}
	[class^="fa"], [class*=" fa"] {
		padding: 0;
	}
	@media #{$small} {
		@include block-grid($per-row: false, $spacing: emCalc(20px));
		float: right;
		padding-top: 13px;
		li {
			padding-bottom: 3px;
		}
	}
}

.list-view-edit-buttons {
	@include button($padding: $button-sml, $bg: $secondary-color, $radius: true)
}
