/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * LIST VIEW WRAPPER..................wrapper around all posts in list view
 * LIST VIEW...............list view {element} list
 */




/*------------------------------------*\
		$LIST VIEW WRAPPER
\*------------------------------------*/

.list-view-wrapper {
	@include grid-column(12);
	@include box-shadow(0px 2px 4px -1px rgba(lighten($darkGray, 30), 0.5));
	background-color: $white;
	color: $sub-body-font-color;
	padding-top: 30px;
	padding-bottom: 30px;
}




/*-------------------------------------------------------------------*\
		$LIST VIEW
\*-------------------------------------------------------------------*/

%list-view-list {
	@include grid-column(12);
	margin-left: 0;
}

%list-view {
	@include grid-column(12, $collapse: true);
	border-bottom: 1px solid $lightGray;
	margin-bottom: 20px;
	&:last-child {
		border-bottom: 0;
	}
}

%list-view-image,
.list-view-image {
	@include grid-column(4);
	@media #{$small} {
		@include grid-column(2);
	}
	@media #{$medium-up} {
		@include grid-column(1);
		width: 12.33333%;
	}
}

%list-view-details,
.list-view-details {
	@include grid-column(8, $collapse: true);
	margin-top: 5px;
	// padding-left: 0;
	@media #{$small} {
		@include grid-column(10, $collapse: true);
	}
	@media #{$medium-up} {
		@include grid-column(11, $collapse: true);
		width: 87.66667%;
	}
}

.list-view-header {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(8);
	}
}

.list-view-time {
	@include grid-column(12);
	font-size: 15px;
	p {
		float: left;
	}
	@media #{$small} {
		@include grid-column(4);
		p {
			float: right;
		}
	}
}

.list-view-body {
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		@include grid-column(10, $offset: 2, $collapse: true);
	}
}

.list-view-excerpt {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(10);
		margin-left: 0;
	}
	@media #{$large} {
			@include grid-column(10);
	}
}

%list-view-admin,
.list-view-admin {
	@include grid-column(12, $collapse: true);
	@extend %unselectable;
	margin: 30px 0 20px 0;
}

.list-view-categories-wrapper {
	@include grid-column(12);
	h6 {
		margin: 0;
	}
	button {
		margin-bottom: 0;
		i {
			padding-right: 5px;
		}
	}
	@media #{$small} {
		@include grid-column(4);
	}
}

.list-view-categories {
	margin: 0;
	a {
		color: $subheader-font-color
	}
	li {
		display: inline;
		font-size: $small-font-size;
		padding-right: 5px;
	}
	.fa-circle {
		padding-right: 5px;
	}
}

.list-view-description {
	@include grid-column(12, $collapse: true);
	font-size: emCalc(14);
}

.list-view-edit-wrapper {
	@include grid-column(12);
	margin-top: 20px;
	@media #{$small} {
		@include grid-column(8, $collapse: true);
		float: right;
		margin-top: 0;
	}
}

%list-view-edit,
.list-view-edit {
	@include block-grid(2);
	> li {
		float: left;
		padding: 0 10px 20px;
		a {
			margin-bottom: 0;
		}
	}
	button.expand, .button.expand {
		padding-right: 1.125em;
		padding-left: 1.125em;
	}
	[class^="fa"], [class*=" fa"] {
		padding: 0;
	}
	@media #{$mobile-up} {
		@include block-grid(4);
	}
	@media #{$small} {
		@include grid-column(12);
		display: flex;
		float: right;
		padding-top: 13px;
		li {
			padding-bottom: 3px;
		}
	}
	@media #{$medium} {
		@include grid-column(9);
		float: right;
	 }
}

.list-view-edit-button {
	@include button($padding: $button-tny, $bg: $secondary-color, $radius: true, $full-width: true);
	&.selected-button {
		background-color: darken($secondary-color, $button-function-factor);
		.select-icon {
			&:before {
				content: "\f14a";
				font-size: .9em;
			}
		}
	}
	.select-icon {
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		&:before {
			content: "\f096";
		}
	}
	.fa-edit:before {
		position: relative;
		top: 1px;
	}
	@media #{$large} {
		@include button($padding: $button-sml, $bg: $secondary-color, $radius: true);
	 }
}
