/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/**
* LIST VIEW FILTER ALT...............sub page list view filter
*/




/*------------------------------------*\
	$LIST VIEW FILTER ALT
\*------------------------------------*/

.list-view-filter--alt {
	@extend %list-view-filter;
	background: lighten($accent-color, 25);
	margin-top: 0;
}

.list-view-filter-info--alt {
	@extend %list-view-filter-info;
	border-bottom: 1px solid lighten($accent-color, 10);
	@media #{$medium} {
		border-bottom: 0;
	}
}

.list-view-filter-count--alt	{
	@extend %list-view-filter-count;
	@media #{$small} {
		border-right: 1px solid lighten($accent-color, 10);
	}
}
