/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
	* LIST VIEW WRAPPER..................wrapper around all posts in list view
	* LIST VIEW FILTER BAR..................list view filter bar styles
			* --posts
			* --user
*/




/*------------------------------------*\
		$LIST VIEW WRAPPER
\*------------------------------------*/

.list-view-wrapper {
	@include grid-column(12);
	@include box-shadow(0px 1px 2px rgba(lighten($darkGray, 30), 0.5));;
	background-color: $white;
	color: $sub-body-font-color;
	padding-top: 20px;
}


/*------------------------------------*\
		$LIST VIEW FILTER BAR
\*------------------------------------*/


// FILTER
%list-view-filter {
	@include grid-column(12);
	@include box-shadow(0px 1px 2px rgba(lighten($darkGray, 30), 0.5));;
	padding: 20px 15px;
}

.list-view-filter--posts {
	@extend %list-view-filter;
	background: $accent-color;
	margin: 20px 0;
}
.list-view-filter--user {
	@extend %list-view-filter;
	background: lighten($accent-color, 25);
	margin: 0 0 20px 0;
}

// FILTER INFO
%list-view-filter-info {
	@include grid-column(12);
	padding-bottom: 10px;
	margin-bottom: 20px;
	h5 {
		font-size: emCalc(16px);
		letter-spacing: .1em;
		color: $white;
		padding: 0;
		margin: 0 0 8px 0;
		@media #{$medium} {
			padding: 8px 0 0 0;
		}
	}
	@media #{$medium} {
		@include grid-column(6);
		padding-bottom: 0;
		margin-bottom: 0;
	}
	@media #{$large} {
		@include grid-column(8);
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.list-view-filter-info--post {
	@extend %list-view-filter-info;
	border-bottom: 1px solid darken($accent-color, 10);
	@media #{$medium} {
		border-bottom: 0;
	}
}
.list-view-filter-info--user {
	@extend %list-view-filter-info;
	border-bottom: 1px solid lighten($accent-color, 10);
	@media #{$medium} {
		border-bottom: 0;
	}
}

// FILTER COUNT
%list-view-filter-count {
	@include grid-column(12);
	@media #{$mobile-up} {
		@include grid-column(6);
	}
	@media #{$medium} {
		@include grid-column(3);
	}
	@media #{$large} {
		@include grid-column(2);
	}
	.filter-count {
		@media #{$mobile-up} {
			margin-bottom: 0;
		}
	}
}

.list-view-filter-count--posts {
	@extend %list-view-filter-count;
	@media #{$small} {
		border-right: 1px solid darken($accent-color, 10);
	}
}
.list-view-filter-count--user {
	@extend %list-view-filter-count;
	@media #{$small} {
		border-right: 1px solid lighten($accent-color, 10);
	}
}

// SORT
.list-view-filter-sort {
	@include grid-column(12);
	@media #{$mobile-up} {
		@include grid-column(6);
	}
	@media #{$medium} {
		@include grid-column(3);
	}
	@media #{$large} {
		@include grid-column(2);
	}
	.filter-sort {
		margin-bottom: 0;
	}
}
