/*------------------------------------*\
		CONTENTS
\*------------------------------------*/
/**
	* FILTER............filter and filter count numbers
	* FILTER DROPDOWN............filter dropdown button styles
	* FILTER SEARCH FIELD WRAPPER...............search field styles
*/





/*------------------------------------*\
		$FILTER
\*------------------------------------*/

%filter,
.filter {
	@include grid-column(12);
	background-color: darken($secondary-color, 2);
@include box-shadow(0px 1px 2px rgba(lighten($darkGray, 30), 0.5));;
}

%filter-categories,
.filter-categories {
	@include grid-column(12);
	margin-top: 15px;
	@media #{$small} {
		@include grid-column(9, $collapse: true);
		margin-top: 0;
	}
	.dropdown-button {
		@include button($padding: $button-med, $bg: $secondary-color, $radius: true, $full-width: true);
		@include dropdown-button($padding: tiny);
		margin-bottom: 0;
		&:before {
			border-color: $blueGray transparent transparent transparent;
		}
	}
}

%filter-categories-list,
.filter-categories-list {
	&:after {
		content: none;
		display: table;
	}
	.hide-for-small {
		display: none !important;
		@media #{$small} {
			display: inline-block !important;
		}
	}
	li {
		float: left;
		width: 25%;
		border-right: 1px solid darken($secondary-color, 10);
		border-top: 3px solid transparent;
		padding: 0 10px;
		font-size: emCalc(14);
		color: $body-font-color;
		line-height: 2.4em;
		cursor: pointer;
		@media #{$small} {
			padding: 10px 19px;
		}
		a {
			color: $body-font-color;
			font-weight: bold;
		}
		&.active {
			background-color: $white;
			color: $body-font-color;
			font-weight: bold;
		}
		&:hover:not(.active) {
			background-color: darken($secondary-color, 2);
		}
		&:active:not(.active) {
			background-color: darken($secondary-color, 6);
		}
	}
	.count-number {
		position: relative;
		top: 4px;
		font-size: emCalc(11);
		letter-spacing: .15em;
	}
}

%filter-count-number {
	position: relative;
	top: 2px;
	float: right;
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 100px;
	margin: 0 auto 0 10px;
	color: $white;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	white-space: nowrap;
	@media #{$small} {
		margin-left: 8px;
	 }
}

[class*='-count-number'] {
	@extend %filter-count-number;
}

/*random color function for filter count-number background*/

$color1: $accent-color;
$color2: $alert-color;
$color3: $success-color;
$color4: $warning-color;
$color5: $primary-color;

$colors: $color1, $color2, $color3, $color4, $color5;

@for $i from 1 through length($colors) {
	.filter-categories-list li:nth-child(#{length($colors)}n+#{$i}),
	.tab-nav-list--message-config li:nth-child(#{length($colors)}n+#{$i}) {
		[class*='-count-number'] {
			background-color: (nth($colors, $i));
		}
		&.active {
			border-top: 3px solid (nth($colors, $i));
		}
		&:hover:not(.active) {
			border-top: 3px solid (nth($colors, $i));
		}
	}

}




/*------------------------------------*\
   $FILTER SEARCH FIELD WRAPPER
\*------------------------------------*/

%search-field-wrapper--filter{
	@extend %search-field-wrapper;
	border-top: 1px solid $secondary-color;
	margin-top: 8px;
	padding: 0 20px;
	@media #{$small} {
		border-top: none;
		.search-field input[type="search"],
		.search-bar-button button {
			margin: 0;
		}
	}
}
