/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
* DATA PROVIDER FORMS...............data provider config styles
*/




/*------------------------------------*\
	$DATA PROVIDER FORMS
\*------------------------------------*/

.data-provider-config-form {
	@include grid-column(12);
}

.data-provider-config-form [class*='field-'] {
	margin-bottom: 30px;
}

.data-editor {
	ul li {
		display: inline;
	}
	input {
		margin-bottom: 7px;
	}
}

.form-helper-text {
	font-size: rem-calc(14px);
	.field-intro_text & {
		@extend %message-box;
	}
}

.message-config-submit {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(3);
		float: right;
	}
	@media #{$medium-up} {
		@include grid-column(2);
		float: right;
	}
	button {
		@include button($padding: $button-med, $bg: $success-color, $radius: true, $full-width: true);
	}
}
