/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * ADD-TO-SET...............add-to-set specific styles
 */




 /*-----------------------------------------------------------*\
 		$ADD-TO-SET
 \*-----------------------------------------------------------*/

.sets-grid li {
	cursor: pointer;
}

.more {
	@include grid-row();
	text-align: center;
	margin-bottom: 20px;
	a {
		border-bottom: 1px dotted;
	}
}

.current-sets-wrapper {
	margin-bottom: 20px;
}

.current-sets {
	margin: 0;
	li {
		display: inline;
		margin-right: 10px;
		a:hover {
			color: $white;
		}
		i {
			color: $body-font-color;
			font-size: 18px;
			padding: 0 0 0 5px;
		}
	}
	.label {
		padding: 10px;
	}
}

/*green check icon styles*/
/*.set-is-selected {
	position: relative;
	top: 40px;
	margin: 0 auto;
	width: 40px;
	height: 0;
	.icon-stack [class^="icon-"], .icon-stack [class*=" icon-"] {
		font-size: 3em;
	}
	.icon-stack {
		height: 0;
		display: block;
		width: 1em;
		height: 1em;
		line-height: 1em;
	}

	.icon-circle {
		color: $white;
	}
	.icon-ok-sign {
		color: $success-color;
	}
}*/

.set-is-selected {
	position: absolute;
	background-color: $success-color;
	color: $white;
	width: 100%;
	height: 40px;
	padding: 6px 0 0 0;
	font-size: 1.2em;
}
