/*Admin-Profile*/

.admin-profile {
  @include grid-row;
  border-top: 1px solid black;
}

.admin-avatar {
  background: url( ../images/avatar.png ) no-repeat;
  background-size: 100%;
  height: 58px;
  width: 58px;
  margin: 15px 7px 15px 15px;
  float: left;
}

.admin-edit {
  float: left;
  margin: 21px 0 0 7px;
  .username {
    @include font-family-bold;
    margin: 0;
    line-height: 1;
  }
  .admin-role {
    font-size: 13px;
    margin: 0;
    line-height: 1;
  }
}

/*Admin Stats Wrapper*/

.admin-stats-wrapper {
  @include grid-row;
}

.admin-stats {
  @include block-grid(3);
  margin: 0;
}

.admin-stats li.panel {
  padding: 10px 10px 10px 20px;
  margin: 0;
}

.panel h4 {
  margin: 0;
}


/*Admin Menu*/

.admin-menu {
  @include grid-row;
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-color:$white, $title-font-size:17px, $content-bg:$lightGray);
  }
  i {
    padding-left: 10px;
  }
}

.admin-menu>section .content {
  &.active {
    background: $section-content-bg-active;
  }
  a {
    color: $body-font-color;
    p {
      margin: 0;
      span {
        float: right;
      }
    }
  }
}
