/*-------------------------------------------------------------------*\
		$LIST VIEW POST...............individual posts within the LIST VIEW
\*-------------------------------------------------------------------*/

.list-view-post {
	@include grid-column(12, $collapse: true);
	border-bottom: 1px solid $midGray;
	margin-bottom: 20px;
	&:last-child {
		border-bottom: 0;
	}
}

.list-view-select-post {
	position: absolute;
	top: -17px;
	left: -24px;
}

.list-view-post-image {
	@include grid-column(4);
	@media #{$small} {
		@include grid-column(2);
	}
	img {
		margin: 10px 0 10px 0;
		@include thumb;
	}
}

.list-view-post-details {
	@include grid-column(8);
	margin-top: 5px;
	padding-left: 0;
	@media #{$small} {
		@include grid-column(10);
	}
}

.list-view-post-title {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(8);
	}
}

.list-view-post-time {
	@include grid-column(12);
	font-size: 15px;
	p {
		float: left;
	}
	@media #{$small} {
		@include grid-column(4);
		p {
			float: right;
		}
	}
}

.list-view-post-body {
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		@include grid-column(10, $offset: 2, $collapse: true);
	}
}

.list-view-post-excerpt {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(10, $offset: 2);
		margin-left: 0;
	}
}

.list-view-post-admin {
	@include grid-column(12);
	margin: 20px 0;
	i {
		padding: 0;
	}
}

.list-view-post-categories-wrapper {
	@include grid-column(12, $collapse: true);
	h6 {
		margin: 0;
	}
	button {
		margin-bottom: 0;
		i {
			padding-right: 5px;
		}
	}
	@media #{$small} {
		@include grid-column(6, $collapse: true);
	}
}

.list-view-post-categories {
	margin: 0;
	a {
		color: $subheader-font-color
	}
	li {
		display: inline;
		font-size: $small-font-size;
		padding-right: 5px;
	}
	.icon-circle {
		color: $alert-color;
		padding-right: 5px;
	}
}

.list-view-post-edit-wrapper {
	@include grid-column(12, $collapse: true);
	margin-top: 20px;
	@media #{$small} {
		@include grid-column(6, $collapse: true);
		float: right;
		margin-top: 0;
	}
}

.list-view-post-edit {
	margin-left: 0;
	li {
		display: inline;
		float: left;
		padding: 0 20px 0 0;
		a {
			margin-bottom: 0;
		}
	}
	button.expand, .button.expand {
		padding-right: 1.125em;
		padding-left: 1.125em;
	}
	@media #{$small} {
		@include block-grid($per-row: false, $spacing: emCalc(20px));
		float: right;
		padding-top: 13px;
		li {
			padding-bottom: 3px;
		}
	}
}
