/*------------------------------------*\
    $MAP...............via Leaflet.js

    NOTE:
    Works in:
    Safari 3+
    Chrome Whatever+
    IE 9+
    Opera 10+ (Opera 9.5 supported background-size but not the keywords)
    Firefox 3.6+ (Firefox 4 supports non-vendor prefixed version)

\*------------------------------------*/





.content-wrapper {
  overflow: hidden;
  @include grid-column(12);
  padding: 0;
}

.map {
  opacity: 1;
  width: 100%;
  height: 386px;
  @include transition (all .25s ease-in-out);
  @media #{$small} {
    height: 500px;
  }
}

.map-collapse {
  opacity: .5;
  height: 38px;
  @include transition (all .25s ease-in-out);
}

.leaflet-container .leaflet-control-attribution {
  visibility: hidden;
}



