/*-------------------------------------------------------------------------*\
		$POST OVERLAY...............post details popup when map icons are clicked
\*-------------------------------------------------------------------------*/

.post-overlay:before {
	top: -19px !important;
	border-color: transparent transparent $blueGray transparent !important;
}

.post-overlay {
	@include dropdown-container($content: content);
	padding: 0;
	-webkit-box-shadow: $reveal-box-shadow;
		-moz-box-shadow: $reveal-box-shadow;
			box-shadow: $reveal-box-shadow;
	h5, h6 {
		line-height: 1em;
	}
	.post-body {
		-webkit-box-shadow: 0px;
		-moz-box-shadow: 0px;
		box-shadow: 0px;
	}
	.post-details-button {
		float: right;
		@media #{$small} {
			button {
				float: right;
			}
		}
	}
	.post-excerpt {
		font-size: $medium-font-size;
	}
	.post-meta {
		@include grid-column(6, $collapse: true);
		@media #{$small} {
			@include grid-column(12, $collapse: true);
		}
	}
}
