/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * POST DETAILS MAP...............map with smaller height than main index view
 * POST DETAILS...............post meta and images
 */





/*------------------------------------*\
		$POST DETAILS MAP
\*------------------------------------*/

.post-details-map {
	height: 200px;
	border-bottom: 3px solid $darkBlue;
/*  -moz-border-image: url(../images/search-bg.png) repeat;
		-webkit-border-image: url(../images/search-bg.png) repeat;
			-o-border-image: url(../images/search-bg.png) repeat;
				border-image: url(../images/search-bg.png) repeat;*/
}




/*------------------------------------*\
		$POST DETAILS
\*------------------------------------*/

.post-details {
	@extend .post;
	@media #{$medium} {
		@include grid-column(8);
	}
}

.post-categories-wrapper {
	@include grid-column(12);
	button {
		margin-bottom: 0;
	}
	@media #{$small} {
		button.expand, .button.expand {
			padding-right: 1.125em;
			padding-left: 1.125em;
			width: auto;
		}
	}
}

.post-thumbnails-wrapper {
	@include grid-column(12, $collapse: true);
	[data-clearing] li {
	margin-right: 0;
	}
}

.click-to-zoom {
	margin-bottom: 10px;
}

.post-thumbnails {
	@include block-grid($per-row: 2);
	@media #{$small} {
		@include block-grid($per-row: 4);
	}
	li img {
		@include thumb;
	}
}


