.post-details-map {
  height: 200px;
  border-bottom: 3px solid $darkBlue;
/*  -moz-border-image: url(../images/search-bg.png) repeat;
    -webkit-border-image: url(../images/search-bg.png) repeat;
      -o-border-image: url(../images/search-bg.png) repeat;
        border-image: url(../images/search-bg.png) repeat;*/
}

.post-details-wrapper {
  @include grid-column(12);
  margin-top: 20px;
}

.post-details {
  @extend .post;
  margin-bottom: 20px;
  @media #{$medium} {
    @include grid-column(8);
  }
}

.post-location-meta {
  @include grid-column(12);
}

.post-time-meta {
  @include grid-column(12);
}

.post-privacy-status {
  @include grid-column(12);
}

.post-thumbnails-wrapper {
  @include grid-column(12, $collapse: true);
  [data-clearing] li {
  margin-right: 0;
  }
}

.click-to-zoom {
  margin-bottom: 10px;
}

.post-thumbnails {
  @include block-grid($per-row: 2);
  @media #{$small} {
    @include block-grid($per-row: 4);
  }
  li img {
    @include thumb;
  }
}


