.related-posts {
  @extend .post;
  margin-bottom: 20px;
  @media #{$small} {
    @include grid-column(4);
  }
}

.related-post-image {
  @include grid-column(4, $collapse: true);
  @media #{$small} {
    @include grid-column(3, $collapse: true);

  }
  img {
    border: 4px solid $blueGray;
    border-radius: 125px;
  }
}

.related-post-details {
  @include grid-column(8);
  @media #{$small} {
    @include grid-column(9);

  }
}

.related-post-title {
  @include grid-column(12);
}

.related-post-time {
  @include grid-column(12);
}

.related-post-excerpt {
  @extend .post-excerpt;
  margin-top: 20px;
}
