/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * COLLAPSE MAP...............collapse and expand map tab
 * SEARCH BAR...............search bar body
 * SEARCH FORM FIELDS...............search bar input and dropdown fields
 */




/*------------------------------------*\
    $COLLAPSE MAP
\*------------------------------------*/
.collapse-map {
  background-color: $blueGray;
  position: relative;
  top: -38px;
  margin: auto;
  width: 186px;
  height: 38px;
  color: $white;
  cursor: pointer;
  z-index: 2;
  p {
    text-align: center;
    padding-top: 6px;
    margin: 0;
    font-size: 18px;
    letter-spacing: .1em;
    color: $white;
  }
}





/*------------------------------------*\
    $SEARCH BAR
\*------------------------------------*/
.search-bar {
  @include grid-column(12);
  @extend .box-shadow;
  background: $darkBlue url(../images/search-bg.jpg) repeat;
  width: 100%;
  border-top: 3px solid darken($blue, 5%);
}

.search-form-wrapper {
  @include grid-row;
}




/*------------------------------------*\
    $SEARCH FORM FIELDS
\*------------------------------------*/

.search-field {
  @include grid-column(12);
  @media #{$small} {
    @include grid-column(12)
  }
  @media #{$medium} {
    @include grid-column(3, $collapse: true);
  }
}

.categories-select {
  @include grid-column(12);
  @media #{$small} {
    @include grid-column(6)
  }
  @media #{$medium} {
    @include grid-column(2, $collapse: true);
  }
}

.sets-select {
  @include grid-column(12);
  @media #{$small} {
    @include grid-column(6)
  }
  @media #{$medium} {
    @include grid-column(2, $collapse: true);
  }
}

.location-select {
  @include grid-column(12);
  @media #{$small} {
    @include grid-column(6)
  }
  @media #{$medium} {
    @include grid-column(2, $collapse: true);
  }
}

.time-select {
  @include grid-column(12);
  @media #{$small} {
    @include grid-column(6)
  }
  @media #{$medium} {
    @include grid-column(2, $collapse: true);
  }
}

.search-bar-button {
  @include grid-column(12);
  @media #{$small} {
    @include grid-column(12)
  }
  @media #{$medium} {
    @include grid-column(1, $collapse: true);
  }
}
