/*------------------------------------*\
		CONTENTS
\*------------------------------------*/
/**
 * ACTIONS BAR............action bar styles
 */




/*------------------------------------*\
		$ACTIONS BAR
\*------------------------------------*/

%actions-bar,
.actions-bar {
	@include grid-column(12, $collapse:true);
	@include clearfix;
	background-color: $accent-color;
	@media #{$small} {
		margin: 20px 0 0 0;
	}
	@media #{$large-up} {
		margin: 40px 0 0 0;
	}
}

%actions-bar-header,
.actions-bar-header {
	@include grid-column(6);
	@media #{$small} {
		@include grid-column(2);
	}
	h3 {
		color: $white;
		margin-top: 10px;
	}
}

%actions-bar-admin,
.actions-bar-admin {
	@include grid-column(6);
	@media #{$small} {
		@include grid-column(10);
	}
	.dropdown-list {
		@include dropdown-container($content: list, $triangle: true);
    li {
      @include dropdown-style;
	}
  }
	.dropdown-button {
		@include button($padding: $button-tny, $bg: $secondary-color, $radius: true);
		@include dropdown-button($padding: tiny, $pip-color: $black);
		float: right;
		margin: 12px 0;
		&:before {
			border-color: $black transparent transparent transparent;
		}
		&:after {
			right: 5px;
			margin-top: -1px;
		}
		&.show-for-small {
			display: inline-block !important;
			@media #{$small} {
				display: none !important;
			}
		}
	}
  .actions-bar-admin-list {
		margin-top: 20px;
		float: right;
		li {
			display: inline;
			float: left;
			padding-left: 60px;
			color: $white;
			font-size: emCalc(14);
			a {
				 color: $white;
			}
			[class*="fa-"] {
				padding-right: 10px;
			}
			&.disabled {
				color: $sub-body-font-color;
				a {
					 color: $sub-body-font-color;
				}
			}
		}
	}
}

%actions-bar-warning,
.actions-bar-warning {
	@include grid-column(12);
	background: $brandRed;
	color: #fff;
	text-align: center;
	padding-top: 0.25em;
	padding-bottom: 0.25em;

	p {
		margin-bottom: 0;
	}

	a {
		color: #fff;
		border-bottom: 1px dashed #fff;
	}
}

.js-bulk-action.disabled {
	opacity: 0.25;
	pointer-events: none;
}
