  <div class="modal-header">
    <h4>Add to Set</h4>
    <a class="js-modal-close">&#215;</a>
  </div> <!-- end modal-header -->

  <div class="modal-wrapper">
    <ul class="sets-grid  js-sets-grid  show-for-medium-up">
      {{> SetItemMini }}
      {{> SetItemMini }}
      {{> SetItemMini }}
      {{> SetItemMini }}
    </ul> <!-- end .sets-grid -->

    <ul class="sets-grid  show-for-small">
      <a class="add-to-set-tag-button">London Transporation</a>
      <a class="add-to-set-tag-button">English Pubs</a>
      <a class="add-to-set-tag-button">Coffee Shops</a>
      <a class="add-to-set-tag-button">Tag #4</a>
      <a class="add-to-set-tag-button">Tag #5</a>
      <a class="add-to-set-tag-button">Tag #6</a>
    </ul> <!-- end .sets-grid -->

    <div class="more">
      <h5><a href="">more</a></h5>
    </div>

  <div class="current-sets-wrapper  show-for-medium-up">
    <ul class="current-sets">
      <h5>This post has been added to:</h5>
      <li>
        <a href="" class="label  round">London Automobiles</a>
        <a href=""><i class="fa  fa-times-circle"></i></a>
      </li>
      <li>
        <a href="" class="label  round">English Pubs</a>
        <a href=""><i class="fa  fa-times-circle"></i></a>
      </li>
      <li>
        <a href="" class="label  round">Coffee Shops</a>
        <a href=""><i class="fa  fa-times-circle"></i></a>
      </li>
    </ul> <!-- end .current-sets -->
  </div>

  </div> <!-- end modal-wrapper -->

  <section class="modal-footer">
    <div class="modal-submit">
      <button type="submit" form="search-form"><i class="fa  fa-cloud-upload  fa-lg"></i> Save Changes</button>
    </div>
  </section> <!-- end modal-footer -->
