<div class="modal-header">
  <h4>User</h4>
  <a class="close-reveal-modal">&#215;</a>
</div> <!-- end modal-header -->

<div class="modal-wrapper">
<div class="modal-wrapper">
    <section class="user-form-wrapper">
    </section> <!-- end create-post-options -->
  </div> <!-- end modal-wrapper -->
  <section class="edit-user-options">
    <form role="user" id="edit-user-form" action="">

      <h6>Username</h6>
      <input type="text" placeholder="Enter username">

      <h6>First name</h6>
      <input type="text" placeholder="Enter first name">

      <h6>Last name</h6>
      <input type="text" placeholder="Enter last name">

      <h6>Email address</h6>
      <input type="text" placeholder="Enter email address">

      <div class="create-set-categories">
        <h6>Role</h6>
        <select>
          <option selected DISABLED>Choose a role</option>
          <option>Admin</option>
          <option>Guest</option>
          <option>User</option>
        </select>
      </div>
    </form> <!-- end form -->
  </section> <!-- end create-post-options -->
</div> <!-- end modal-wrapper -->

<section class="modal-footer">
  <div class="modal-submit">
    <button type="submit" form="edit-user-form"><i class="fa  fa-plus  fa-lg"></i> Perform action</button>
  </div>
</section> <!-- end modal-footer -->