<article class="body-wrapper">
	<div class="row">

<section class="login-box">
	<div class="post-header">
		<h5>Login</h5>
	</div> <!-- end .post-header -->

	<div class="post-body">
		<div class="login-form-wrapper">

			<div class="login-form">
				<form action="">
					<input type="text" id="username" name="Username" placeholder="Username" required>
					<input type="text" id="password" name="Password" placeholder="Password" required>
					<input type="submit" name="submit" value="Login" class="submit-button">
					<!-- <p class="medium-text">CrowdmapID is supported</p> -->

				</form> <!-- end .form -->
			</div> <!-- end .login-form -->

			<!--<div class="social-login">
				<div class="social-buttons">
					<p class="medium-text">You can also login with these social accounts</p>
					<div class="facebook-button-wrapper">
						<a href="" class="facebook-button"><i class="fa  fa-facebook-square"></i>Facebook</a>
					</div>
					<div class="twitter-button-wrapper">
						<a href="" class="twitter-button"><i class="fa  fa-twitter-square"></i>Twitter</a>
					</div>
					<div class="google-button-wrapper">
						<a href="" class="google-button"><i class="fa  fa-google-plus-square"></i>Google</a>
					</div>
				</div>

				<div class="open-id">
						<p class="medium-text">or use your OpenID</p>
						<div class="open-id-input">
							<input type="text" name="open-id" placeholder="Your OpenID">
						</div>
						<div class="open-id-submit">
							<button type="submit">Go</button>
						</div>

				</div>

				<div class="login-disclaimer">
					<small><i class="fa  fa-asterisk"></i>You may need to disable popup blockers to login with the above sites.</small>
				</div>

			</div> <!-- end .social-login -->

		</div> <!-- end .login-form-wrapper -->

		<div class="login-box-meta">
			<p class="medium-text">Don't have an account? <a href="{{#url}}register{{/url}}">Register</a></p>
		</div>

	</div> <!-- end .post-body -->

</section> <!-- end .login-box -->

</div>
</article>
