/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * GLOBAL............global set styles
 * SET MODULE IMAGE...............image and notification
 * SET MODULE BODY...............set module body
 */




/*------------------------------------*\
		$GLOBAL
\*------------------------------------*/

.set-wrapper {
	position: relative;
	text-align: center;
	background-color: $white;
	padding-bottom: 12px;
	box-shadow: 0px 1px 2px rgba(lighten($darkGray, 30), 0.5);
}





/*------------------------------------*\
		$SET MODULE IMAGE
\*------------------------------------*/
/*
TODO: may need a notification mixin here
*/
.set-post-number {
 @extend %notification;
 background-color: $accent-color;
 top: -18px;
 border: 4px solid $white;
}





/*------------------------------------*\
		$SET MODULE BODY
\*------------------------------------*/

.set-body {
	padding: 0 10px 0;
}

.set-title h3 {
	@media #{$small} {
		font-size: 1.375em;
	}
	@media #{$medium} {
		font-size: 1.175em;
	}
}

.set-time-meta {
	margin-bottom: 5px;
	color: $sub-body-font-color;
}

.set-excerpt {
	margin-bottom: 20px;
	font-size: 14px;
	p {
		line-height: 1.3em;
	}
}

.set-view-posts-button {
	@include button($padding: $button-sml, $bg: $success-color, $radius: true);    
	margin-bottom: 2em;
}

.set-tags {
	@extend .border-bottom;
	padding-bottom: 10px;
	margin: 0 10px 10px;
	color: $sub-body-font-color;
	text-align: left;
	line-height: .8em;
	a {
		color: inherit;
	}
}

.set-actions-list {
	margin-left: 0;
	i {
		padding: 0;
	}
 li {
	display: inline;
	padding-right: 10px;
	small {
		font-size: 85%;
		@media#{$medium} {
			font-size: 70%;
		}
	}
 }
}
