/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * OPTIONS NAV..............form options nav icons
 * CREATE-POST-FORM...............create-post specific styles
 */




/*------------------------------------*\
		$OPTIONS NAV
\*------------------------------------*/

.form-options-nav-wrapper {
	@include grid-column(12);
	padding-left: 0;
	ul {
		margin-left: 0; 
	}
}

/*.sub-nav .select-icon {
	display: inline;
	color: $form-label-font-color;
	a {
		display: block;
		text-align: center;
	}
	.fa {
		position: relative;
		padding: 0;
		color: $body-font-color;
		font-size: 17px;
	}
}*/

.form-options-nav {
	@include sub-nav($active-bg: $accent-color);
}




/*-----------------------------------------------------------*\
		$CREATE-POST-FORM
\*-----------------------------------------------------------*/

.post-form-wrapper {
	@include grid-column(12);
	margin-bottom: 40px;
	padding: 0;
	input[type="text"], textarea {
		margin-bottom: 2em;
	}

	fieldset {
		border: none;
		padding: 0;
		margin: 0;
	}

	form > fieldset {
		display:none;
		&.active {
			display: block;
		}
	}

	label {
		@extend h6;
	}
}

.create-post-form textarea {
	height: 100px;
}

.location-search-row {
	@include grid-row();
}

.location-search-field {
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		@include grid-column(9, $collapse: true);
		padding-right: 10px;
	}
}

.location-search-button {
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		@include grid-column(3, $collapse: true);
		padding-left: 10px;
	}
}

.create-post-form-map {
	height: 200px;
}

.map-search-btn {
	@include button($bg: $success-color, $radius: true, $full-width: true);
}
