/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * CREATE-POST...............create-post specific styles
 * UPLOAD MEDIA BAR...............wrapper and button for various media uploads
 * MEDIA ICONS...............icons for uploading various media
 */




 /*-----------------------------------------------------------*\
 		$CREATE-POST
 \*-----------------------------------------------------------*/




.create-post-options {
	@include grid-column(12);
	margin-bottom: 40px;
	padding: 0;
	input[type="text"], textarea {
		margin-bottom: 2em;
	}

	fieldset {
		border: none;
		padding: 0;
		margin: 0;
		display:none;
		&.active {
			display: block;
		}
	}

	label {
		@extend h6;
	}
}

.create-post-location-map {
	background: image-url("map.jpg") no-repeat;
	width: 100%;
	height: 100px;
	background-size: cover;
	margin-bottom: 30px;
}




/*------------------------------------*\
		$UPLOAD MEDIA BAR
\*------------------------------------*/

.media-bar{
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		@include grid-column(8);
		padding: 0;
	}
}

.media-bar-uploads-wrap {
	@include grid-column(12);
	padding: 0;
	border-bottom: 1px solid $darkGray;
	@media #{$small} {
		@include grid-column(12, $collapse: true);
		margin: 2px 0 1px;
		border-bottom: 0;
	}
}

.media-bar-uploads {
	@include block-grid($spacing: 0px);
	padding: 0 10px;
	@media #{$small} {
		padding: 0;
	}
}




/*------------------------------------*\
		$MEDIA ICONS
\*------------------------------------*/

.select-icon {
	display: inline;

	color: $white;
	a {
		display: block;
		width: 56px;
		height: 60px;
		color: $white;
		text-align: center;
	}
	[class^="icon-"] {
		position: relative;
		top: 20px;
		left: 20px;
		padding: 0;
		font-size: 19px;
		@media #{$small} {
			left: 0;
		}
	}
}
