/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * CREATE-POST...............create-post specific styles
 * UPLOAD MEDIA BAR...............wrapper and button for various media uploads
 */




 /*-----------------------------------------------------------*\
 		$CREATE-POST
 \*-----------------------------------------------------------*/




.post-form-wrapper {
	@include grid-column(12);
	margin-bottom: 40px;
	padding: 0;
	input[type="text"], textarea {
		margin-bottom: 2em;
	}

	fieldset {
		border: none;
		padding: 0;
		margin: 0;
	}

	form > fieldset {
		display:none;
		&.active {
			display: block;
		}
	}

	label {
		@extend h6;
	}
}

.post-description {
 height: 200px;
}

.create-post-location-map {
	background: image-url("map.jpg") no-repeat;
	width: 100%;
	height: 100px;
	background-size: cover;
	margin-bottom: 30px;
}
