/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * EDIT POST...............Edit Post styles
 */




/*-----------------------------------------------------------*\
		$EDIT POST
\*-----------------------------------------------------------*/

.edit-post section.post-details {
	@extend .post;
	padding: 0;
	h6 {
		margin-bottom: 15px
	}
	@media #{$medium} {
		@include grid-column(12);
		padding: 0;
	}
}

.edit-post .post-title {
	@include grid-column(10, $collapse: true);
}

.close-icon {
	color: $body-font-color;
}

.edit-post .post-image {
	.fa-stack {
		position: absolute;
		top: -15px;
		right: -21px;
		.fa-circle {
			color: $white;
		}
		[class^="fa"], [class*=" fa"] {
			font-size: 1.5em;
		}
	}
}

.edit-post .post-categories {
	@include grid-column(12, $collapse: true);
	.add-a-category a {
		float: right;
		margin-top: 6px;
	}
	.fa-times-circle {
		color: $body-font-color;
		float: right;
		font-size: 16px;
		padding: 0;
	}
}

.edit-post .post-excerpt {
	@media #{$small} {
		padding-left: 20px;
	}
}

.post-excerpt-save-text-button {
	@include button($bg: $success-color, $radius: true, $full-width: true);
}

.edit-post .post-thumbnails-list-item {
	position: relative;
	a {
		color: $body-font-color;
	}
	.fa-stack {
		position: absolute;
		top: -15px;
		right: -12px;
		.fa-circle {
			color: $white;
		}
		[class^="fa"], [class*=" fa"] {
			font-size: 1.2em;
		}
	}
}

.post-wrapper {
	@include grid-column(12, $collapse: true);
	border-top: 1px solid $lightGray;
	padding-top: 20px;
}

.post-status {
	margin-bottom: 20px;
	.post-status-list {
		margin: 0;
		li {
			color: $subheader-font-color;
			font-size: $small-font-size;
			padding-right: 5px;
			margin-bottom: .7em;
		}
	}
	@media #{$small} {
		@include grid-column(6, $collapse: true);
	}
}

.post-history {
	margin-bottom: 20px;
	border-top: 1px solid $lightGray;
	padding-top: 20px;
	.post-history-list {
		@include grid-column(12, $collapse: true);
		margin: 0;
		font-size: $small-font-size;
		padding-right: 5px;
		.post-history-list-item {
			@media #{$small} {
				@include grid-column(8, $collapse: true)
			}
			.post-history-name {
				font-weight: bold;
				color: $body-font-color;
			}
		}
	}
		.post-history-time {
			color: $subheader-font-color;
			margin-bottom: .7em;
			@media #{$small} {
				@include grid-column(4, $collapse: true)
			}
			span {
				@media #{$small} {
					float: right;
				}
				i {
					padding-right: 3px;
				}
			}
		}

	@media #{$small} {
		@include grid-column(6, $collapse: true);
		border-top: 0;
		padding-top: 0;
	}
}
