/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * GLOBAL............global top bar styles
 * LEFT...............left side of top bar
 * RIGHT...............right side of top bar
 * MOBILE...............mobile top bar styles
 */




/*------------------------------------*\
		$GLOBAL
\*------------------------------------*/

#header-region {
	position: fixed;
	overflow: auto;
	top: 0;
	width: 100%;
	z-index: 98; /* 99 is modal bg, must be 1 lower */
}

#main-region {
	padding-top: 45px;
}

.top-bar {
	height: 45px;
	box-shadow: 0px 1px 2px rgba(lighten($darkGray, 30), 0.5);
	@media #{$small} {
		box-shadow: 0;
	}
}

.left-list__item,
.right-list__item {
	[class*='fa'] {
		padding: 0;
		@media #{$medium} {
			padding-right: 5px;
		}
	}
	span {
		display: none;
		@media #{$medium} {
			display: inline;
		}
	}
}




/*------------------------------------*\
		$LEFT
\*------------------------------------*/

.site-logo {
	background: image-url("logo.png") no-repeat;
	@include image-2x("logo@2x.png", 29px, 29px);
	background-size: 100%;
	height: 29px;
	width: 29px;
	margin: 10px 10px 0;
	float: left;
}

.top-bar .title-area {
	position: relative;
	float: left;
	.name .site-title {
		display: none;
		padding: 0 20px 0 10px;
		color: $body-font-color;
		font-weight: bold;
		font-size: rem-calc(20);
		line-height: 45px;
		@media #{$mobile-up} {
			display: inline;
		}
	}
}

.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li.active:not(.has-form) a:not(.button) {
	&:active {
		background: darken($accent-color, 10);
	}
}

.left-list__item {
	.fa-eye {
		position: relative;
		top: -1px;
	}
	.fa-th-large {
		padding-right: 9px;
	}
}




/*------------------------------------*\
		$RIGHT
\*------------------------------------*/

.top-bar-section li.create-post a:not(.button){
	background-color: $success-color;
	color: set-text-color($success-color);
	&:hover {
		background-color: scale-color($success-color, $lightness: $button-function-factor);
		color: set-text-color($success-color);
	}
}

.top-bar-section ul.right {
	background-color: $white;
}

.top-bar-section li a.workspace-panel-button {
	padding: 0 7px 0 18px;
	.fa-dashboard {
		position: relative;
		top: -1px;
	}
}

.right-list--item {
	.create-post-button i {
		position: relative;
		top: 1px;
		font-size: 20px;
	}
}
