/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * GLOBAL............global top bar styles
 * LEFT...............left side of top bar
 * RIGHT...............right side of top bar
 * MOBILE...............mobile top bar styles
 */




/*------------------------------------*\
		$GLOBAL
\*------------------------------------*/

#header-region {
	@include clearfix;
}

.top-bar {
	overflow: hidden;
	@include box-shadow(0px 1px 2px rgba(lighten($darkGray, 30), 0.5));;
	@media #{$small} {
		@include box-shadow(0);
	}
}




/*------------------------------------*\
		$LEFT
\*------------------------------------*/

.logo-image {
	background: image-url("logo.png") no-repeat;
	@include image-2x("logo@2x.png", 29px, 29px);
	background-size: 100%;
	height: 29px;
	width: 29px;
	margin: 10px;
	float: left;
}

.top-bar .title-area {
	position: relative;
	float: left;
	width: 318px;
}

.top-bar .name h1 a {
	width: 100%;
	padding: 0 20px;
	@media #{$small} {
		padding: 0 52px;
	}
}

.views {
	.fa-eye {
		position: relative;
		top: -1px;
	}
}




/*------------------------------------*\
		$RIGHT
\*------------------------------------*/

.top-bar-section li.create-post a{
	background-color: $success-color;
	color: set-text-color($success-color);
}

.top-bar-section ul.right {
	width: 110px;
	background-color: $accent-color;
	@media #{$medium} {
		width: 252px;
	}
}

.top-bar-section li a.workspace-panel-button {
	padding: 0 7px 0 18px;
	.fa-dashboard {
		position: relative;
		top: -1px;
	}
}

.top-bar-section li.show-for-medium-down a {
	&.workspace-panel-button,
	&.create-post-button,
	&.views,
	&.sets {
		padding: 0 20px;
		i {
			position: relative;
			top: 3px;
			font-size: 19px;
			padding: 0;
		}
	}
	&.workspace-panel-button {
		padding: 0 18px;
	}
}




/*------------------------------------*\
		$MOBILE
\*------------------------------------*/

.name-small {
	background-color: $lightGray;
/*  margin-top: 45px;*/
	h4 {
		line-height: 2.688em;
		margin: 0;
		a {
			color: $topbar-link-color;
		}
	}
}


