	<div class="post-header">

		<div class="post-title">
			<h5>{{ title }}</h5>
		</div> <!-- end .post-title -->

		<div class="post-actions-admin">
			<div class="post-actions-wrapper">
				<ul class="post-actions">
					{{#if allowed_methods.put}}
						<li><a class="post-actions-button  post-edit  js-post-edit"> <i class="fa  fa-lg  fa-edit"></i> <span class="post-actions-button-text">edit</span></a></li>
					{{/if}}
					{{#feature 'sets_ui'}}
						<li><a class="post-actions-button  post-add-to-set  js-post-set"> <i class="fa  fa-lg  fa-plus-circle"></i> <span class="post-actions-button-text">set</span></a></li>
					{{/feature}}
					{{#if allowed_methods.put}}
					<li>
						{{#if isPublished}}
							<a class="post-actions-button  post-unpublish  js-post-unpublish"> <i class="fa  fa-lg  fa-file"></i> <span class="post-actions-button-text">unpublish</span></a>
						{{else}}
							<a class="post-actions-button  post-publish  js-post-publish"> <i class="fa  fa-lg  fa-file-o"></i> <span class="post-actions-button-text">publish</span></a>
						{{/if}}
					</li>
					{{/if}}
					{{#if allowed_methods.delete}}
						<li><a class="post-actions-button  post-delete  js-post-delete"> <i class="fa  fa-lg  fa-trash-o"></i> <span class="post-actions-button-text">delete</span></a></li>
					{{/if}}
				</ul><!-- end .post-actions -->

				<ul class="post-nav">
					{{#if hasPrev}}
					<li><a class="post-nav-button  js-post-prev"><i class="fa  fa-lg  fa-arrow-left"></i> <span class="post-nav-button-text">Prev</span></a></li>
					{{/if}}
					{{#if hasNext}}
					<li><a class="post-nav-button  js-post-next"><span class="post-nav-button-text">Next</span> <i class="fa  fa-lg  fa-arrow-right"></i></a></li>
					{{/if}}
				</ul><!-- end .post-nav -->
			</div> <!-- end .post-actions-wrapper -->
		</div> <!-- end .post-actions-admin -->

	</div> <!-- end .post-header -->

	<div class="post-body">

		<div class="post-detail-content">

			<div class="post-excerpt">
				{{!-- @todo replace with markdown formatting --}}
				<p>
				{{newLineToBr content}}
				</p>
			</div> <!-- end .post-excerpt -->

			<div class="post-values">
				<!-- Populated in onDomRefresh callback -->
			</div> <!-- end .post-values -->

		</div> <!-- end .post-details -->

		<div class="post-image">
			{{#feature 'media_uploads'}}
			<img src="{{ imageurl "mini-coop.jpg" }}" alt="">
			{{/feature}}
		</div> <!-- end .post-image -->

		<div class="post-meta">
			<div class="post-meta-details">
				<h6>Post Details</h6>
				<div class="post-author">
					<p><i class="fa  fa-user"></i><span>
					{{#if user}}
					<a href="#users/{{user.id}}">
						{{#if user.realname}}
							{{user.realname}}
						{{else}}
							{{user.username}}
						{{/if}}</a>
					{{else}}
						Anonymous
					{{/if}}
				</span></p>
				</div> <!-- end .post-author -->

				<div class="post-time-meta">
					<p><i class="fa  fa-clock-o"></i><span class="post-time" >{{ datetime-fromNow created }}</span></p>
				</div> <!-- end .post-time-meta -->

				<div class="post-published-status">
					{{#if isPublished}}
						<p><i class="fa  fa-file-o"></i><span class="post-time" >Published</span></p>
					{{else}}
						{{!-- @todo add ucfirst handler and format status --}}
						<p><i class="fa  fa-file"></i><span class="post-time" >{{status}}</span></p>
					{{/if}}
				</div> <!-- end .post-published-status -->
			</div> <!-- end .post-details -->

			{{#if tags}}
			<div class="post-tags">
				<h6>Tags</h6>
				<ul>
					{{#each tags}}
					<li>
						{{>tag-with-icon}}
					</li>
					{{/each}}
				</ul>
			</div> <!-- end .post-tags -->
			{{/if}}

		</div> <!-- end .post-meta -->


		<hr>
		{{#feature 'media_uploads'}}
		<p class="click-to-zoom"><small><i class="fa  fa-search-plus"></i> click images to zoom</small></p>
		<div class="post-thumbnails-wrapper">
			<ul class="post-thumbnails  js-lightbox-gallery">
				<li><a href="{{ imageurl "mini-coop.jpg"}}"><img src="{{ imageurl "mini-coop.jpg"}}" alt=""></a></li>
				<li><a href="{{ imageurl "mini-coop-2.jpg"}}"><img src="{{ imageurl "mini-coop-2.jpg"}}" alt=""></a></li>
				<li><a href="{{ imageurl "mini-coop-3.jpg"}}"><img src="{{ imageurl "mini-coop-3.jpg"}}" alt=""></a></li>
				<li><a href="{{ imageurl "mini-coop-4.jpg"}}"><img src="{{ imageurl "mini-coop-4.jpg"}}" alt=""></a></li>
			</ul>
		</div> !-- end .post-thumbnails-wrapper --
		{{/feature}}
	</div> <!-- end .post-body -->
