<form role="form" action="">
<div class="list-view-bulk-actions  js-list-view-bulk-actions  visually-hidden">
	<div class="row">
		<ul class="list-view-bulk-actions-list">
			<li>
				<label class="select-all" for="select-all">
					<input class="show-for-medium-down js-select-all-input" type="checkbox" id="select-all" value="on">
					<span class="hide-for-medium-down underline select-text">{{t "nav.select_all"}}</span>
					<span class="hide-for-medium-down underline unselect-text visually-hidden">{{t "nav.unselect_all"}}</span>
				</label>
			</li>
			<li><a class="js-post-bulk-publish"> <i class="fa  fa-file"></i> <span class="hide-for-medium-down">{{t "post.publish"}}</span></a></li>
			<li><a class="js-post-bulk-unpublish"> <i class="fa  fa-file-o"></i> <span class="hide-for-medium-down">{{t "post.unpublish"}}</span></a></li>
			<li><a class="js-post-bulk-delete"> <i class="fa  fa-trash-o"></i> <span class="hide-for-medium-down">{{t "nav.delete"}}</span></a></li>
		</ul> <!-- end .list-view-bulk-actions-list .hide-for-medium-down-->
	</div> <!-- end .row -->
</div> <!-- end .list-view-bulk-actions -->

<div class="row">
	<div class="list-view-filter">
		<div class="row">

			<div class="list-view-filter-info">
				{{>listinfo}}
			</div> <!-- end .list-view-filter-info -->

			<div class="list-view-filter-count">
				<div class="filter-count-select">
					<label class="visually-hidden" for="filter-count">{{t "posts.number_of_posts_shown"}}</label>
					<select id="filter-count" class="filter-count  js-filter-count">
					{{#each pageSizes}}
						<option value="{{this}}"{{#if @first}} selected{{/if}}>{{this}}</option>
					{{/each}}
					</select>
				</div>

			</div> <!-- end .list-view-filter-count -->

			<div class="list-view-filter-sort">
				<div class="filter-sort-select">
					<label class="visually-hidden" for="filter-sort">{{t "post.sort_posts_by"}}</label>
					<select id="filter-sort" class="filter-sort  js-filter-sort">
					{{#each sortKeys}}
						<option value="{{@key}}">{{this}}</option>
					{{/each}}
					</select>
				</div>

			</div> <!-- end .list-view-filter-sort -->

		</div> <!-- end .row -->
	</div> <!-- end .list-view-filter -->

	<div class="list-view-wrapper">
		{{# feature 'post_export'}}
				<span class="right">
					<a href="#" class="js-post-bulk-export"><p><i class="fa fa-cloud-download"></i> {{t "post.export"}}</p></a>
				</span>
			{{/feature}}
		<ul class="list-view-post-list">
		</ul>

	</div> <!-- end .list-view-wrapper -->
</div> <!-- end .row -->

<div class="pagination-wrapper">
	{{>pagination}}
</div> <!-- end .pagination-wrapper -->
</form>
