/*------------------------------------*\
		$CONTENTS
\*------------------------------------*/
/**
 * SEARCH BAR...............sets create and search bar
 * SETS GRID...............grid that includes sets module
 */




/*------------------------------------*\
		$SEARCH BAR
\*------------------------------------*/
.sets-search-bar {
	@include grid-row();
	box-shadow: 0px 1px 2px rgba(lighten($darkGray, 30), 0.5);
	background: $accent-color;
	margin-bottom: 20px;
	padding: 1.25em 0;
}

.sets-search-bar-title {
	@include grid-column(5);
	h5 {
		letter-spacing: .1em;
		color: $white;
		margin: 0;
	}
	@media #{$small} {
		@include grid-column(5);
	}
	@media #{$medium} {
		@include grid-column(6);
	}
}

.sets-search-bar-subtitle {
	font-size: 14px;
	font-style: italic;
	color: darken($secondary-color, 10);
	line-height: 1.2em;
	margin-bottom: 0;
}

.sets-search-bar-create-button {
 @include grid-column(7);
	 a {
	 	@include button($padding: emCalc(15px), $bg: $success-color, $radius: true, $full-width: true);
	 }
 @media #{$small} {
		@include grid-column(3);
		border-right: 1px solid darken($accent-color, 10);
		a {
		 margin: 0;
		}
 }
 @media #{$medium} {
 	@include grid-column(2);
 }
}

.sets-search-bar-search-field {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(4);
	}
	input[type="text"] {
		margin: 0;
	}
}

/*------------------------------------*\
		$SETS GRID
\*------------------------------------*/
.sets-grid {
	@include block-grid($per-row: 1);
	@media #{$portrait} {
		@include block-grid($per-row: 1);
	}
	@media #{$mobile-up} {
		@include block-grid($per-row: 2);
	}
	@media #{$small} {
		@include block-grid($per-row: 2);
	}
	@media #{$medium} {
		@include block-grid($per-row: 4);
	}
	@media #{$large} {
		@include block-grid($per-row: 3);
	}
	@media #{$large-up} {
		@include block-grid($per-row: 4);
	}
 }
