.set-detail-map {
	height: 200px;
	background-color: $lightGray;
	margin-bottom: 20px;
}

.set-detail-summary-card {
	@include grid-column(12, $collapse: true);
	margin-bottom: 20px;
	@media #{$small} {
		@include grid-column(4, $collapse: true);
		padding-right: 20px;
	}
	@media #{$medium} {
		@include grid-column(3, $collapse: true);
		padding-right: 20px;
	}
}

.set-detail-post-list-wrapper {
	@include grid-column(12, $collapse: true);
	margin-bottom: 20px;
	@media #{$small} {
		@include grid-column(8, $collapse: true);
	}
	@media #{$medium} {
		@include grid-column(9, $collapse: true);
	}
}

.set-detail-post-list-filter {
	@extend .list-view-filter;
	margin-bottom: 20px;
}

.set-detail-post-list {
	@include grid-column(12, $collapse: true);
	box-shadow: 0px 1px 2px rgba(lighten($darkGray, 30), 0.5);
	background-color: $white;
	color: $sub-body-font-color;
	margin: 0;
	padding: 15px 10px;
}

.set-detail-post {
	@extend %list-view;
	margin-bottom: 5px;
}

.set-detail-post-admin {
	@extend .list-view-admin;
}

.set-detail-post-list-tags-wrapper {
	@extend .list-view-tags-wrapper;
	padding-top: 5px;
	margin-bottom: 20px;
	@media #{$small} {
		@include grid-column(12, $collapse: true);
	}
	@media #{$medium} {
		@include grid-column(6, $collapse: true);
	}
}

.set-detail-post-edit-wrapper {
	@extend .list-view-edit-wrapper;
	@media #{$small} {
		@include grid-column(12, $collapse: true);
		.list-view-edit {
			float: left;
		}
		@media #{$medium} {
			@include grid-column(6, $collapse: true);
			.list-view-edit {
				float: right;
			}
		}
	}
}
