/*------------------------------------*\
   CONTENTS
\*------------------------------------*/
 /**
 * CARD PANEL...............global card panel styles
   * WITH POST IMAGE
   * WITHOUT POST IMAGE
 */





/*------------------------------------*\
   $CARD PANEL
\*------------------------------------*/

.card-panel-wrapper {
  @include grid-column(12);
  display: none;
  border-right: 2px solid darken($secondary-color, 10);
  border-bottom: 2px solid darken($secondary-color, 10);
  border-left: 2px solid darken($secondary-color, 10);
  border-radius: 0 0 $global-radius $global-radius;
  padding: 5px;
}

.card-panel {
  @include grid-column(12, $collapse: true);
  background-color: lighten($secondary-color, 2);
  border: 2px solid darken($secondary-color, 10);
  border-radius: $global-radius;
  padding: 0 15px 0 15px;
  textarea {
    max-height: 100px;
  }
}

.card-panel__header {
  padding: 15px 0;
  margin: 0 0 15px 0;
  border-bottom: 1px solid darken($secondary-color, 10);
  .reply-number {
    font-size: 14px;
    float: right;
  }
}

.card-panel__post-image {
  @include grid-column(12, $collapse: true);
  padding-bottom: 17px;
  @media #{$small} {
    @include grid-column(2, $collapse: true);
    padding: 0 20px 0 0;
   }
  @media #{$medium} {
    @include grid-column(2, $collapse: true);
    padding: 0 20px 0 0;
   }
   img {
     width: 100%;
   }
}

.card-panel__details {
  @include grid-column(12, $collapse: true);
  @media #{$small} {
    @include grid-column(4, $collapse: true);
  }
  @media #{$medium} {
    @include grid-column(6, $collapse: true);
  }
  @media #{$large} {
    @include grid-column(4, $collapse: true);
  }
  .subheader {
    margin-top: 0;
    font-size: $medium-font-size;
    .username {
      font-weight: bold;
    }
   }
   .details {
     font-size: $medium-font-size;
     margin-bottom: 12px;
     @media #{$small} {
        margin-bottom: 0;
      }
   }
}

.card-panel__meta {
  @extend .card__meta;
  @include grid-column(12, $collapse: true);
  @media #{$small} {
    @include grid-column(5);
    float: right;
    padding-right: 0;
   }
  @media #{$medium} {
    @include grid-column(6, $collapse: true);
    float: right;
  }
  @media #{$large} {
    @include grid-column(5, $collapse: true);
    float: right;
  }
  .location {
    margin-bottom: 0;
  }
  .datetime {
    margin-bottom: 0;
  }
}

// WITH POST IMAGE

.has-post-image .card-panel__details {
  @include grid-column(12, $collapse: true);
  @media #{$small} {
    @include grid-column(4, $collapse: true);
  }
  @media #{$medium} {
    @include grid-column(4, $collapse: true);
  }
  @media #{$large} {
    @include grid-column(4, $collapse: true);
  }
  .subheader {
    margin-top: 0;
    font-size: $medium-font-size;
    .username {
      font-weight: bold;
    }
   }
   .details {
     font-size: $medium-font-size;
     margin-bottom: 12px;
     @media #{$small} {
        margin-bottom: 0;
      }
   }
}

.has-post-image .card-panel__meta {
  @extend .card__meta;
  @include grid-column(12, $collapse: true);
  @media #{$small} {
    @include grid-column(5);
    float: right;
    padding-right: 0;
   }
  @media #{$medium} {
    @include grid-column(6, $collapse: true);
    float: right;
  }
  @media #{$large} {
    @include grid-column(5, $collapse: true);
    float: right;
    text-align: right;
    margin-top: 0;
  }
  .location {
    margin-bottom: 0;
  }
  .datetime {
    margin-bottom: 0;
  }
}

.view-post {
  position: absolute;
  bottom: 15px;
  right: 0;
  font-size: $small-font-size;
}
