/*------------------------------------*\
	$CONTENTS
\*------------------------------------*/
/**
 * GENERAL...............general form overrides
 * CUSTOM DROPDOWNS...............custom form overrides
 * SEARCH BAR...............search bar styles
 * LIST VIEW FILTER...............list view filter styles
 * PSEUDO ELEMENTS...............pseudo element styles
 * FIELDSETS...............form fieldset styles
*/




/*------------------------------------*\
 	$GENERAL
 \*------------------------------------*/

form .row .row {
/* margin: 0 -0.5em; */
	@include grid-row($behavior: nest);
}

input[type="radio"], select {
	margin: 0 3px 1em 0;
}

label.checkbox {
	width:100%;
	cursor:pointer;
	overflow: hidden;
	margin: 0;

	input[type=checkbox] {
		display:none; margin : 0;
	}

	i {
		font-weight: bold;
	}
}

textarea {
	height: 400px;
	font-family: inherit;
	font-weight: normal;
	font-size: emCalc(14px);
	line-height: 1.6;
	margin-bottom: 1.25em;
	text-rendering: optimizeLegibility;
}

select {
	-webkit-appearance: none !important;
	background: $white image-url("dropdown-arrow.svg") no-repeat;
	background-size: 9px;
	background-position-x: 97%;
	background-position-y: center;
	border: 1px solid #cccccc;
	padding: 0.58em emCalc(16px) 0.58em 0.58em;
	font-family: inherit;
	font-weight: normal;
	font-size: emCalc(14px);
	line-height: 1.6;
	color: $sub-body-font-color;
	text-rendering: optimizeLegibility;
	@include border-radius($global-radius);
}

select[multiple] {
	background-image: none;
}

@-moz-document url-prefix() {
  select {
   	background: #fafafa;
  	padding: 0.7em 1em 0.78em 0.78em;
  }
}

/*------------------------------------*\
	$CUSTOM DROPDOWNS
\*------------------------------------*/

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"] {
	height: 100%; /* FF fix */
	padding: 10px;
	@include border-radius($global-radius);
}

form.custom .custom.dropdown {
	height: 2.9em;
	@include border-radius($global-radius);
	.current {
	margin-top: .4em;
	margin-left: 1.4em;
	}
	.selector {
	height: 3.3125em;
	}
}




/*------------------------------------*\
		$SEARCH BAR
\*------------------------------------*/


.search-bar form.custom .custom.dropdown {
	@media #{$medium} {
		margin-bottom: 0;
	}
	@media #{$medium} {
		@include border-radius(0px);
	}
}




/*------------------------------------*\
		$LIST VIEW FILTER
\*------------------------------------*/

.list-view-filter form.custom {
	@media #{$small} {
		margin-bottom: 0;
	}
}

form.custom .custom.dropdown .current {
	margin-left: 0.4em;
}




/*------------------------------------*\
		$PSEUDO ELEMENTS
\*------------------------------------*/

form.custom .custom.dropdown ul li:hover {
	background-color: $accent-color;
	color: $white;
}

form.custom .custom.dropdown ul li.selected:hover {
	background: $body-bg;
	cursor: "none";
	color: $body-font-color;
}

form.custom .custom.checkbox.checked:before {
	margin-top: 5px;
	font-size: 20px;
}

.simplepicker.icon {
	margin-bottom: 1em;
}
.simplepicker.icon.sp-block,
.simplepicker span.sp-block {
	width: 1.6em;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	vertical-align: middle;
	i.fa {
		padding-right: 0;
	}
}

/*------------------------------------*\
	$FIELDSETS
\*------------------------------------*/

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
