/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**

 * ROLE FILTER............roles, count and search styles
 */





/*------------------------------------*\
    $USER-LIST ROLE FILTER BAR
\*------------------------------------*/

.role-filter {
	@include grid-column(12);
  background-color: $white;
}

.role-filter-categories {
	@include grid-column(12);
	margin-top: 15px;
	@media #{$small} {
		@include grid-column(9);
		margin-top: 0;
	}
	.dropdown-button {
		@include button($padding: $button-med, $bg: $secondary-color, $radius: true, $full-width: true);
		@include dropdown-button($padding: tiny);
		margin-bottom: 0;
		&:before {
			border-color: $black transparent transparent transparent;
		}
	}
}

.role-filter-categories-list {
	@include block-grid(5);
  &:after {
    content: none;
    display: table;
  }
	li {
		border-right: 1px solid $secondary-color;
		padding: 0 10px;
		font-size: emCalc(14);
    color: $sub-body-font-color;
		line-height: 2.4em;
		text-align: center;
    @media #{$small} {
      padding: 0px;
    }
	}
}

.role-filter-categories-list li {
  &.active {
    background-color: darken($secondary-color, 2);
    color: $body-font-color;
    font-weight: bold;
    border-bottom: 3px solid $primary-color;
  }
  &:hover:not(.active) {
    background-color: darken($secondary-color, 2);
    border-bottom: 3px solid $primary-color;
  }
  &:active:not(.active) {
    background-color: darken($secondary-color, 6);
  }
}

.role-filter-categories-list {
  .hide-for-small {
    display: none !important;
    @media #{$small} {
      display: inline-block !important;
    }
  }
  .count-number {
    position: relative;
    top: 4px;
    font-size: emCalc(11);
    letter-spacing: .15em;
  }
  a {
    display: block;
    padding: 20px 0px;
    text-decoration: none;
    color: $body-font-color;
  }
}

%role-filter-count-number {
	position: relative;
	top: -5px;
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 100px;
	margin: 0 auto 0 10px;
	color: $white;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	white-space: nowrap;
}

[class*='-count-number'] {
	@extend %role-filter-count-number;
}

/*random color function for count-number background*/

$color1: $accent-color;
$color2: $alert-color;
$color3: $success-color;
$color4: $warning-color;
$color5: $primary-color;

$colors: $color1, $color2, $color3, $color4, $color5;

@for $i from 1 through length($colors) {
  .role-filter-categories-list li:nth-child(#{length($colors)}n+#{$i}) [class*='-count-number'] {
		background-color: (nth($colors, $i));
	}
}

.search-field-wrapper--role-filter {
  @extend %search-field-wrapper;
  @include grid-column(12);
  padding: 0 20px;
  border-top: 1px solid $secondary-color;
  @media #{$small} {
    @include grid-column(3, $float: right);
    border-top: none;
    margin: 17px 0 0 0;
  }
}
