<div class="modal-header">
  <h4>{{t "set.create_set"}}</h4>
  <a class="js-modal-close">&#215;</a>
</div> <!-- end modal-header -->

<div class="modal-wrapper">
  <section class="create-post-options">
    <form role="search" id="search-form" action="">

      <h6>{{t "set.name"}}</h6>
      <input type="text" placeholder="{{t 'set.enter_your_name'}}">

      <div class="create-set-photo">
        <h6>{{t "set.photo"}}</h6>
        <a href="" class="create-set-thumbnail">
          <img src="/media/kohana/images/placeholder.jpg">
        </a>
        <button class="create-set-photo-button"><i class="fa  fa-camera-retro"></i> {{t "set.add_a_photo"}}</button>
      </div>

      <h6>{{t "set.description"}}</h6>
      <textarea name="post-description" id="post-description" class="post-description" placeholder="{{t 'set.enter_a_short_description'}}" cols="30" rows="30"></textarea>

      <h6>{{t "set.keywords"}}</h6>
      <input type="text" placeholder="{{t 'set.separate_tags_with_comma'}}">

      <div class="create-set-tags">
        <h6>{{t "nav.tags"}}</h6>
        <select>
          <option selected DISABLED>{{t "set.choose_a_tag"}}</option>
          <option>Voting Issues</option>
          <option>Security</option>
          <option>Urgent</option>
        </select>
      </div>

      <div class="visibility-select">
        <h6>{{t "set.visibility"}}</h6>
        <small class="visibility-meta-text">{{t "set.this_set_is_private_by_default"}}. {{t "set.click_or_tap_button_to_change"}}.</small>
        <button class="visibility-select-private-button  js-visibility-private"> <i class="fa  fa-lock"></i>{{t "set.private"}}</button>
        <button class="visibility-select-public-button  js-visibility-public  none"> <i class="fa  fa-unlock"></i>{{t "set.public"}}</button>
        <!-- <button class="radius  bluegray  expand  button"> <i class="fa  fa-unlock"></i>Public</button> -->
<!--         <button class="radius  secondary  expand  button"> <i class="fa  fa-lock"></i>
        <label for="private">
          <input type="radio" name="visibility" id="private" value="small" checked="checked" />
          Private
        </label>
      </button>

      <button class="radius  bluegray  expand  button"> <i class="fa  fa-unlock"></i>
        <label for="public">
          <input type="radio" name="visibility" id="public" value="large" />
          Public
        </label>
      </button> -->
      </div>

    </form> <!-- end form -->
  </section> <!-- end create-post-options -->
</div> <!-- end modal-wrapper -->

<section class="modal-footer">

  <div class="modal-submit">
    <button type="submit" form="search-form"><i class="fa  fa-plus  fa-lg"></i> {{t "set.create_set"}}</button>
  </div>

</section> <!-- end modal-footer -->
