	<div class="modal-header">
		<button class="js-back-button">{{t "nav.back"}}</button>
		<h4>{{t "post.create_post_of_type"}}</h4>
		<a class="js-modal-close">&#215;</a>
	</div> <!-- end modal-header -->

	<div class="modal-wrapper">

		{{#if fieldsets}}
		<div class="form-options-nav-wrapper" data-fieldset-count="{{fieldsets.length}}">
			<dl class="form-options-nav">
				<dt>{{t "nav.options"}}</dt>
				{{#each fieldsets}}
					<dd class="{{#if active}}active{{/if}}">
						<a class="js-switch-fieldset" data-fieldset="{{name}}" title="{{name}}">{{legend}}</a>
					</dd>
				{{/each}}
			</dl>
		</div>
		{{/if}}

		{{#if enable_media_uploads}}
		<section class="post-media-wrapper" style="clear:both">
			<form class="dropzone"></form>
		</section> <!-- end post-media-wrapper -->
		{{/if}}

		<section class="post-form-wrapper">
		</section> <!-- end post-form-wrapper -->
	</div> <!-- end modal-wrapper -->

	<section class="modal-footer">
		<div class="modal-submit">
			<button type="submit" form="create-post-form"><i class="fa  fa-plus  fa-lg"></i> {{t "post.create_post"}}</button>
		</div>
	</section> <!-- end modal-footer -->



