<div class="modal-header">
  <h4>Create Set</h4>
  <a class="js-modal-close">&#215;</a>
</div> <!-- end modal-header -->

<div class="modal-wrapper">
  <section class="create-post-options">
    <form role="search" id="search-form" action="">

      <h6>Name</h6>
      <input type="text" placeholder="Enter your name">

      <div class="create-set-photo">
        <h6>Photo</h6>
        <a href="" class="create-set-thumbnail">
          <img src="/media/kohana/images/placeholder.jpg">
        </a>
        <button class="create-set-photo-button"><i class="fa  fa-camera-retro"></i> Add a Photo</button>
      </div>

      <h6>Description</h6>
      <textarea name="post-description" id="post-description" class="post-description" placeholder="Enter a short description" cols="30" rows="30"></textarea>

      <h6>Keywords</h6>
      <input type="text" placeholder="Separate tags with comma">

      <div class="create-set-tags">
        <h6>Tags</h6>
        <select>
          <option selected DISABLED>Choose a tag</option>
          <option>Voting Issues</option>
          <option>Security</option>
          <option>Urgent</option>
        </select>
      </div>

      <div class="visibility-select">
        <h6>Visibility</h6>
        <small class="visibility-meta-text">This set is <strong>Private</strong> by default. Click or tap button to change.</small>
        <button class="visibility-select-private-button  js-visibility-private"> <i class="fa  fa-lock"></i>Private</button>
        <button class="visibility-select-public-button  js-visibility-public  none"> <i class="fa  fa-unlock"></i>Public</button>
        <!-- <button class="radius  bluegray  expand  button"> <i class="fa  fa-unlock"></i>Public</button> -->
<!--         <button class="radius  secondary  expand  button"> <i class="fa  fa-lock"></i>
        <label for="private">
          <input type="radio" name="visibility" id="private" value="small" checked="checked" />
          Private
        </label>
      </button>

      <button class="radius  bluegray  expand  button"> <i class="fa  fa-unlock"></i>
        <label for="public">
          <input type="radio" name="visibility" id="public" value="large" />
          Public
        </label>
      </button> -->
      </div>

    </form> <!-- end form -->
  </section> <!-- end create-post-options -->
</div> <!-- end modal-wrapper -->

<section class="modal-footer">

  <div class="modal-submit">
    <button type="submit" form="search-form"><i class="fa  fa-plus  fa-lg"></i> Create Set</button>
  </div>

</section> <!-- end modal-footer -->
