<div class="modal-header">
  <h4>{{#if isNew}}{{t "tag.create_tag"}}{{else}}{{t "tag.edit_tag"}}{{/if}}</h4>
  <a class="js-modal-close">&#215;</a>
</div> <!-- end modal-header -->

<div class="modal-wrapper">
    <section class="tag-form-wrapper">
    </section> <!-- end create-post-options -->
</div> <!-- end modal-wrapper -->

<section class="modal-footer">
  <div class="modal-submit">
    <button type="submit" form="edit-tag-form"><i class="fa  fa-plus  fa-lg"></i> {{#if isNew}}{{t "tag.create_tag"}}{{else}}{{t "tag.update_tag"}}{{/if}} </button>
  </div>
</section> <!-- end modal-footer -->
