	<div class="modal-header">
		<h4>Edit Post</h4>
		<a class="js-modal-close">&#215;</a>
	</div> <!-- end modal-header -->

	<div class="modal-wrapper">
		<section class="post-details">
			<div class="post-header">
				{{!-- FIXME: Hiding post tag marker until we have some way to specify the primary tag
				<div class="post-tag-marker"></div> <!-- end .post-tag-marker -->
				--}}

				<div class="post-title">
					<h5>{{title}}</h5>
				</div> <!-- end .post-title -->

			</div> <!-- end .post-header -->

			<div class="post-body">
				<div class="post-image">

					<div class="post-meta">
						<div class="post-meta-details">
							<h6>Post Details</h6>
							<div class="post-author">
								<p><i class="fa  fa-user"></i><strong class="" >
								{{#if user}}
								<a href="{{#url}}users/{{user.id}}{{/url}}">
									{{#if user.realname}}
										{{user.realname}}
									{{else}}
										{{user.username}}
									{{/if}}</a>
								{{else}}
									Anonymous
								{{/if}}
</strong></p>
							</div> <!-- end .post-author -->

							<div class="post-time-meta">
								<p><i class="fa  fa-clock-o"></i><strong class="post-time" >{{ datetime-fromNow created }}</strong></p>
							</div> <!-- end .post-time-meta -->

							<div class="post-published-status">
								{{#if isPublished}}
									<p><i class="fa  fa-file-o"></i><strong class="post-time" >Published</strong></p>
								{{else}}
									{{!-- @todo add ucfirst handler and format status --}}
									<p><i class="fa  fa-file"></i><strong class="post-time" >{{status}}</strong></p>
								{{/if}}
							</div> <!-- end .post-published-status -->
						</div> <!-- end .post-details -->

					</div> <!-- end .post-meta -->

				</div> <!-- end .post-body -->

				<div class="form-options-nav-wrapper">
					{{#if fieldsets}}
					<h6>Options:</h6>
					<ul class="form-options-nav">
						{{#each fieldsets}}
							<li class="{{#if active}}active{{/if}}">
								<a class="js-switch-fieldset" data-fieldset="{{name}}" title="{{name}}">{{legend}}</a>
							</li>
						{{/each}}
					</ul>
					{{/if}}
				</div>

				<div class="post-form-wrapper">

				</div> <!-- end .post-details -->

				{{!-- TODO : Show recent revisions

				<div class="post-wrapper">
					<div class="post-history">
						<h6>Post History</h6>
						<ul class="post-history-list">

							<li class="post-history-list-item">edited by <span class="post-history-name"><a>{User Name}</a></span></li>
							<div class="post-history-time"><span><i class="fa  fa-clock-o"></i> 3 hours ago</span></div>

							<li class="post-history-list-item">published by <span class="post-history-name"><a>{Admin Display Title}</a></span></li>
							<div class="post-history-time"><span><i class="fa  fa-clock-o"></i> 6 hours ago</span></div>

							<li class="post-history-list-item">created by <span class="post-history-name"><a>{Anonymous}</a></span></li>
							<div class="post-history-time"><span><i class="fa  fa-clock-o"></i> 14 hours ago</span></div>

						</ul>
					</div>
				</div>
				--}}
			</div> <!-- end .post-body -->
		</section> <!-- end .post -->

	</div> <!-- end modal-wrapper -->

	<section class="modal-footer">

		<div class="modal-submit">
			<button type="submit" form="edit-post-form"><i class="fa  fa-plus  fa-lg"></i> Save Changes</button>
		</div>

	</section> <!-- end modal-footer -->
