<input name="{{name}}_label" id="{{id}}_label" type="text" placeholder="Enter a location here to search...">
<button type="search" class="success  radius  button  map-search-btn"><i class="icon-search  icon-medium"></i> Search</button>
<button type="search" class="radius  button  geolocate-btn"><i class="icon-location-arrow  icon-medium"></i> Find My Location</button>
<!--<input name="{{name}}_lat" id="{{id}}_lat" type="text" class="lat">
<input name="{{name}}_lon" id="{{id}}_lon" type="text" class="lon">-->

<div id="{{id}}_map" class="map"></div>