  <div class="admin-profile">
    <div id="admin-avatar" class="admin-avatar"></div>
    <div class="admin-edit">
      <!-- NOTE: need dynamic usernames/roles here -->
      <h5 id="username" class="username">Dude Bro</h5>
      <p id="admin-role" class="admin-role" >Super Admin</p>

      <ul class="inline-list">
        <li><small><a href="#" id="edit-profile" >Edit Profile</a></small></li>
        <li><small><a href="#" id="logout" >Logout</a></small></li>
      </ul>
    </div>
  </div>

  <div class="admin-stats-wrapper">
    <ul class="admin-stats">
      <li id="posts-stats" class="panel post-stats">
        <h4 id="posts-stats-value">1500</h4>
        <p>posts</p>
      </li>
      <li id="users-stats" class="panel user-stats">
          <h4 id="users-stats-value">138</h4>
          <p>users</p>
      </li>
      <li id="views-stats" class="panel views-stats">
          <h4 id="views-stats-value">52416</h4>
          <p>views</p>
      </li>
    </ul>
  </div>

  <div class="admin-menu" data-section="accordion">
      <section class="active">
        <p id="admin-menu-posts" class="title" data-section-title><a href="#"><i class="icon-inbox"></i> Posts</a></p>

        <div id="admin-menu-all-posts" class="content" data-section-content>
          <a href="#"><p><i class="icon-calendar"></i> All Posts <span class="round secondary label">1500</span></p></a>
        </div>


        <div id="admin-menu-awaiting-review" class="content" data-section-content>
          <a href="#"><p><i class="icon-star-empty"></i> Awaiting Review <span class="round secondary label">27</span></p></a>
        </div>


        <div id="admin-menu-published" class="content" data-section-content>
          <a href="#"><p><i class="icon-file-alt"></i> Published <span class="round success label">413</span></p></a>
        </div>


        <div id="admin-menu-unpublished" class="content" data-section-content>
          <a href="#"><p><i class="icon-file"></i> Unpublished <span class="round alert label">1,060</span></p></a>
        </div>
      </section>

      <section class="disable">
        <p id="admin-menu-tasks" class="title" data-section-title><a href="#"><i class="icon-tasks"></i> Tasks</a></p>

        <div id="admin-menu-my-tasks"class="content" data-section-content>
          <a href="#"><p><i class="icon-pencil"></i> My Tasks <span class="round secondary label">75</span></p></a>
        </div>

        <div id="admin-menu-todo"class="content" data-section-content>
          <a href="#"><p><i class="icon-check-empty"></i> To Do <span class="round label">39</span></p></a>
        </div>

        <div id="admin-menu-completed"class="content" data-section-content>
          <a href="#"><p><i class="icon-check"></i> Completed <span class="round success label">36</span></p></a>
        </div>
      </section>

      <section class="disable">
        <p id="admin-menu-tools" class="title" data-section-title><a href="#"><i class="icon-cog"></i> Tools</a></p>

        <div id="" class="content" data-section-content>
          <p>Tools stuff goes here :)</p>
        </div>
      </section>
  </div>

