<header role="banner">
	<nav role="navigation" class="top-bar  top-bar-login" data-options="is_hover:false">
		<ul class="title-area">
			<!-- retina ready logo is a css background image -->
			<li class="name">
				<div class="logo-image"></div>
				<h1><a href="#">{{site_name}}</a></h1>
			</li> <!-- end .name -->
		</ul> <!-- end .title-area -->

    <section class="top-bar-section  top-bar-section-login">
			<!-- Right Nav Section -->
			<ul class="right">
				<li class="show-for-medium-up"><a class="inverse" href="#login"><i class="fa  fa-user  fa-lg"></i> LOGIN/REGISTER</a></li>
				<li class="show-for-small"><a class="inverse" href="#login"><i class="fa  fa-user  fa-lg"></i></a></li>
			</ul>
		</section> <!-- end .top-bar-section -->
	</nav> <!-- end .navigation -->
</header> <!-- end .banner -->
