<header role="banner">
	<nav role="navigation" class="top-bar" data-options="is_hover:false">
		<ul class="title-area">
			<!-- retina ready logo is a css background image -->
			<li class="name  hide-for-small">
				<div class="logo-image"></div>
				<h1><a href="#">Deployment Name</a></h1>
			</li>
		</ul>

		<!-- TODO: figure out mobile nav and subnav -->
		<!-- TODO: work out active styles -->

		<section class="top-bar-section">
			<!-- Left Nav Section -->
			<ul class="left">
				<li class="divider"></li>
				<li class="js-views-menu-link  hide-for-medium-down"><a class="views" href="#"><i class="icon-eye-open  icon-large"></i> VIEWS</a></li>
				<li class="js-views-menu-link-mobile  show-for-medium-down"><a class="views" href="#"><i class="icon-eye-open"></i><!-- icon only --></a></li>
				<li class="divider"></li>
				<li class="js-sets-menu-link  hide-for-medium-down"><a class="sets" href="#"><i class="icon-th-large  icon-large"></i> SETS</a></li>
				<li class="js-sets-menu-link-mobile  show-for-medium-down"><a class="sets" href="#"><i class="icon-th-large"></i><!-- icon only --></a></li>
				<li class="divider"></li>

			</ul>

			<!-- Right Nav Section -->
			<ul class="right">
				<li class="create-post  hide-for-medium-down"><a id="create-post-button" class="create-post-button" href="#" data-reveal-id="createPost"><i class="icon-plus  icon-large"></i> CREATE</a></li>
				<li class="create-post  show-for-medium-down"><a id="create-post-button-small" class="create-post-button" href="#" data-reveal-id="createPost"><i class="icon-plus"></i><!-- icon only --></a></li>
				<li class="js-workspace-panel-button  hide-for-medium-down"><a class="workspace-panel-button  inverse" href="#workspace-panel"><i class="icon-dashboard  icon-large"></i> WORKSPACE</a></li>
				<li class="js-workspace-panel-button-small  show-for-medium-down"><a class="workspace-panel-button  inverse" href="#workspace-panel"><i class="icon-dashboard"></i><!-- icon only --></a></li>
			</ul>
		</section>
	</nav>
</header>

<!-- subnavs need to be outside of header and above map-wrapper-->
{{> views-dropdown-nav }}
{{> sets-dropdown-nav }}

<!-- on mobile devices deployment name is moved below topbar nav for better layout-->
<li class="name-small  show-for-small">
	<div class="logo-image"></div>
	<h4><a href="#">Deployment Name</a></h4>
</li>
