<div class="row">

	<div class="actions-bar">
		<div class="actions-bar-header">
			<h3>Messages</h3>
		</div>
		<div class="actions-bar-admin">
			<ul class="hide-for-small">
				<li>
					<a href="#" class="js-select-all">
						<span class="select-text">Select All</span>
						<span class="unselect-text visually-hidden">Unselect All</span>
					</a>
				</li>
				<li class="js-bulk-action disabled"><a href="#" class="js-user-bulk-archive"><i class="fa  fa-archive"></i>Archive</a></li>
			</ul>

			<a href="#" data-dropdown="drop-bulk-actions" class="dropdown-button  show-for-small">actions</a><br>
			<ul id="drop-bulk-actions" data-dropdown-content class="dropdown-list  show-for-small">
			<li>
				<a href="#" class="js-select-all">
					<span class="select-text">Select All</span>
					<span class="unselect-text visually-hidden">Unselect All</span>
				</a>
			</li>
			<li class="js-bulk-action disabled"><a href="#" class="js-user-bulk-archive"><i class="fa  fa-archive"></i>Archive</a></li>
			</ul>
		</div>
	</div> <!-- end .actions-bar -->

	<div class="list-view-filter">
		<div class="row">

			<form role="form" action="">
				<div class="list-view-filter-info">
					{{>post-list-info}}
				</div> <!-- end .list-view-filter-info -->

				<div class="list-view-filter-count">
					<div class="filter-count-select">
						<label class="visually-hidden" for="filter-count">Number of messages shown</label>
						<select id="filter-count" >
							<option selected>3</option>
							<option>5</option>
							<option>10</option>
							<option>20</option>
						</select>
					</div>

				</div> <!-- end .list-view-filter-count -->

				<div class="list-view-filter-sort">
					<div class="filter-sort-select">
						<label class="visually-hidden" for="filter-sort">Sort by</label>
						<select id="filter-sort" >
							{{#each sortKeys}}
								<option value="{{@key}}">{{this}}</option>
							{{/each}}
						</select>
					</div>

				</div> <!-- end .list-view-filter-sort -->
			</form>

		</div> <!-- end .row -->
	</div> <!-- end .list-view-filter -->

	<div class="list-view-wrapper">

		<ul class="list-view-item-list">
		</ul>

	</div> <!-- end .list-view-wrapper -->
</div> <!-- end .row -->

<div class="pagination-wrapper">
	{{>pagination}}
</div> <!-- end .pagination-wrapper -->
