<div class="list-view-bulk-actions  js-list-view-bulk-actions  visually-hidden">
	<div class="row">
		<ul class="list-view-bulk-actions-list">
			<li>
				<form>
					<label class="select-all" for="select-all">
						<input class="show-for-medium-down" type="checkbox" id="select-all">
						<span class="hide-for-medium-down underline">Select All</span>
					</label>
				</form>
			</li>
			<li><a href="#"> <i class="fa  fa-plus-circle"></i> <span class="hide-for-medium-down">Create Post</span></a></li>
			<li><a href="#"> <i class="fa  fa-trash-o"></i> <span class="hide-for-medium-down">Archive</span></a></li>
		</ul> <!-- end .list-view-bulk-actions-list .hide-for-medium-down-->
	</div> <!-- end .row -->
</div> <!-- end .list-view-bulk-actions -->

<div class="row">
	<div class="list-view-filter">
		<div class="row">

			<form role="form" action="">
				<div class="list-view-filter-info">
					{{>post-list-info}}
				</div> <!-- end .list-view-filter-info -->

				<div class="list-view-filter-count">
					<div class="filter-count-select">
						<label class="visually-hidden" for="filter-count">Number of messages shown</label>
						<select id="filter-count" >
							<option selected>3</option>
							<option>5</option>
							<option>10</option>
							<option>20</option>
						</select>
					</div>

				</div> <!-- end .list-view-filter-count -->

				<div class="list-view-filter-sort">
					<div class="filter-sort-select">
						<label class="visually-hidden" for="filter-sort">Sort by</label>
						<select id="filter-sort" >
							{{#each sortKeys}}
								<option value="{{@key}}">{{this}}</option>
							{{/each}}
						</select>
					</div>

				</div> <!-- end .list-view-filter-sort -->
			</form>

		</div> <!-- end .row -->
	</div> <!-- end .list-view-filter -->

	<div class="list-view-wrapper">

		<ul class="list-view-item-list">
		</ul>

	</div> <!-- end .list-view-wrapper -->
</div> <!-- end .row -->

<div class="pagination-centered">
	{{>pagination}}
</div> <!-- end .pagination-centered -->
