<div class="list-view-select-post  js-list-view-select-post">
	<label class="visually-hidden" for="select-post">Select Post</label>
	<input type="checkbox" name="select-post" class="select-post-input  js-select-post-input" value="{{id}}" {{#if selected}}checked="checked"{{/if}}>
</div> <!-- end .list-view-select-post -->

<div class="row">
	<article>
		<div class="list-view-post-image">
			<img src="{{imageurl "mini-coop-square.jpg"}}" alt="">
		</div> <!-- end .list-view-post-image -->

		<div class="list-view-post-details">
			<div class="row">
				<h5 class="list-view-post-title">{{!--<i class="fa  fa-lock"></i> --}}<a href="#posts/{{id}}">{{ title }}</a></h5>
				<div class="list-view-post-time">
					<p> <i class="fa  fa-clock-o"></i>{{ datetime-calendar created }}</p>
				</div> <!-- end .list-view-post-time -->
			</div> <!-- end .row -->
		</div> <!-- end .list-view-post-details -->

		<div class="list-view-post-excerpt">
			<p>{{ prune content 100 }} <a href="#posts/{{id}}"><span class="read-more"> &nbsp;Read&nbsp;More</span></a></p>
		</div> <!-- end .list-view-post-excerpt -->

		<div class="list-view-post-admin">

			{{#if tags}}
			<div class="list-view-post-categories-wrapper">
				<h6>Categories</h6>
				<ul class="list-view-post-categories">
					{{#each tags}}
					<a href="#"><li {{#if description}}title="{{ description }}"{{/if}}><i class="fa  fa-circle" {{#if color}}style="color: #{{color}}"{{/if}}></i>{{tag}}</li></a>
					{{/each}}
				</ul>
			</div> <!-- end .list-view-post-categories-wrapper -->
			{{/if}}

			<div class="list-view-post-edit-wrapper">
				<ul class="list-view-post-edit">
					{{#if allowed_methods.put}}
						<li><a href="#" class="list-view-post-edit-buttons  post-edit  js-post-edit"> <i class="fa  fa-edit"></i> <span class="hide-for-medium-down">edit</span></a></li>
					{{/if}}
						{{!--<li><a href="#" class="list-view-post-edit-buttons  post-add-to-set  js-post-set"> <i class="fa  fa-plus-circle"></i> <span class="hide-for-medium-down">set</span></a></li>--}}
					{{#if allowed_methods.put}}
					<li>
						{{#if isPublished}}
							<a href="#" class="list-view-post-edit-buttons  post-unpublish  js-post-unpublish"> <i class="fa  fa-file"></i> <span class="hide-for-medium-down">unpublish</span></a>
						{{else}}
							<a href="#" class="list-view-post-edit-buttons  post-publish  js-post-publish"> <i class="fa  fa-file-o"></i> <span class="hide-for-medium-down">publish</span></a>
						{{/if}}
					</li>
					{{/if}}
					{{#if allowed_methods.delete}}
						<li><a href="#" class="list-view-post-edit-buttons  post-delete  js-post-delete"> <i class="fa  fa-trash-o"></i></a></li>
					{{/if}}
				</ul> <!-- end .list-view-post-edit -->
			</div> <!-- end .list-view-post-edit-wrapper -->

		</div> <!-- end .list-view-post-admin -->
	</article>
</div> <!-- end .row -->
