<div class="row">
  <div class="list-view-post-image">
    <!-- FIXME: color coded category icon - need a responsive & dynamic solution here -->
  <!-- <div class="post-category-notification-red"></div> -->
  <div class="list-view-select-post">
    <form class="">
      <label for="select-post">
        <input type="checkbox" id="select-post">
        <!-- <span class="custom checkbox"></span> -->
      </label>
    </form>
  </div>
  <img src="/media/kohana/images/mini-coop.png" alt="">
  </div> <!-- end .list-view-post-avatar -->

  <div class="list-view-post-details">
    <div class="row">
      <h5 class="list-view-post-title"><a href="{{ site.baseurl }}/post-details.html">{{ title }}</a> <i class="icon-lock"></i></h5>
      <div class="list-view-post-time">
        <p> <i class="icon-time"></i>Today 12:20 pm</p>
      </div> <!-- end .list-view-post-time -->
    </div> <!-- end .row -->
  </div> <!-- end .list-view-post-details -->

  <div class="list-view-post-excerpt">
    <p>{{ content }}. <a href="#"><span class="read-more">...&nbsp;Read&nbsp;More</span></a></p>
  </div> <!-- end .list-view-post-excerpt -->

  <div class="list-view-post-admin">
    <div class="list-view-post-categories">
      <button class="button secondary"> <i class="icon-circle"></i> Category 1</button>
    </div>
    <div class="hide-for-medium-down list-view-post-edit-wrapper">
      <ul class="list-view-post-edit">
        <li><a href="#" class="button secondary"> <i class="icon-edit"></i> edit</a></li>
        <li><a href="#" class="button secondary"> <i class="icon-plus-sign"></i> set</a></li>
        <li><a href="#" class="button secondary"> <i class="icon-file"></i> unpublish</a></li>
        <li><a href="#" class="button secondary"> <i class="icon-trash"></i></a></li>
      </ul>
    </div>

    <div class="show-for-medium-down list-view-post-edit-wrapper">
      <ul class="list-view-post-edit">
        <li><a href="#" class="button secondary"> <i class="icon-edit"></i></a></li>
        <li><a href="#" class="button secondary"> <i class="icon-plus-sign"></i></a></li>
        <li><a href="#" class="button secondary"> <i class="icon-file-alt"></i></a></li>
        <li><a href="#" class="button secondary"> <i class="icon-trash"></i></a></li>
      </ul>

    </div> <!-- end .list-view-post-edit-wrapper -->
  </div> <!-- end .list-view-post-admin -->
</div> <!-- end row -->
