<div class="list-view-bulk-actions hidden">
  <div class="row">
  <ul class="list-view-bulk-actions-list hide-for-medium-down">
    <li><a href="#" class="underline" >Select All</a></li>
    <li><a href="#"> <i class="icon-edit"></i> Edit</a></li>
    <li><a href="#"> <i class="icon-file-alt"></i> Publish</a></li>
    <li><a href="#"> <i class="icon-file"></i> Unpublish</a></li>
    <li><a href="#"> <i class="icon-trash"></i> Delete</a></li>
    <li><a href="#"> <i class="icon-mail-forward"></i> Assign</a></li>
    <li><a href="#"> <i class="icon-lock"></i> Privacy</a></li>
  </ul>

  <ul class="list-view-bulk-actions-list show-for-medium-down">
    <li>
      <form class="">
        <label for="select-all">
          <input type="checkbox" id="select-post">
          <!-- <span class="custom checkbox"></span> -->
        </label>
      </form>
    </li>
    <li><a href="#"> <i class="icon-edit"></i></a></li>
    <li><a href="#"> <i class="icon-file-alt"></i></a></li>
    <li><a href="#"> <i class="icon-file"></i></a></li>
    <li><a href="#"> <i class="icon-trash"></i></a></li>
    <li><a href="#"> <i class="icon-mail-forward"></i></a></li>
    <li><a href="#"> <i class="icon-lock"></i></a></li>
  </ul>
  </div>
</div> <!-- end .list-view-bulk-actions -->

<div class="list-view-wrapper">
  <div class="row">

    <div class="list-view-filter">
      <div class="row">


        <form role="form" class="custom" action="">
          <div class="list-view-filter-info">
            <h6>Showing 2 from 1,500 posts</h6>
          </div> <!-- end .list-view-filter-info -->

          <div class="list-view-filter-count">
            <div class="filter-count-select">
              <select id="customDropdown1" >
                <option selected DISABLED>Count:</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>All</option>
              </select>
            </div>

          </div> <!-- end .list-view-filter-count -->

          <div class="list-view-filter-sort">
            <div class="filter-sort-select">
              <select id="customDropdown2" >
                <option selected DISABLED>Sort by:</option>
                <option>Title A-Z</option>
                <option>Category</option>
                <option>Time</option>
              </select>
            </div>

          </div> <!-- end .list-view-filter-sort -->
        </form>

      </div> <!-- end .row -->
    </div> <!-- end .list-view-filter -->

    <ul class="posts">
    </ul>
    
    <div class="pagination-centered">
      <ul class="pagination">
        <li class="arrow unavailable"><a href="">&laquo;</a></li>
        <li class="current"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li class="unavailable"><a href="">&hellip;</a></li>
        <li><a href="">12</a></li>
        <li><a href="">13</a></li>
        <li class="arrow"><a href="">&raquo;</a></li>
      </ul>
    </div> <!-- end .pagination-centered -->

  </div> <!-- end .row .list-view-filter -->
</div> <!-- end .list-view-wrapper -->
