	<div class="post-header">
		{{!-- FIXME: Hiding post category marker until we have some way to specify the primary category
		<div class="post-category-marker"></div> <!-- end .post-category-marker -->
		--}}

		<div class="post-title">
			<h5>{{ title }}</h5>
		</div> <!-- end .post-title -->

		<div class="post-actions-wrapper">
			<ul class="post-actions">
				{{#if allowed_methods.put}}
					<li><a href="#" class="post-actions-button  post-edit  js-post-edit"> <i class="fa  fa-edit"></i><span class="hide-for-medium-down">edit</span></a></li>
				{{/if}}
					{{!--<li><a href="#" class="post-actions-button  post-add-to-set  js-post-set"> <i class="fa  fa-plus-circle"></i> <span class="hide-for-medium-down">set</span></a></li>--}}
				{{#if allowed_methods.put}}
				<li>
					{{#if isPublished}}
						<a href="#" class="post-actions-button  post-unpublish  js-post-unpublish"> <i class="fa  fa-file"></i> <span class="hide-for-medium-down">unpublish</span></a>
					{{else}}
						<a href="#" class="post-actions-button  post-publish  js-post-publish"> <i class="fa  fa-file-o"></i> <span class="hide-for-medium-down">publish</span></a>
					{{/if}}
				</li>
				{{/if}}
				{{#if allowed_methods.delete}}
					<li><a href="#" class="post-actions-button  post-delete  js-post-delete"> <i class="fa  fa-trash-o"></i></a></li>
				{{/if}}
			</ul>
		</div> <!-- end .post-actions -->

	</div> <!-- end .post-header -->

	<div class="post-body">
		<div class="post-image">
			<img src="{{ imageurl "mini-coop.jpg" }}" alt="">

			<div class="post-meta">
				<div class="post-meta-details">
					<h6>Post Details</h6>
					<div class="post-author">
						<p><i class="fa  fa-user"></i><strong class="" >{{#if user}}<a href="#users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>{{else}}Anonymous{{/if}}</strong></p>
					</div> <!-- end .post-author -->

					{{#if location}}
					<div class="post-location-meta">
						<p><i class="fa  fa-map-marker"></i><span class="post-location  underline" >{{location.lat}}, {{location.lon}}</span></p>
					</div> <!-- end .post-location-meta -->
					{{/if}}

					<div class="post-time-meta">
						<p><i class="fa  fa-clock-o"></i><strong class="post-time" >{{ datetime-fromNow created }}</strong></p>
					</div> <!-- end .post-time-meta -->

					<div class="post-published-status">
						{{#if isPublished}}
							<p><i class="fa  fa-file-o"></i><strong class="post-time" >Published</strong></p>
						{{else}}
							{{!-- @todo add ucfirst handler and format status --}}
							<p><i class="fa  fa-file"></i><strong class="post-time" >{{status}}</strong></p>
						{{/if}}
					</div> <!-- end .post-published-status -->
				</div> <!-- end .post-details -->

				{{#if tags}}
				<div class="post-categories">
					<h6>Categories</h6>
					<ul>
						{{#each tags}}
						<a href="#"><li {{#if title}}title="{{ description }}"{{/if}}><i class="fa  fa-circle"  {{#if color}}style="color: #{{color}}"{{/if}}></i>{{tag}}</li></a>
						{{/each}}
					</ul>
				</div> <!-- end .post-categories -->
				{{/if}}
			</div> <!-- end .post-meta -->

		</div> <!-- end .post-body -->

		<div class="post-details">

			<div class="post-excerpt">
				{{!-- @todo replace with markdown formatting --}}
				<p>
				{{newLineToBr content}}
				</p>
			</div> <!-- end .post-excerpt -->

			<div class="post-values">
				<!-- Populated in onDomRefresh callback -->
			</div> <!-- end .post-values -->

		</div> <!-- end .post-details -->
		<hr>
		<!-- disabled until T79 is complete
		<p class="click-to-zoom"><small><i class="fa  fa-search-plus"></i> click images to zoom</small></p>
		<div class="post-thumbnails-wrapper">
			<ul class="post-thumbnails  js-lightbox-gallery">
				<li><a href="{{ imageurl "mini-coop.jpg"}}"><img src="{{ imageurl "mini-coop.jpg"}}" alt=""></a></li>
				<li><a href="{{ imageurl "mini-coop-2.jpg"}}"><img src="{{ imageurl "mini-coop-2.jpg"}}" alt=""></a></li>
				<li><a href="{{ imageurl "mini-coop-3.jpg"}}"><img src="{{ imageurl "mini-coop-3.jpg"}}" alt=""></a></li>
				<li><a href="{{ imageurl "mini-coop-4.jpg"}}"><img src="{{ imageurl "mini-coop-4.jpg"}}" alt=""></a></li>
			</ul>
		</div> !-- end .post-thumbnails-wrapper --
		-->
	</div> <!-- end .post-body -->

