<aside class="related-posts">
  <div class="post-header">
    <h6>Related Posts</h6>
  </div> <!-- end .related-posts-header -->

<div class="related-posts-body">
<div class="related-post-module-wrapper">
  <div class="related-post-image">
    <!-- FIXME: color coded category icon - need a responsive & dynamic solution here -->
    <!-- <div class="post-category-notification-red"></div> -->
    <img src="{{ site.baseurl }}/images/mini-coop.png" alt="">
  </div> <!-- end .list-view-post-avatar -->

  <div class="related-post-details">
    <div class="row">
          <!-- NOTE: this title will break layout if more than -->
      <h5 class="related-post-title"><a href="{{ site.baseurl }}/post-details.html">Mini Cooper spotted ... </a></h5>
      <div class="related-post-time">
        <small> <i class="icon-time"></i>7 hours ago</small>
      </div> <!-- end .list-view-post-time -->
    </div> <!-- end .row -->
  </div> <!-- end .list-view-post-details -->

  <div class="related-post-excerpt">
    <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus <a href="#"><span class="read-more">...&nbsp;Read&nbsp;More</span></a></p>
  </div> <!-- end .list-view-post-excerpt -->
</div>  
</div>

</aside> <!-- end .related-posts -->
