
	<form role="search" action="">
		<div class="search-form-wrapper">

			<div class="location-field">
				<label class="visually-hidden" for="location-field">Location</label>
				<input type="text" id="location-field" class="location-field js-search-location" placeholder="Location" value="">
			</div>

			<!-- TODO: need to figure out best solution for tags, time etc... -->
			<div class="tags-select">
				<label class="visually-hidden" for="tags">Tags</label>
				{{#if tags}}
				<select class="js-search-tag">
					<option value="" selected>Tags</option>
					{{#each tags}}
			        <option value="{{id}}">{{tag}}</option>
					{{/each}}
				</select>
				 {{/if}}
			</div>

			<div class="sets-select">
				<label class="visually-hidden" for="sets">Sets</label>
				<select class="js-search-set">
					<option selected DISABLED>Sets</option>
					<option>SET #1</option>
					<option>SET #2</option>
					<option>SET #3</option>
				</select>
			</div>

			<div class="time-select">
				<label class="visually-hidden" for="time">Time</label>
				<select class="js-search-time">
					<option selected DISABLED>Time</option>
					<option>Time #1</option>
					<option>Time #2</option>
					<option>Time #3</option>
				</select>
			</div>

			<div class="search-field-wrapper">
				<div class="search-field">
					<label class="visually-hidden" for="search-field">Search</label>
					<input type="search" id="q" class="search-field js-search-keyword" placeholder="Keyword" value="">
				</div>

				<div class="search-bar-button">
					<button type="submit" class=""><i class="fa  fa-search"></i></button>
<!-- 					<button type="submit" class="show-for-medium-down"><i class="fa  fa-search"></i>SEARCH</button> -->
				</div>
			</div>

		</div>
	</form>
