
	<form role="search" action="">
		<div class="search-form-wrapper">

			<div class="location-field">
				<label class="visually-hidden" for="location-field">Location</label>
				<input type="text" id="location-field" class="location-field  js-search-location" placeholder="Location" value="{{ state.location }}">
			</div>

			<!-- TODO: need to figure out best solution for tags, time etc... -->
			<div class="tags-select">
				<label class="visually-hidden" for="tags">Tags</label>
				{{#if tags}}
				<select class="search-tag-field  js-search-tag" multiple placeholder="Tags">
					{{#each tags}}
						{{ option id tag ../state.tags }}
					{{/each}}
				</select>
				 {{/if}}
			</div>

			<div class="sets-select">
				<label class="visually-hidden" for="sets">Sets</label>
				<select class="js-search-set" placeholder="Sets">
					<option>SET #1</option>
					<option>SET #2</option>
					<option>SET #3</option>
				</select>
			</div>

			<div class="time-select">
				<label class="visually-hidden" for="time-from">From Time</label>
					<input type="text" id="time-from" class="search-field  time-from  js-search-time-from" placeholder="From Time" value="{{ state.created_after }}">
				<label class="visually-hidden" for="time-to">Until Time</label>
					<input type="text" id="time-to" class="search-field  time-to  js-search-time-to" placeholder="Until Time" value="{{ state.created_before }}">
			</div>

			<div class="search-field-wrapper">
				<div class="search-field">
					<label class="visually-hidden" for="search-field">Search</label>
					<input type="search" id="q" class="search-field  js-search-keyword" placeholder="Keyword" value="{{ state.q }}">
				</div>

				<div class="search-bar-button">
					<button type="submit" class=""><i class="fa  fa-search"></i></button>
<!-- 					<button type="submit" class="show-for-medium-down"><i class="fa  fa-search"></i>SEARCH</button> -->
				</div>
			</div>

		</div>
	</form>
