<article class="body-wrapper">
	<div class="row">

		<section class="settings-box">
			<div class="post-header">
				<h5>Site Settings</h5>
			</div> <!-- end .post-header -->

			<div class="post-body">
				<div class="settings-form-wrapper">

					<div class="settings-form settings-site">
						<form action="" data-group="site">
							<label for="site-name"><h6>Site Name</h6></label>
							<input type="text" id="site_name" name="site_name" placeholder="My Deployment" required value="{{site.site_name}}">

							<label for="owner_name"><h6>Site Owner Name</h6></label>
							<input type="text" id="owner_name" name="owner_name" placeholder="Crowdsourcing Inc" required value="{{site.owner_name}}">

							<div class="settings-button-wrapper">
								<button type="submit" class="settings-button"><i class="fa  fa-cloud-upload  fa-lg"></i> Save Site Settings</button>
							</div>

						</form> <!-- end .form -->
					</div> <!-- end .settings-site -->

				</div> <!-- end .settings-form-wrapper -->

				<div class="settings-form-wrapper">

					<div class="settings-form settings-features">
						<form action="" data-group="features">
							<h6>Features</h6>

							{{! ensure that all features have a default of "false"}}
							{{#each features}}
							<input type="hidden" name="{{@key}}" value="false">
							{{/each}}

							{{#each features}}
							<label>
								<input type="checkbox" name="{{@key}}" value="true"{{#if this}} checked="checked"{{/if}}>
								{{@key}}
							</label>
							{{/each}}

							<div class="settings-button-wrapper">
								<button type="submit" class="settings-button"><i class="fa  fa-cloud-upload  fa-lg"></i> Save Features</button>
							</div>

						</form> <!-- end .form -->
					</div> <!-- end .settings-site -->

				</div> <!-- end .settings-form-wrapper -->

			</div> <!-- end .post-body -->

		</section> <!-- end .settings-box -->

	</div>
</article>
