<article class="body-wrapper">
	<div class="row">
<section class="login-box">
	<div class="post-header">
		<h5>Site Settings</h5>
	</div> <!-- end .post-header -->

	<div class="post-body">
		<div class="login-form-wrapper">

			<div class="login-form">
				<form action="">
					<label for="site-name"><h6>Site Name</h6></label>
					<input type="text" id="site_name" name="site_name" placeholder="My Deployment" required value="{{site_name}}">

					<label for="owner_name"><h6>Site Owner Name</h6></label>
					<input type="text" id="owner_name" name="owner_name" placeholder="Crowdsourcing Inc" required value="{{owner_name}}">

					<input type="submit" name="submit" value="Save Settings" class="submit-button">

				</form> <!-- end .form -->
			</div> <!-- end .login-form -->

			<!--<div class="social-login">
				<div class="social-buttons">
					<p class="medium-text">You can also login with these social accounts</p>
					<div class="facebook-button-wrapper">
						<a href="" class="facebook-button"><i class="fa  fa-facebook-square"></i>Facebook</a>
					</div>
					<div class="twitter-button-wrapper">
						<a href="" class="twitter-button"><i class="fa  fa-twitter-square"></i>Twitter</a>
					</div>
					<div class="google-button-wrapper">
						<a href="" class="google-button"><i class="fa  fa-google-plus-square"></i>Google</a>
					</div>
				</div>

				<div class="open-id">
						<p class="medium-text">or use your OpenID</p>
						<div class="open-id-input">
							<input type="text" name="open-id" placeholder="Your OpenID">
						</div>
						<div class="open-id-submit">
							<button type="submit">Go</button>
						</div>

				</div>

				<div class="login-disclaimer">
					<small><i class="fa  fa-asterisk"></i>You may need to disable popup blockers to register with the above sites.</small>
				</div>

			</div> <!-- end .social-login -->

		</div> <!-- end .login-form-wrapper -->

	</div> <!-- end .post-body -->

</section> <!-- end .login-box -->

</div>
</article>
