<div class="row">

	<div class="actions-bar">
		<div class="actions-bar-header">
			<h3>Tags</h3>
		</div>
		<div class="actions-bar-admin">
			<ul class="hide-for-small">
				<li>Select All</li>
				<li><a href=""><i class="fa  fa-tag"></i>Add Tag</li>
				<li><a href=""><i class="fa  fa-trash-o"></i>Delete</a></li>
			</ul>

			<a href="#" data-dropdown="drop" class="dropdown-button  show-for-small">actions</a><br>
			<ul id="drop" data-dropdown-content class="dropdown-list  show-for-small">
			<li>Select All</li>
			<li><a href=""><i class="fa  fa-tag"></i>Add Tag</li>
			<li><a href=""><i class="fa  fa-trash-o"></i>Delete</a></li>
			</ul>
		</div> <!-- end .actions-bar-admin tag-list -->
	</div> <!-- end .actions-bar tag-list -->

	<div class="list-view-filter--tags">
		<div class="row">

			<form role="form" action="">
				<div class="list-view-filter-info--tags">
					<!-- TODO: label list-info then add array to post list info-->
					{{>post-list-info}}
				</div> <!-- end .list-view-filter-info tags -->

				<div class="list-view-filter-count--tags">
					<div class="filter-count-select">
						<label class="visually-hidden" for="filter-count">Number of tags shown</label>
						<select id="filter-count" class="filter-count">
							<option selected>3</option>
							<option>5</option>
							<option>10</option>
							<option>20</option>
						</select>
					</div>

				</div> <!-- end .list-view-filter-count tags -->

				<div class="list-view-filter-sort--tags">
					<div class="filter-sort-select">
						<label class="visually-hidden" for="filter-sort">Sort tags by</label>
						<select id="filter-sort" class="filter-sort">
							{{#each sortKeys}}
								<option value="{{@key}}">{{this}}</option>
							{{/each}}
						</select>
					</div>

				</div> <!-- end .list-view-filter-sort -->
			</form>

		</div> <!-- end .row -->
	</div> <!-- end .list-view-filter tags -->

	<ul class="tag-grid">
		<li>
			<div class="list-view-wrapper--tag">
				<ul class="list-view-tag-list"></ul>
			</div> <!-- end .list-view-wrapper -->
		</li>

		<li>
			<div class="list-view-wrapper--tag">
				<ul class="list-view-tag-list"></ul>
			</div> <!-- end .list-view-wrapper -->
		</li>

		<li>
			<div class="list-view-wrapper--tag">
				<ul class="list-view-tag-list"></ul>
			</div> <!-- end .list-view-wrapper -->
		</li>
	</ul>

</div> <!-- end .row -->

<div class="pagination-wrapper">
	{{>pagination}}
</div> <!-- end .pagination-wrapper -->
