<div class="list-view-bulk-actions  js-list-view-bulk-actions  hidden">
	<div class="row">
		<ul class="list-view-bulk-actions-list">
			<li>
				<label class="select-all js-tag-select-all" for="select-all">
					<input class="show-for-medium-down js-tag-select-all-input" type="checkbox" id="select-all">
					<span class="hide-for-medium-down underline select-text">Select All</span>
					<span class="hide-for-medium-down underline unselect-text visually-hidden">Unselect All</span>
				</label>
			</li>
			<li>
				<a href="#" class="js-tag-bulk-delete"> <i class="fa  fa-trash-o"></i>
				<span class="hide-for-medium-down">Delete</span></a>
			</li>
		</ul> <!-- end .list-view-bulk-actions-list .hide-for-medium-down-->
	</div> <!-- end .row -->
</div> <!-- end .list-view-bulk-actions -->

<div class="row">
	<div class="list-view-filter">
		<div class="row">

			<form role="form" action="">
				<div class="list-view-filter-info">
					{{>post-list-info}}
				</div> <!-- end .list-view-filter-info -->

				<div class="list-view-filter-count">
					<div class="filter-count-select">
						<label class="visually-hidden" for="filter-posts-count">Number of tags shown</label>
						<select id="filter-posts-count" >
							<option selected>3</option>
							<option>5</option>
							<option>10</option>
							<option>20</option>
						</select>
					</div>

				</div> <!-- end .list-view-filter-count -->

				<div class="list-view-filter-sort">
					<div class="filter-sort-select">
						<label class="visually-hidden" for="filter-posts-sort">Sort tags by</label>
						<select id="filter-posts-sort" >
							{{#each sortKeys}}
								<option value="{{@key}}">{{this}}</option>
							{{/each}}
						</select>
					</div>

				</div> <!-- end .list-view-filter-sort -->
			</form>

		</div> <!-- end .row -->
	</div> <!-- end .list-view-filter -->

	<div class="list-view-wrapper">
		<div class="right">
			<a href="#" class="list-view-post-edit-buttons  post-edit  js-tag-create">
				<i class="fa  fa-edit"></i> <span class="hide-for-medium-down"> Add Tag</span>
			</a>
		</div>
		<ul class="list-view-tag-list"></ul>
	</div> <!-- end .list-view-wrapper -->
</div> <!-- end .row -->

<div class="pagination-centered">
	{{>pagination}}
</div> <!-- end .pagination-centered -->