<div class="row">
	<div class="user-list-admin-bar">
		<div class="user-list-admin-bar-header">
			<h1>Users</h1>
		</div>
		<div class="user-list-admin-bar-select">
			<ul>
				<li>Select All</li>
				<li><a href=""><i class="fa  fa-edit"></i>Edit</a></li>
				<li><a href=""><i class="fa  fa-cogs"></i>Change Role</a></li>
				<li><a href=""><i class="fa  fa-trash-o"></i>Delete</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="pagination-centered">
	{{>pagination}}
</div> <!-- end .pagination-centered -->
