<div class="row">
	<div class="user-list-actions-bar">
		<div class="user-list-actions-bar-header">
			<h1>Users</h1>
		</div>
		<div class="user-list-actions-bar-admin">
			<ul class="hide-for-small">
				<li>Select All</li>
				<li>
					<a href="#" data-dropdown="drop1"><i class="fa  fa-cogs"></i>Change Role</a>
					<ul id="drop1" class="f-dropdown" data-dropdown-content>
					  <li><a href="#">Admin</a></li>
					  <li><a href="#">User</a></li>
					  <li><a href="#">Guest</a></li>
					</ul>
				</li>
				<li><a href=""><i class="fa  fa-trash-o"></i>Delete</a></li>
			</ul>

			<a href="#/" data-dropdown="drop" class="dropdown-button  show-for-small">actions</a><br>
			<ul id="drop" data-dropdown-content class="f-dropdown  show-for-small">
				<li><a href=""><i class="fa  fa-edit"></i>Select All</a></li>
				<li><a href=""><i class="fa  fa-edit"></i>Edit</a></li>
				<li><a href=""><i class="fa  fa-cogs"></i>Change Role</a></li>
				<li><a href=""><i class="fa  fa-trash-o"></i>Delete</a></li>
			</ul>
		</div>
	</div> <!-- end .user-list-actions-bar -->

	<div class="user-list-filter-bar">
		<div class="row">
			<div class="user-list-categories">
				<ul class="user-list-categories-list  hide-for-small">
					<li>All <span class="all-count-number  hide-for-small"><span class="count-number">47</span></span></li>
					<li>Admin <span class="admin-count-number  hide-for-small"><span class="count-number">9</span></span></li>
					<li>Member <span class="guest-count-number  hide-for-small"><span class="count-number">73</span></span></li>
					<li>User <span class="user-count-number  hide-for-small"><span class="count-number">17</span></span></li>
					<li>Category <span class="all-count-number  hide-for-small"><span class="count-number">47</span></span></li>
				</ul>

				<a href="#/" data-dropdown="drop" class="dropdown-button  show-for-small">filter by roles</a><br>
				<ul id="drop" data-dropdown-content class="user-list-categories-list  f-dropdown  show-for-small">
					<li>All <span class="all-count-number  hide-for-small"><span class="count-number">47</span></span></li>
					<li>Admin <span class="admin-count-number  hide-for-small"><span class="count-number">9</span></span></li>
					<li>Member <span class="guest-count-number  hide-for-small"><span class="count-number">73</span></span></li>
					<li>User <span class="user-count-number  hide-for-small"><span class="count-number">17</span></span></li>
					<li>Category <span class="all-count-number  hide-for-small"><span class="count-number">47</span></span></li>
				</ul>
			</div>
			<div class="user-list-search">
				<form class="user-list-search-form">
					<input tabindex="1" id="autocomplete" type="search" placeholder="Search Users" autocomplete="off">
				</form>
			</div>
		</div> <!-- end .row -->
	</div> <!-- end .user-list-filter-bar -->

	<div class="list-view-wrapper">

		<ul class="list-view-user-profile-list">
		</ul>

	</div> <!-- end .user-list-profile -->

</div> <!-- end .row -->

<div class="pagination-wrapper">
	{{>pagination}}
</div> <!-- end .pagination-wrapper -->
