	<div class="workspace-profile">
		<div id="workspace-avatar" class="workspace-avatar"></div>
		<div class="workspace-edit">
			<!-- NOTE: need dynamic usernames/roles here -->
			<h5 id="username" class="username">Dude Bro</h5>
			<p id="workspace-role" class="workspace-role" >Super Admin</p>

			<ul class="inline-list">
				<li><small><a href="#" id="edit-profile" >Edit Profile</a></small></li>
				<li><small><a href="#" id="logout" >Logout</a></small></li>
			</ul>
		</div>
	</div>

	<div class="workspace-stats-wrapper">
		<ul class="workspace-stats">
			<li id="posts-stats" class="panel  post-stats">
				<h4 id="posts-stats-value">1500 <span>posts</span></h4>
			</li>
			<li id="users-stats" class="panel  user-stats">
					<h4 id="users-stats-value">138 <span>users</span></h4>
			</li>
			<li id="views-stats" class="panel  views-stats">
					<h4 id="views-stats-value">52416 <span>views</span></h4>
			</li>
		</ul>
	</div>

	<div class="workspace-menu">
			<section class="active">
				<p id="workspace-menu-posts" class="title  js-title" data-section-title><a href="#"><i class="icon-inbox"></i> Posts</a></p>

				<div id="workspace-menu-all-posts" class="content  js-content" data-section-content>
					<a href="#"><p><i class="icon-calendar"></i> All Posts <span class="round  secondary  label">1500</span></p></a>
				</div>


				<div id="workspace-menu-awaiting-review" class="content  js-content" data-section-content>
					<a href="#"><p><i class="icon-star-empty"></i> Awaiting Review <span class="round  secondary  label">27</span></p></a>
				</div>


				<div id="workspace-menu-published" class="content  js-content" data-section-content>
					<a href="#"><p><i class="icon-file-alt"></i> Published <span class="round  success  label">413</span></p></a>
				</div>


				<div id="workspace-menu-unpublished" class="content  js-content" data-section-content>
					<a href="#"><p><i class="icon-file"></i> Unpublished <span class="round  alert  label">1,060</span></p></a>
				</div>
			</section>

			<section class="">
				<p id="workspace-menu-tasks" class="title  js-title" data-section-title><a href="#"><i class="icon-tasks"></i> Tasks</a></p>

				<div id="workspace-menu-my-tasks" class="content  js-content" data-section-content>
					<a href="#"><p><i class="icon-pencil"></i> My Tasks <span class="round  secondary  label">75</span></p></a>
				</div>

				<div id="workspace-menu-todo" class="content  js-content" data-section-content>
					<a href="#"><p><i class="icon-check-empty"></i> To Do <span class="round  label">39</span></p></a>
				</div>

				<div id="workspace-menu-completed" class="content  js-content" data-section-content>
					<a href="#"><p><i class="icon-check"></i> Completed <span class="round  success  label">36</span></p></a>
				</div>
			</section>

			<section class="">
				<p id="workspace-menu-tools" class="title  js-title" data-section-title><a href="#"><i class="icon-cog"></i> Tools</a></p>

				<div id="" class="content  js-content" data-section-content>
					<p>Tools stuff goes here :)</p>
				</div>
			</section>
	</div>

