<h1 class="visually-hidden">Workspace</h1>
<div class="workspace-profile">
	<div id="workspace-avatar" class="workspace-avatar"></div>
	<div class="workspace-admin">
		<!-- NOTE: need dynamic usernames/roles here -->
		<h5 id="username" class="username">Dude Bro</h5>
		<p id="workspace-role" class="workspace-role" >Super Admin</p>

		<ul class="inline-list">
			<li><a href="#" id="edit-profile" class="edit-profile" >Edit Profile</a></li>
			<li><a href="#" id="logout" class="logout  js-logout" >Logout</a></li>
		</ul>
	</div>
</div>

<div class="workspace-stats-wrapper">
	<ul class="workspace-stats">
		<li id="posts-stats" class="post-stats">
			<h5 id="posts-stats-value"><i class="fa  fa-calendar"></i> 1500 <span>posts</span></h5>
		</li>
		<li id="users-stats" class="user-stats">
			<h5 id="users-stats-value"><i class="fa  fa-group"></i> 138 <span>users</span></h5>
		</li>
		<li id="views-stats" class="views-stats">
			<h5 id="views-stats-value"><i class="fa  fa-bar-chart-o"></i> 52416 <span>views</span></h5>
		</li>
	</ul>
</div>

<nav class="workspace-menu">
	<section class="active">
		<h2 id="workspace-menu-posts" class="title  js-title" data-section-title><a href="#"><i class="fa  fa-inbox"></i> Posts</a></h2>

		<ul class="content  js-content" data-section-content>


			<!--<li id="workspace-menu-awaiting-review">
	<a href="#workspace/review"><p><i class="fa  fa-star-o"></i> Awaiting Review <span class="awaiting-review-label">27</span></p></a>
			</li>-->


			<li id="workspace-menu-published" data-page="posts">
				<a href="#posts"><p><i class="fa  fa-file-o"></i> Published <span class="published-label">413</span></p></a>
			</li>


			<li id="workspace-menu-unpublished" data-page="posts/unpublished">
				<a href="#posts/unpublished"><p><i class="fa  fa-file"></i> Unpublished <span class="unpublished-label">1,060</span></p></a>
			</li>


			<li id="workspace-menu-all-posts" data-page="posts/all">
				<a href="#posts/all"><p><i class="fa  fa-files-o"></i> All Posts <span class="all-posts-label">1500</span></p></a>
			</li>
		</ul>
	</section>
	<section class="active">
		<h2 id="workspace-menu-posts" class="title  js-title" data-section-title><a href="#"><i class="fa  fa-inbox"></i> Incoming Messages</a></h2>

		<ul class="content  js-content" data-section-content>


			<li id="workspace-menu-messages-new" data-page="messages">
				<a href="#messages"><p><i class="fa  fa-file-o"></i> New <span class="messages-new-label">413</span></p></a>
			</li>

			<li id="workspace-menu-messages-sms" data-page="messages/sms">
				<a href="#messages/list/sms"><p><i class="fa  fa-phone"></i> SMS <span class="messages-sms-label">413</span></p></a>
			</li>

			<li id="workspace-menu-messages-email" data-page="messages/email">
				<a href="#messages/list/email"><p><i class="fa  fa-envelope-o"></i> Email <span class="messages-email-label">413</span></p></a>
			</li>


			<li id="workspace-menu-messages-archived" data-page="messages/archived">
				<a href="#messages/list/archived"><p><i class="fa  fa-file"></i> Archived <span class="messages-archived-label">1,060</span></p></a>
			</li>


			<li id="workspace-menu-messages-all" data-page="messages/all">
				<a href="#messages/list/all"><p><i class="fa  fa-files-o"></i> All Messages <span class="messages-all-label">1500</span></p></a>
			</li>
		</ul>
	</section>

	<!--<section class="">
		<h2 id="workspace-menu-tasks" class="title  js-title" data-section-title><a href="#"><i class="fa  fa-tasks"></i> Tasks</a></h2>

		<ul class="content  js-content" data-section-content>
			<li id="workspace-menu-my-tasks">
				<a href="#"><p><i class="fa  fa-pencil"></i> My Tasks <span class="my-tasks-label">75</span></p></a>
			</li>

			<li id="workspace-menu-todo">
				<a href="#"><p><i class="fa  fa-square-o"></i> To Do <span class="todo-label">39</span></p></a>
			</li>

			<li id="workspace-menu-completed">
				<a href="#"><p><i class="fa  fa-check-square-o"></i> Completed <span class="completed-label">36</span></p></a>
			</li>
		</ul>
	</section>-->

	<section class="">
		<h2 id="workspace-menu-tools" class="title  js-title" data-section-title><a href="#"><i class="fa  fa-cogs"></i> Tools</a></h2>

		<ul class="content  js-content" data-section-content>
			<li id="workspace-menu-my-tasks">
				<a href="#users"><p><i class="fa fa-group"></i> Manage Users</p></a>
			</li>
			<li id="workspace-menu-my-tasks">
				<a href="#tags"><p><i class="fa fa-group"></i> Manage Tags</p></a>
			</li>
			<li id="workspace-tools-site">
				<a href="#settings/site"><p><i class="fa  fa-wrench"></i> Site Settings</p></a>
			</li>
		</ul>
	</section>

<!--
	<section class="">
		<h2 id="workspace-menu-tutorials" class="title  js-title" data-section-title><a href="#"><i class="fa  fa-book"></i> Tutorials</a></h2>

		<ul class="content  js-content">
			<li>
				<a href="#"><p><i class="fa  fa-wrench"></i> Getting Started</p></a>
			</li>

			<li>
				<a href="#"><p><i class="fa  fa-rocket"></i> Create Your own Deployment</p></a>
			</li>

			<li>
				<a href="#"><p><i class="fa  fa-lightbulb-o"></i> Understanding the Workspace</p></a>
			</li>

			<li>
				<a href="#"><p><i class="fa  fa-star"></i>Basics 101</p></a>
			</li>
		</ul>
	</section>
-->
	<section class="">
		<h2 id="workspace-menu-tools" class="title  js-title" data-section-title><a href="#"><i class="fa  fa-inbox"></i> Contact Us</a></h2>

		<ul class="content  js-content">
			<li>
				<a href="#"><p><i class="fa  fa-smile-o"></i> Support</p></a>
			</li>

			<li>
				<a href="#"><p><i class="fa  fa-globe"></i> Ushahidi</p></a>
			</li>

			<li>
				<a href="#"><p><i class="fa  fa-group"></i> Community Liason</p></a>
			</li>
		</ul>
	</section>
</nav>
