<div class="row">
	<article>

		<div class="list-view-image--user">
			<img src="//www.gravatar.com/avatar/{{gravatar}}?s=400&amp;d=mm" alt="{{ username }}">
		</div> <!-- end .list-view-image -->

		<div class="list-view-details  list-view-details--user">
			<div class="row">
				<h4 class="list-view-header">{{ username }}</h4>
					<div class="details-column-a">
						<p class="user-list-role"><b>Role: </b>{{ role }}</p>
						<p class="user-list-full-name"><b>Full Name: </b>
							{{#if realname}}
								<span>{{ realname }}</span>
							{{else}}
								No full name
							{{/if}}
						</p>
					</div> <!-- end .details-column-a -->

					<div class="details-column-b">
						<p class="user-list-last-login"><b>Last Login: </b>
							{{#if last_login}}
								{{ datetime-fromNow last_login }}
							{{else}}
								Never
							{{/if}}
						</p>
						<p class="user-list-last-attempt"><b>Last Attempt: </b>
							{{#if last_attempt}}
								{{ datetime-fromNow last_attempt }}
							{{else}}
								Never
							{{/if}}
						</p>
						<p class="user-list-failed-attempt"><b>Failed Attempts: </b>{{ failed_attempts }}</p>
					</div> <!-- end .details-column-b -->
			</div> <!-- end .row -->
		</div> <!-- end .list-view-details-user -->

		<div class="list-view-admin">
			<div class="list-view-edit-wrapper">
				<ul class="list-view-edit">
					{{#if allowed_methods.put}}
						<li>
							<label class="checkbox  list-view-edit-button">
								<input type="checkbox" name="select-post" class="js-select-input" value="{{id}}" {{#if selected}}checked="checked"{{/if}} />
								<i class="select-icon"></i> <span>select</span>
							</label>
						</li>
						<li>
							<a class="list-view-edit-button  js-user-edit" title="edit this post"><i class="fa  fa-edit"></i> edit</a>
						</li>
						<li>
							<a data-dropdown="drop-user-roles{{id}}" class="list-view-edit-button" title="change user role">
								<i class="fa  fa-cogs"></i> change role</a>
							<ul id="drop-user-roles{{id}}" class="f-dropdown" data-dropdown-content>
								{{#each roles}}
									<li><a class="js-user-change-role" data-role-name="{{name}}" >{{display_name}}</a></li>
								{{/each}}
							</ul>
						</li>
					{{/if}}

					{{#if allowed_methods.delete}}
						<li><a class="list-view-edit-button js-user-delete" title="delete this user"><i class="fa  fa-trash-o"></i> delete</a></li>
					{{/if}}
				</ul> <!-- end .list-view-post-edit -->
			</div> <!-- end .list-view-post-edit-wrapper-->
		</div> <!-- end .user-list-profile-admin -->

	</article>
</div> <!-- end .row -->
