<div class="row">
	<article>

		<div class="list-view-image--user">
			<img src="//www.gravatar.com/avatar/{{gravatar}}?s=400&amp;d=mm" alt="{{ username }}">
		</div> <!-- end .list-view-image -->

		<div class="list-view-details  list-view-details--user">
			<div class="row">
				<h4 class="list-view-header">{{ username }}</h4>
					<div class="details-column-a">
						<p class="user-list-role"><b>{{t "user.role"}}: </b>{{ role }}</p>
						<p class="user-list-full-name"><b>{{t "user.full_name"}}: </b>
							{{#if realname}}
								<span>{{ realname }}</span>
							{{else}}
								{{t "user.no_full_name"}}
							{{/if}}
						</p>
					</div> <!-- end .details-column-a -->

					{{#is loggedin_user.role 'admin'}}
					<div class="details-column-b">
						<p class="user-list-last-login"><b>{{t "user.last_login"}}: </b>
							{{#if last_login}}
								{{ datetime-fromNow last_login }}
							{{else}}
								{{t "user.never"}}
							{{/if}}
						</p>
						<p class="user-list-last-attempt"><b>{{t "user.last_attempt"}}: </b>
							{{#if last_attempt}}
								{{ datetime-fromNow last_attempt }}
							{{else}}
								{{t "user.never"}}
							{{/if}}
						</p>
						<p class="user-list-failed-attempt"><b>{{t "user.failed_attempts"}}: </b>{{ failed_attempts }}</p>
					</div> <!-- end .details-column-b -->
					{{/is}}
			</div> <!-- end .row -->
		</div> <!-- end .list-view-details-user -->

		<div class="list-view-admin">
			<div class="list-view-edit-wrapper">
				<ul class="list-view-edit">
					{{#if allowed_methods.put}}
						<li>
							<label class="checkbox  list-view-edit-button">
								<input type="checkbox" name="select" class="js-select-input" value="{{id}}" {{#if selected}}checked="checked"{{/if}} />
								<i class="select-icon"></i> <span>{{t "nav.select"}}</span>
							</label>
						</li>
						<li>
							<a class="list-view-edit-button  js-user-edit" title="{{t 'user.edit_this_post'}}"><i class="fa  fa-edit"></i> {{t "nav.edit"}}</a>
						</li>
						<li>
							<a class="list-view-edit-button js-user-change-role-drop" title="{{t 'user.change_user_role'}}"><i class="fa fa-cogs"></i> {{t "user.change_role"}}</a>
							<ul class="js-user-change-role-drop-content">
							{{#each roles}}
								<li><a class="js-user-change-role" data-role-name="{{name}}">{{display_name}}</a></li>
							{{/each}}
							</ul>
						</li>
					{{/if}}

					{{#if allowed_methods.delete}}
						<li><a class="list-view-edit-button js-user-delete" title="{{t 'user.delete_this_user'}}"><i class="fa  fa-trash-o"></i> {{t "nav.delete"}}</a></li>
					{{/if}}
				</ul> <!-- end .list-view-post-edit -->
			</div> <!-- end .list-view-post-edit-wrapper-->
		</div> <!-- end .user-list-profile-admin -->

	</article>
</div> <!-- end .row -->
